<div data-jc="form" data-jc-path="common.form" class="hidden" data-jc-config="if:app;submit:appform_submit;title:@(Apps's details);width:920" data-jc-controller="Apps">
	<div class="padding">
		<div class="row">
			<div class="col-md-3">
				<div class="padding nplr-xs">
					<div data-jc="icon" data-jc-path="apps.form.data.icon"></div>
					<br />
					<div data-b="apps.form.data" data-b-template="true" data-b-visible="value && value.name && value.url">
						<script type="text/html">
							<div class="b">{{ value.name }}</div>
							<div>v{{ value.version }}</div>
							<div class="fs11 silver mt10">@(Author: <b>{{ value.author }}</b>)</div>
							<div class="fs11 silver">{{ value.email }}</div>
						</script>
					</div>
					<br />
					<div data-jc="template" data-jc-path="apps.form" data-jc-config="properties:daterefreshed,online,hostname">
						<script type="text/html">
							{{ if daterefreshed }}
							<div class="keyvalue">
								<div class="key">@(Refreshed)</div>
								<div class="value">{{ if online }}<span class="badge badge-green mr5">@(online)</span>{{ fi }}{{ daterefreshed | format('@(yyyy-MM-dd HH:mm)') }}</div>
							</div>
							{{ fi }}
							{{ if hostname }}
							<div class="keyvalue">
								<div class="key">@(IP address)</div>
								<div class="value">{{ hostname }}</div>
							</div>
							{{ fi }}
						</script>
					</div>
				</div>
			</div>
			<div class="col-md-9 form-border">
				<div class="padding nplr-xs">
					<div data-jc="textbox" data-jc-path="apps.form.url" data-jc-config="delay:2000;maxlength:500;required:true;type:url;icon2:globe;autofocus:true;placeholder:@(https\://www.yourdomain.com/openplatform.json)">@(URL address to <b>openplatform.json</b>)</div>
					<div data-jc="error" data-jc-path="apps.form.data" class="ui-error-nm"></div>
					<div data-jc="template" data-jc-path="apps.form.data">
						<script type="text/html">
							{{ if description }}
							<div class="help"><i class="fa fa-info-circle"></i>{{ description }}</div>
							{{ fi }}
						</script>
					</div>
					<br />
					<div data-jc="textbox" data-jc-path="apps.form.title" data-jc-config="maxlength:50;required:true" class="m">@(Title)</div>
					<div data-jc="textbox" data-jc-path="apps.form.settings" data-jc-config="icon2:cog;maxlength:200;placeholder:@(You can type your own custom settings)" class="m">@(Custom settings)</div>
					<div data-jc="textbox" data-jc-path="apps.form.accesstoken" data-jc-config="maxlength:50;required:true">@(Access token)</div>
					<div class="help"><a href="javascript:void(0)" class="exec" data-exec="appform_generatetoken">@(Generate token)</a></div>
				</div>
				<hr />
				<div class="padding nplr-xs">
					<h2 class="m"><i class="fa fa-lock"></i>@(Permissions for this application)</h2>
					<div class="mt10 red b" data-jc="checkbox" data-jc-path="apps.form.blocked">@(Application is blocked)</div>
					<div data-jc="checkbox" data-jc-path="apps.form.allownotifications">@(Allow push notifications)</div>
					<div data-jc="checkbox" data-jc-path="apps.form.responsive">@(Allow for mobile devices)</div>
					<div data-jc="checkbox" data-jc-path="apps.form.allowreadmeta">@(Allow to read OpenPlatform's meta informations)</div>
					<div data-jc="checkbox" data-jc-path="apps.form.serververify" class="b">@(Enable server-side verification)</div>
					<br />
					<div data-jc="dropdown" data-jc-path="apps.form.allowreadprofile" data-jc-config="items:@(Disabled)|0,@(Basic informations)|1,@(All informations)|2;type:number" data-jc-value="1" class="m">@(Read user profile)</div>
					<div data-jc="dropdown" data-jc-path="apps.form.allowreadusers" data-jc-config="items:@(Disabled)|0,@(Basic informations)|1,@(Basic informations about users which use this application)|3,@(All informations)|2,@(All informations about users which use this application)|4;type:number" data-jc-value="0" class="m">@(Read list of users)</div>
					<div data-jc="dropdown" data-jc-path="apps.form.allowreadapps" data-jc-config="items:@(Disabled)|0,@(Basic informations)|1,@(All informations)|2;type:number" data-jc-value="0" class="m">@(Read list of applications)</div>

					<div data-jc="error" data-jc-path="apps.form.response"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-9 col-md-offset-3">
				<div class="padding npt npb">
					<div data-jc="validation" data-jc-path="apps.form" class="inline" data-jc-config="if:value && value.data && value.data.name">
						<button name="submit">@(SAVE)</button>
					</div>
					<button name="cancel">@(Cancel)</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

function appform_generatetoken() {
	SET('apps.form.accesstoken', GUID(30));
	CHANGE('apps.form.accesstoken', true);
}

function appform_submit(component) {
	SETTER('loading', 'show');
	AJAX('POST /api/apps/', apps.form, function(response) {
		SETTER('loading', 'hide', 1000);
		SET('apps.form.response', response);
		if (response.success) {
			SETTER('notify', 'append', '@(Application has been saved successfully.)');
			EXEC('Apps/refresh');
			EXEC('Users/refresh');
			component.hide();
		}
	});
}

SCOPE('Apps', function(self) {
	self.watch('form.url', function(path, value) {

		if (!value) {
			self.set('form.data', null);
			return;
		}

		if (!value.isURL()) {
			self.set('form.data', [{ error: '@(URL address is invalid)' }]);
			return;
		}

		AJAX('POST /api/apps/meta/', { url: value }, function(response) {
			self.set('form.data', response.value);
			!self.get('form.title') && self.set('form.title', response.value.name);
		});
	}, true);
});

COMPONENT('icon', function(self) {
	var last = '/img/empty.png';
	self.readonly();

	self.make = function() {
		self.html('<img src="{0}" class="img-responsive img-application" onerror="onImageError(this)" alt="Application\'s icon" />'.format(last));
	};

	self.setter = function(value) {
		if (!value)
			value = '/img/empty.png';
		if (last === value)
			return;
		last = value;
		self.find('img').attr('src', value);
	};
});
</script>