<div data---="largeform__common.form__if:appsform;reload:?/reload;submit:?/submit;icon:rocket;autofocus:1;width:700" class="hidden" data-scope="appsform">
	<div>
		<div class="padding npb">
			<div data---="input__?.url__required:1;type:url;$delay:1000">@(URL address)</div>
			<div class="help"><i class="fa fa-question-circle"></i>@(URL address to application's meta file)</div>
		</div>

		<div data-bind="?.meta.notallowed__show" class="hidden padding">
			<div class="alert" style="border-color:red">
				<div class="b"><i class="fa fa-ban mr5 red"></i>@(WARNING)</div>
				<div class="mt5">@(You can't provide this application in your OpenPlatform because <b>the domain name is not defined in the allowed domains</b>.)</div>
			</div>
		</div>

		<br data-bind="?.meta__show" />

		<div class="bg-smoke padding" data-bind="?__template__track:meta__show:value && value.meta">
			<script type="text/html">
				<div class="caption"><i class="fa fa-book-open"></i>@(Downloaded meta data)</div>

				{{ if value.readme }}
				<div>
					<h2>@(Read me)</h2>
					{{ value.readme | markdown }}
				</div>
				{{ fi }}

				<div class="keyvalue">
					<div class="key">@(Name)</div>
					<div class="value">{{ value.meta.name | def }}</div>
				</div>
				<div class="keyvalue">
					<div class="key">@(Version)</div>
					<div class="value">{{ value.meta.version | def }}</div>
				</div>
				<div class="keyvalue">
					<div class="key">@(Description)</div>
					<div class="value">{{ value.meta.description | def }}</div>
				</div>
				<div class="keyvalue">
					<div class="key">@(Author)</div>
					<div class="value">{{ value.meta.author | def }}</div>
				</div>
				{{ if value.meta.email }}
				<div class="keyvalue">
					<div class="key">@(Email address)</div>
					<div class="value"><a href="mailto:{{ value.meta.email }}">{{ value.meta.email }}</a></div>
				</div>
				{{ fi }}
				{{ if value.meta.roles && value.meta.roles.length }}
				<div class="keyvalue">
					<div class="key">@(Supported roles)</div>
					<div class="value">{{ value.meta.roles | joinbgcolor(' ') }}</div>
				</div>
				{{ fi }}
				{{ if value.meta.origin && value.meta.origin.length }}
				<div class="keyvalue">
					<div class="key">@(Allowed origin)</div>
					<div class="value">{{ value.meta.origin | join | def }}</div>
				</div>
				{{ fi }}
				{{ if value.meta.services }}
				<div class="keyvalue">
					<div class="key">@(Services)</div>
					<div class="value">{{ value.meta.services | joinobject | def }}</div>
				</div>
				{{ fi }}

				<div class="keyvalue">
					<div class="key b"><i class="fa fa-globe-europe"></i>@(Obtained host)</div>
					<div class="value red">{{ value.meta.hostname | def }}</div>
				</div>

			</script>
		</div>
		<div class="padding">
			<div class="caption">@(Main settings)</div>
			<div data---="input__?.title__required:1;maxlength:40__''">@(Title)</div>

			<div data-bind="?.titles2__show:value && value.length" class="hidden" style="margin-top:10px">
				<div class="caption">@(Localized titles)</div>
				<div data-bind="?.titles2__template" div data---="editable__?.titles" class="multilanguages">
					<script type="text/html">
					{{ foreach m in value }}
						<div class="multilanguage" data-id="{{ m.id }}">
							<div class="key"><i class="fa fa-times red exec" data-exec="?/localizeremove"></i>{{ m.id }}</div>
							<div class="value">
								<div class="editable" data-editable="maxlength:30" bind="?.titles.{{ m.id }}__text__empty"></div>
							</div>
						</div>
					{{ end }}
					</script>
				</div>
			</div>
			<div class="m help"><span class="exec link" data-exec="?/localize"><i class="fa fa-language"></i>@(Add localization)</span></div>

			<div data---="input__?.sn__maxlength:50;placeholder:XXXX-XXXX-XXXX-XXXX;camouflage:•__''">@(Serial number)</div>
			<div class="help m"><i class="fa fa-question-circle"></i>@(Enter a serial number if the author requires it)</div>

			<div class="padding bg-smoke m radius">
				<div data---="input__?.origintoken__maxlength:50;camouflage:•__''">@(Origin token)</div>
				<div class="help">@(An origin token is a simple security element if you don't want to check the origin of 3rd party application. The application must send the <code>X-Origin</code> header with this token.) <span class="link exec" data-exec="?/origintoken"><i class="fa fa-retweet"></i>@(Generate token)</span></div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div data---="input__?.position__maxlength:3;minvalue:0;type:number">@(Position index)</div>
				</div>
			</div>
			<div class="help m">@(A default position index. A lower index means a higher position in the list of applications. Users can change this position manually.)</div>
			<div class="panel m">
				<label><i class="fas fa-lock mr5"></i>@(Custom permissions)</label>
				<div class="padding">
					<div data---="checkbox__?.allowreadmeta">@(Read meta information about the platform)</div>
					<div data---="checkbox__?.allownotifications">@(Allow to send notifications)</div>
					<div data---="checkbox__?.allowmail">@(Allow to send mail messages)</div>
					<div data---="checkbox__?.allowsms">@(Allow to send SMS messages)</div>
					<hr />
					<div data---="radiobutton__?.allowreadprofile__inline:false;items:@(Disabled)|0,@(Basic data)|1,@(Basic data with the contact data)|2;type:number"><span class="fas fa-user-circle mr5"></span><b>@(Can the application read a user profile?)</b></div>
					<hr />
					<div data---="radiobutton__?.allowreadusers__inline:false;items:@(Disabled)|0,@(All users - basic data)|1,@(All users - basic data with the contact data)|2,@(Users who are using this app - basic data)|3,@(Users who are using this app - basic data with the contact data)|4;type:number"><span class="fas fa-users mr5"></span><b>@(Can the application read users?)</b></div>
				</div>
			</div>
			<div data---="extend__null__name:appsform"></div>
			<div data---="checkbox__?.blocked__null__false">@(Application is blocked)</div>
			<div data-bind="?.id__show" class="hidden">
				<div data---="checkbox__?.rebuildaccesstoken">@(Re-build access token)</div>
				<div data---="checkbox__?.rebuildservicetoken">@(Re-build service token)</div>
			</div>
		</div>
		<div data-bind="?.settings2__show:value && value.length__strict" class="hidden">
			<hr class="nmt nmb" />
			<div class="padding">
				<h2 class="red"><i class="fa fa-cog fa-spin"></i>@(Custom application settings)</h2>
				<div data---="parameters__?.settings2__height:200;dateformat:@(yyyy-MM-dd)__[]"></div>
			</div>
		</div>
	</div>
	<nav data---="validation__appsform__validonly:1">
		<button name="submit" disabled><i class="fa fa-check-circle"></i>@(SAVE)</button>
		<button name="cancel">@(Cancel)</button>
	</nav>
</div>

<script>

	Thelpers.joinobject = function(val, divider) {
		var keys = Object.keys(val || EMPTYOBJECT);
		return val ? Thelpers.encode(keys.join(divider == null ? ', ' : divider)) : '';
	};

	PLUGIN('appsform', function(exports) {

		exports.reload = function(com) {
			var model = GET('?');
			com.reconfigure({ title: model.id ? '@(Edit app)' : '@(Add app)' });
		};

		exports.localize = function(el) {
			var opt = {};
			opt.element = el;
			opt.items = GET('%cl.languages') || EMPTYARRAY;
			opt.placeholder = '@(Search language)';
			opt.callback = function(item) {

				var model = GET('?');
				if (!model.titles)
					model.titles = {};

				if (model.titles[item.id] == null) {
					model.titles[item.id] = model.title;
					model.titles2.push({ id: item.id, value: model.title || '@(Title)' });
					BIND('?.titles2');
				}

			};
			SETTER('directory/show', opt);
		};

		exports.localizeremove = function(el) {
			var model = GET('?');
			var id = el.closest('.multilanguage').attrd('id');
			delete model.titles[id];
			model.titles2 = model.titles2.remove('id', id);
			BIND('?.titles2');
		};

		exports.submit = function(hide) {
			var model = CLONE(GETR('?'));
			model.settings = model.settings2 && model.settings2.length ? {} : null;

			if (model.settings2 && model.settings2.length) {
				for (var i = 0; i < model.settings2.length; i++) {
					var item = model.settings2[i];
					model.settings[item.name] = item.value;
				}
			}

			model.titles2 = undefined;
			model.settings2 = undefined;
			DAPI(model.id ? ('apps_update/' + model.id) : 'apps_insert', model, OP.done('@(Application has been saved successfully)', function(response) {
				NULL('common.panel');
				EXEC('apps/refresh');
				EXEC('main/refreshmeta');
				hide();
			}));
		};

		exports.origintoken = function() {
			SET('?.origintoken', GUID(25));
		};

		exports.resolve = function(el) {
			var opt = {};
			opt.element = el;
			opt.summary = '@(OpenPlatform tries to resolve all IP addresses from the domain name).';
			opt.placeholder = '@(Type a URL address with the protocol)';
			opt.minwidth = 280;
			opt.callback = function(value) {

				if (!value)
					return;

				if (!(/^http(s)?\:\/\/.*?\w{2,}/i).test(value))
					value = 'https://' + value;

				DAPI(QUERIFY('dnsresolver', { domain: value }), function(response) {

					exports.scope();

					var model = GET('?');
					var is = false;

					if (!model.origin)
						model.origin = [];

					for (var i = 0; i < response.length; i++) {
						var item = response[i];
						if (model.origin.indexOf(item) == -1) {
							model.origin.push(item);
							is = true;
						}
					}

					is && UPD('?.origin');
				});
			};

			SETTER('floatinginput/show', opt);
		};

		WATCH('?.titles', function(path, value) {

			if (value == null)
				GET('?').titles = value = {};

			var arr = [];
			var keys = Object.keys(value);
			for (var i = 0; i < keys.length; i++)
				arr.push({ id: keys[i], value: value[keys[i]] });

			SET('?.titles2', arr);

		}, true);

		WATCH('?.url', function(path, value, type) {

			if (!value || !value.isURL()) {
				if (type) {
					INVALID('?.url');
					NULL('?.meta');
				}
				return;
			}

			DAPI(QUERIFY('apps_meta', { url: value }), OP.done(function(response) {

				var meta = response.value;
				if (!meta || !meta.name) {

					if (value.indexOf('openplatform.json') === -1 && value.length > 10) {
						if (value.charAt(value.length - 1) !== '/')
							value += '/';
						SET('?.url', value + 'openplatform.json');
						return;
					}

					INVALID('?.url');
					NULL('?.meta');
					return;
				}

				var model = GET('?');

				if (meta.openplatform && meta.openplatform.length)
					meta.notallowed = meta.openplatform.indexOf(location.protocol + '//' + location.hostname) === -1;

				SET('?.meta', meta);

				if (!model.id) {
					model.allowreadapps = meta.allowreadapps || 0;
					model.allowreadusers = meta.allowreadusers || 0;
					model.allownotifications = meta.allownotifications == true;
					model.allowreadprofile = meta.allowreadprofile;
					model.allowmail = meta.allowmail == true;
					model.allowsms = meta.allowsms == true;

					if (model.allowreadprofile == null)
						model.allowreadprofile = 1;

					if (model.allowreadusers == null)
						model.allowreadusers = 0;

					UPD('?.allowreadapps');
					UPD('?.allowreadprofile');
					UPD('?.allowmail');
					UPD('?.allowsms');
					UPD('?.allownotifications');
					UPD('?.allowreadusers');
				}

				if (!model.title)
					SET('?.title', meta.title || meta.name);

				if (!meta.settings)
					meta.settings = {};

				var settings = meta.settings;
				var newsettings = [];
				var keys = Object.keys(settings);

				for (var i = 0; i < keys.length; i++) {
					var key = keys[i];
					var type = settings[key].toLowerCase();
					var v = model.settings ? model.settings[key] : null;
					var vt = typeof(v);
					if (v == null || type !== vt) {
						switch (type) {
							case 'number':
								v = 0;
								break;
							case 'string':
								v = '';
								break;
							case 'boolean':
								v = false;
								break;
							case 'date':
								if (!(v instanceof Date))
									v = null;
								break;
						}
					}
					newsettings.push({ name: key, type: type, value: v });
				}

				SET('?.settings2', newsettings);
			}));
		}, true);
	});
</script>