<div data---="fullform__common.form__if:notifications;title:@(Notifications);icon:bell;reload:?/reload;closeesc:1;closeoutside:1;zindex:46;scrollbar:1;onhide:?/readall;visibleY:1;$id:notificationsform;scrollbarshadow:1" class="hidden" data-scope="notifications">
	<div data---="empty__?__parent:auto;icon:fa fa-check-circle green">

		<script type="text/html">
			@(Good job, you don't have any notifications.)
		</script>

		<div data---="masonry__?" class="notificationslist">
			<script type="text/html">
				<figure class="exec{{ if value.unread }} unread{{ fi }} type{{ value.type }}" data-data="{{ value.data | encodedata }}" data-id="{{ value.appid }}" data-exec="?/open" data-notifyid="{{ value.id }}">
					<div class="date">{{ value.dtcreated | datetime }}</div>
					<div class="app"><i class="{{ value.icon | icon }}"{{ if value.color }} style="color:{{ value.color }}"{{ fi }}></i>{{ value.title }}</div>
					<div class="body markdown-small"><div class="markdown">{{ value.body | markdown_notifications }}</div></div>
				</figure>
			</script>
		</div>
	</div>
</div>

<script>

	ON('#notificationsform', function(com) {
		com.find('.ui-fullform-title').find('button').after('<button data-bind="notifications__show:value&&value.length" name="clear" class="ui-fullform-button-clear"><i class="fa fa-trash-o"></i></button>');
		com.find('button[name="clear"]').on('click', function() {
			if (notifications && notifications.length) {
				DAPI('notifications_clear', NOOP);
				SET('notifications', []);
			}
		});
		COMPILE();
	});

	PLUGIN('notifications', function(exports) {

		var cache = 'session';

		exports.reload = function() {
			if (!W.notifications || user.countnotifications)
				exports.refresh();
		};

		exports.open = function(el) {
			EXEC('openplatform/open', el);
			NUL('common.form');
			var unread = CACHE('unread');
			var id = el.attrd('notifyid');
			if (unread[id]) {
				delete unread[id];
				CACHE('unread', unread, cache);
			}
			el.rclass('unread');
		};

		exports.readall = function() {
			FIND('#notificationsform').element.find('.unread').rclass('unread');
			CACHE('unread', {}, cache);
		};

		exports.refresh = function() {
			var unread = CACHE('unread') || {};
			var is = false;
			FUNC.faviconbadge(false);
			SET('user.countnotifications', 0);
			DAPI('notifications', function(response) {
				for (var i = 0; i < response.length; i++) {
					var item = response[i];
					if (item.appid) {
						var app = user.apps.findItem('id', item.appid);
						if (app) {
							item.icon = app.icon;
							item.title = app.title;
							item.color = app.color;
							if (item.unread)
								unread[item.id] = 1;
							else
								item.unread = unread[item.id] === 1;
						}
					}
				}
				CACHE('unread', unread, cache);
				exports.scope();
				SET('?', response);
			});
		};
	});

</script>