<div data---="form__common.form__if:sessionsform;icon:history;width:850;title:@(My open sessions);reload:?/reload" class="hidden" data-scope="sessionsform">
	<div class="padding">
		<div data---="masonry__?__sm:50;md:33.33;lg:33.33" class="listing listingsessions">
			<script type="text/html">
				<figure>
					<div class="item{{ if value.current }} current{{ fi }}" data-id="{{ value.id }}">
						<div class="name">{{ if !value.current }}<span class="exec" data-exec="?/cancel" data-prevent="true"><i class="fas fa-trash-o"></i></span>{{ fi }}<b class="hellip"><i class="fa {{ value.ua | deviceicon }} mr5"></i>{{ value.ua }}</b></div>
						<div class="padding">
							<div class="value"><span><a href="https://tools.keycdn.com/geo?host={{ value.ip | ipparser }}" target="_blank">{{ value.ip | ipparser }}</a></span>@(IP address)</div>
							<div class="value"><span>{{ value.dtcreated | format('[ts]') }}</span>@(Created)</div>
							<div class="value"><span>{{ value.dtlogged | format('[ts]') }}</span>@(Updated)</div>
						</div>
					</div>
				</figure>
			</script>
		</div>
	</div>
	<nav>
		<button name="cancel" class="userbg" style="max-width:100%;width:100%">@(Close)</button>
	</nav>
</div>

<script>
	PLUGIN('sessionsform', function(exports) {

		exports.reload = function() {
			DAPI('sessions', '?');
		};

		exports.cancel = function(el) {
			var id = el.closest('.item').attrd('id');
			SETTER('approve/show', '@(Are you sure you want to cancel selected session?)', '"trash-o" @(Yes)', function() {
				DAPI('sessions_remove/' + id, exports.reload);
			});
		};
	});

	Thelpers.ipparser = function(value) {
		var index = value.indexOf('/');
		return index === -1 ? value : value.substring(0, index);
	};

	Thelpers.deviceicon = function(value) {
		return (/iphone|android|ipad/i).test(value) ? 'fa-tablet' : 'fa-desktop';
	};

</script>
