<div data---="largeform__common.form__if:usersform;reload:?/reload;submit:?/submit;icon:user;autofocus:1;width:800" class="hidden" data-scope="usersform">
	<div>
		<div class="accountphoto">
			<div data---="preview__?.photo__url:/api/upload/photo/;width:300;height:300;format:/photos/{0}"></div>
			<div class="help center"><i class="fa fa-camera"></i>@(300x300 pixels)</div>
		</div>

		<div class="padding">
			<div data-bind="?__track:id__template">
				<script type="text/html">
					{{ if value.id }}
						<div class="caption">@(Internal data)</div>
						<div class="row">
							<div class="col-md-6">
								<table class="table table-bordered table-small">
									<tbody>
										<tr>
											<td class="bg-smoke">@(ID)</td>
											<td class="col-xs-6 right">{{ value.id }}</td>
										</tr>
										<tr>
											<td class="bg-smoke">@(Logged)</td>
											<td class="right">{{ if value.online }}<span class="badge badge-green mr5">@(online)</span>{{ fi }}{{ value.dtlogged | format('@(yyyy-MM-dd HH:mm)') | def }}</td>
										</tr>
										<tr>
											<td class="bg-smoke">@(Created)</td>
											<td class="right">{{ value.dtcreated | format('@(yyyy-MM-dd HH:mm)') | def }}</td>
										</tr>
										<tr>
											<td class="bg-smoke">@(Updated)</td>
											<td class="right">{{ value.dtmodified | format('@(yyyy-MM-dd HH:mm)') | def }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-6">
								<table class="table table-bordered table-small">
									<tbody>
										<tr>
											<td class="bg-smoke">@(Password changed)</td>
											<td class="right col-xs-6">{{ value.dtpassword | format('@(yyyy-MM-dd HH:mm)') | def }}</td>
										</tr>
										<tr>
											<td class="bg-smoke">@(Last notification)</td>
											<td class="right">{{ value.dtnotified | format('@(yyyy-MM-dd HH:mm)') | def }}</td>
										</tr>
										<tr>
											<td class="bg-smoke">@(Unread notifications)</td>
											<td class="right">{{ value.countnotifications | def }}</td>
										</tr>
										<tr>
											<td class="bg-smoke">@(Open sessions)</td>
											<td class="right">{{ if value.session }}<b>{{ value.session.used }}</b> / {{ value.session.free }}{{ else }}---{{ fi }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						{{ if value.running && value.running.length }}
						<div class="opfg"><strong>@(Running apps)</strong></div>

						<table class="table table-bordered table-small mt10">
							<tbody>
						{{ foreach m in value.running }}
							<tr>
								<td><i class="fa fa-spinner fa-pulse mr5 opfg"></i> {{ m | running }}</td>
							</tr>
						{{ end }}
							</tbody>
						</table>
						{{ fi }}
					{{ fi }}
				</script>
			</div>

			<div class="caption">@(Personal data)</div>
			<div data---="radiobutton__?.gender__items:@(Male)|male,@(Female)|female__'male'" class="m"></div>
			<div class="row">
				<div class="col-md-4 m">
					<div data---="input__?.firstname__required:1;maxlength:40__''">@(First name)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.middlename__maxlength:40__''">@(Middle name)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.lastname__required:1;maxlength:40__''">@(Last name)</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 m b">
					<div data---="input__?.name__maxlength:40;required:1__''">@(Nickname)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.language__dirsource:%cl.languages;dirplaceholder:@(Search language);icon:language__'en'">@(Language)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.dtbirth__type:date;maxlength:10;placeholder:@(yyyy-MM-dd)__null">@(Date of birth)</div>
				</div>
			</div>
			<hr style="margin-top:12px" />
			<div class="row">
				<div class="col-md-4 m">
					<div data---="input__?.email__required:1;type:email;icon:envelope-o__'@'">@(Email)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.phone__type:phone__''">@(Phone number)</div>
				</div>
			</div>
		</div>

		<div class="bg-yellow">
			<div class="padding" style="padding-bottom:10px">
				<div class="row">
					<div class="col-sm-4 m">
						<div data---="input__?.statusid__dirsource:statuses;dirsearch:false__0">@(Status)</div>
					</div>
					<div class="col-sm-8 m">
						<div data---="input__?.status__placeholder:@(Custom defined user status)__''">@(User defined status)</div>
					</div>
				</div>
			</div>
			<hr class="nmt" />
			<div class="padding npt" style="padding-bottom:10px">
				<div class="row">
					<div class="col-md-4 m">
						<div data---="input__?.dtbeg__type:date;maxlength:10;placeholder:@(yyyy-MM-dd)__NOW">@(Start of employment)</div>
					</div>
					<div class="col-md-4 m">
						<div data---="input__?.dtend__type:date;maxlength:10;placeholder:@(yyyy-MM-dd)__null">@(End of employment)</div>
					</div>
				</div>
			</div>
		</div>
		<div class="padding npb">
			<div class="row">
				<div class="col-md-4 m">
					<div data---="input__?.company__maxlength:40;dircustom:true;direxclude:false;dirsource:?/searchcompany;dirempty:@(Empty);dirplaceholder:@(Search or type a new)__''">@(Company)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.locality__maxlength:40;dircustom:true;direxclude:false;dirsource:?/searchlocality;dirempty:@(Empty);dirplaceholder:@(Search or type a new)__''">@(Location)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.contractid__dirsource:contracts;dirsearch:false;placeholder:@(Choose a contract type)__0">@(Contract type)</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 m">
					<div data---="input__?.position__maxlength:40;dircustom:true;direxclude:false;dirsource:?/searchposition;dirempty:@(Empty);dirplaceholder:@(Search or type a new)__''">@(Position)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="dynamicvalue__?.supervisorid__url:/api/op/users/{value}/?skipme=1;click:?/searchuser;placeholder:@(Choose a user)__''">@(Select <b>Supervisor</b>)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="dynamicvalue__?.deputyid__url:/api/op/users/{value}/?skipme=1;click:?/searchuser;placeholder:@(Choose a user)__''">@(Select <b>Deputy</b>)</div>
				</div>
			</div>
			<div class="caption">@(Internal data)</div>
			<div class="row">
				<div class="col-md-4 m">
					<div data---="input__?.reference__maxlength:100__''">@(Custom reference)</div>
					<div class="help">@(<b>Custom reference</b> can contain an external idenficator of user.)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.groupid__maxlength:30;direxclude:false;dircustom:true;dirvalue:name;dirsource:?/searchgroupid;dirempty:@(Empty);dirplaceholder:@(Search or type a new)__''">@(Group ID)</div>
					<div class="help">@(<b>Group ID</b> is suitable for pairing of users from the same company or group.)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.note__maxlength:80__''">@(Note)</div>
					<div class="help">@(Internal custom note for the user.)</div>
				</div>
			</div>

			<div class="padding bg-smoke m radius">
				<div data---="input__?.ou__dirsource:main.meta.ou;dircustom:1;dirplaceholder:@(Search or type a new);dirempty:@(Empty)">@(Organization unit)</div>
				<div class="help m">@(Units must be separated by the slash <code>/</code>)</div>
				<div data---="input__?.dn__maxlength:500">@(Distinguished name)</div>
				<div class="help">@(Names must be separated by the comman <code>,</code>)</div>
			</div>

			<div class="row">
				<div class="col-md-4 m">
					<div data---="input__?.dateformat__dirsource:dateformats;dirsearch:false__'yyyy-MM-dd'">@(Date format)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.numberformat__dirsource:numberformats;dirsearch:false__1">@(Number format)</div>
				</div>
			</div>
			<div data---="radiobutton__?.timeformat__items:@(24 hour clock)|24,@(12 hour clock)|12;type:number__24" class="m"></div>

			<div class="caption">@(Behaviour)</div>
			<div class="row">
				<div class="col-md-4 m">
					<div data---="checkbox__?.blocked__null__false">@(User is blocked)</div>
					<div data---="checkbox__?.inactive__null__false">@(User is inactive)</div>
					<div data---="checkbox__?.sa__false">@(User is <b>administrator</b>)</div>
					<div data---="checkbox__?.welcome__null__true">@(Send welcome email)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="checkbox__?.notifications__null__true">@(Enable notifications)</div>
					<div data---="checkbox__?.notificationsemail__null__true">@(Enable email notifications)</div>
					<div data---="checkbox__?.notificationsphone__null__true">@(Enable phone notifications)</div>
				</div>
				<div class="col-md-4 m">
					<div data---="checkbox__?.sounds__null__true">@(Enable sounds)</div>
					<div data-bind="?.id__show" class="hidden">
						<div data---="checkbox__?.rebuildtoken__null__false">@(Re-build verification token)</div>
					</div>
					<div data-bind="?.id__show" class="hidden">
						<div data---="checkbox__?.rebuildaccesstoken__null__false">@(Re-build access token)</div>
					</div>
				</div>
			</div>

			<div class="caption"><i class="fa fa-lock"></i>@(Appearance)</div>
			<div data---="colorselector__?.colorscheme__null__'#4285f4'" class="m"></div>

			<div class="pull-left">
				<div class="fs12">@(User interface mode):</div>
				<div data---="radiobuttonexpert__?.desktop__datasource:%profiledesktop;type:number__3" class="mt5 m">
					<script type="text/html">
						<div class="radioimage"><img src="/img/{{ type }}.png" width="50" alt="{{ name }}" />{{ name }}</div>
					</script>
				</div>
			</div>
			<div class="pull-left" style="margin-left:20px">
				<div class="fs12">@(Choose light or dark mode):</div>
				<div data---="radiobuttonexpert__?.darkmode__datasource:%profilemodes;type:boolean__false" class="mt5 m">
					<script type="text/html">
						<div class="radioimage"><img src="/img/{{ type }}.png" width="50" alt="{{ name }}" />{{ name }}</div>
					</script>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="caption"><i class="fa fa-lock"></i>@(Credentials)</div>
			<div class="row">
				<div class="col-md-4 m">
					<div data---="input__?.login__maxlength:50;required:1__''">@(Login)</div>
					<div class="help">
						<span class="link exec" data-exec="?/loginemail"><i class="far fa-envelope-o"></i>@(Assign email)</span>
					</div>
				</div>
				<div class="col-md-4 m">
					<div data---="input__?.password__maxlength:30;required:1;camouflage:•;placeholder:@(Type a new password)" data-bind="?.id__config:'required:'+(value?0:1)">@(Password)</div>
					<div class="help">
						<span class="link exec" data-exec="?/password"><i class="fas fa-key"></i>@(Generate password)</span>
					</div>
				</div>
			</div>
			<hr class="nmt" />
			<div data---="checkbox__?.otp__null__false" data-bind="?.otp__enabled">@(Enabled 2FA authorization)</div>
			<br />
		</div>

		<div class="padding bg-smoke">
			<div class="caption"><i class="fa fa-folder"></i>@(Groups)</div>
			<div data---="checkboxlist__?.groups__datasource:main.meta.groups__[]"></div>
		</div>
		<div class="padding">
			<div class="caption"><i class="fa fa-rocket"></i>@(Explicitly allowed apps)</div>
			<div data---="apps__?.appsroles__datasource:main.apps__{}" class="m"></div>
			<div>
				<div data---="extend__null__name:usersform"></div>
				<div class="caption"><i class="fa fa-box mr5"></i>@(Dynamic repository)</div>
				<!-- <div data---="objecteditor__?.repo"></div> -->
				<div data---="textarea__?.repo__monospace:true;height:150;placeholder:{}"></div>
				<div class="help"><span data-bind="?.invalidrepo__show" class="red mr5 b"><i class="fa fa-warning mr5"></i>@(Invalid format.)</span>@(Must be defined in JSON format.)</div>
			</div>
		</div>
	</div>
	<nav class="buttons" data---="validation__usersform">
		<button name="submit" disabled><i class="fa fa-check-circle"></i>@(SAVE)</button>
		<button name="cancel">@(Cancel)</button>
	</nav>
</div>

<script>
	PLUGIN('usersform', function(exports) {

		exports.reload = function(com) {
			var model = GET('?');
			com.reconfigure({ title: model.id ? '@(Edit user)' : '@(Create user)' });
		};

		exports.submit = function(hide) {
			var model = GET('? @reset');
			if (model.invalidrepo) {
				OP.confirm2('@(__Dynamic repository contains invalid format!__ Are you really sure you want to save user profile?)', ['"floppy-o" @(Save)', '@(Cancel)'], function() {
					exports.scope();
					exports.submitforce(hide);
				});
			} else
				exports.submitforce(hide);
		};

		exports.submitforce = function(hide) {
			var model = CLONE(GET('? @reset'));
			model.darkmode = model.darkmode === 'true';
			var keys = Object.keys(model.appsroles || EMPTYOBJECT);

			model.apps = [];

			for (var i = 0; i < keys.length; i++) {
				var key = keys[i];
				var roles = model.appsroles[key];
				var app = main.apps.findItem('id', key);

				// Check if the app really exist
				if (!app)
					continue;

				// Clear non-exist roles
				roles = roles.remove(function(role) {
					return app.roles.indexOf(role) === -1;
				});

				model.apps.push({ id: key, roles: roles });
			}

			model.repo = model.repo && !model.invalidrepo ? JSON.stringify(JSON.parse(model.repo)) : null;
			model.appsroles = undefined;

			DAPI(model.id ? ('users_update/' + model.id) : 'users_insert', model, OP.done('@(User has been saved successfully)', function() {
				hide();
				EXEC('users/refresh');
			}));
		};

		exports.password = function() {
			var model = GET('?');
			if (!model.otp)
				SET('?.password', GUID(20));
		};

		exports.searchcompany = function(q, next) {
			DAPI(QUERIFY('search_companies', { q: q }), next);
		};

		exports.searchlocality = function(q, next) {
			DAPI(QUERIFY('search_locations', { q: q }), next);
		};

		exports.searchposition = function(q, next) {
			DAPI(QUERIFY('search_positions', { q: q }), next);
		};

		exports.searchgroupid = function(q, next) {
			DAPI(QUERIFY('search_groupids', { q: q }), next);
		};

		exports.loginemail = function() {
			SET('?.login', GET('?.email'));
		};

		exports.searchuser = function(el, next) {
			var opt = {};
			opt.element = el;
			opt.offsetY = 20;
			opt.placeholder = '@(Search users)';
			opt.items = function(q, next) {
				DAPI(QUERIFY('users', { q: q, limit: 10, fields: 'id,name', skipme: 1 }), function(response) {
					next(response.items);
				});
			};
			opt.callback = function(val) {
				next(val.id);
			};
			SETTER('directory/show', opt);
		};

		WATCH('?.firstname + ?.lastname', function(path, value) {
			if (usersform.firstname && usersform.lastname && !usersform.name)
				SET('?.name', usersform.firstname + ' ' + usersform.lastname);
		});

		WATCH('?.repo', function(path, value) {
			var val = false;
			if (value) {
				try {
					JSON.parse(value);
				} catch (e) {
					val = true;
				}
			}
			SET('?.invalidrepo', val);
		});
	});

</script>