<style>
	.accountphoto { background-color: #F0F0F0; padding: 15px 0; }
	.accountphoto img { max-width: 130px; }
	.ui-appearance { height: 55px; }
	.ui-appearance-label { float: left; padding: 5px 0 0 0; font-size: 12px; width: 250px; }
	.ui-appearance-label i { margin-right: 5px; }
	.ui-appearance-option { background-image: url(../img/appearance.png); border-radius: 3px; border: 2px solid #E0E0E0; width: 80px; height: 55px; float: right; margin-left: 10px; text-align: center; font-size: 11px; padding: 19px 0 0 20px; cursor: pointer; }
	.ui-appearance-selected { border-color: #49a7f8 !important; }
	.ui-appearance-light { background-position: -7px 0; background-size: 175px 51px; }
	.ui-appearance-dark { background-position: 80px 0; background-size: 175px 51px; color: white; }
	.col-2 { float: left; width: 50%; padding-left: 15px; padding-right: 15px; }

	@media(max-width: 450px) {
		.col-2 { float: none; display: block; width: 100%; }
		.ui-appearance-label { float: none; width: 100%; }
		.ui-appearance-option { float: left; margin: 10px 10px 0 0; }
		.ui-appearance { height: 110px; }
	}
</style>

<div class="row">
	<div class="scroller" data-margin="40">

		<div class="accountphoto">
			<div data-jc="preview__account.photo__url:/api/upload/photo/;width:300;height:300;format:/photos/{0}"></div>
		</div>

		<div class="scroller-padding">

			<div class="row">
				<div class="col-2 m">
					<div data-jc="textbox__account.email__type:email;required:true">@(Email address)</div>
				</div>
				<div class="col-2 m">
					<div data-jc="textbox__account.phone">@(Phone number)</div>
				</div>
			</div>

			<div class="ui-appearance" data-jc="appearance__account.darkmode">
				<div class="ui-appearance-label">
					<i class="fa fa-paint-brush"></i>@(Appearance):
					<div class="help" style="margin-top:2px">@(You can choose light or dark mode. <b>IMPORTANT</b>: not all apps support changing of appearance.)</div>
				</div>
				<div class="ui-appearance-option ui-appearance-dark">@(Dark)</div>
				<div class="ui-appearance-option ui-appearance-light ui-appearance-selected">@(Light)</div>
			</div>

			<hr />

			<div data-jc="colorselector__account.colorscheme__null" class="m"></div>

			<div style="font-size:12px">
				<div style="float:left" class="mr5"><i class="fa fa-camera mr5"></i>@(Background image:)</div>
				<div data-jc="singleupload__account.background__url:/api/upload/background/;title:{{}};accept:image/*" class="b ui-singleupload">@(Upload image)</div>
			</div>
			<div class="clearfix"></div>

			<hr style="margin-top:8px" />

			<div class="row">
				<div class="col-2">
					<div data-jc="checkbox__account.sounds">@(Enable sounds)</div>
					<div data-jc="checkbox__account.notifications">@(Enable notifications)</div>
				</div>
				<div class="col-2">
					<div data-jc="checkbox__account.notificationsemail">@(Enable email notifications)</div>
					<div data-jc="checkbox__account.notificationsphone">@(Enable phone notifications)</div>
				</div>
			</div>
			<br />

			<div data-jc="range__account.volume__icon:volume-up;min:10;max:100;type:number">@(Volume)</div>
			<div class="row fs11 silver m">
				<div class="col-xs-6">
					@(Low)
				</div>
				<div class="col-xs-6 right">
					@(High)
				</div>
			</div>
			<hr />
			<div data-jc="checkbox__account.changepassword" class="b red">@(Change password)</div>

			<div data-bind="account.changepassword__show:!!value" class="hidden bg-smoke" style="margin-top:15px">
				<div class="padding">
					<div data-jc="textbox__account.password__maxlength:30;required:true">@(Login password)</div>
					<div class="help"><i class="fa fa-info-circle"></i>@(Passsword will be encrypted.)</div>
				</div>
			</div>

			<div data-jc="error__account.response" class="hidde m"></div>
		</div>
	</div>
	<div class="buttonbar" data-jc="validation__account">
		<button name="submit" class="button exec b" data-exec="account_submit" disabled="disabled"><i class="fa fa-floppy-o"></i>@(SAVE SETTINGS)</button>
	</div>
</div>

<script>

	OP.init(function(err, meta) {
		if (err) {
			document.body.innerHTML = '401: unauthorized';
			window.close();
		} else
			account_refresh();
	});

	function account_refresh() {
		AJAX('GET /api/account/', 'account');
	}

	function account_submit() {
		OP.loading(true);
		AJAX('POST /api/account/', GETR('account'), function(response) {
			OP.loading(false);
			SET('account.response', response);
			if (response.success) {
				OP.success('Your account has been updated successfully.');
				OP.close();
			}
		});
	}

	COMPONENT('appearance', function(self, config) {
		self.readonly();
		self.make = function() {
			self.event('click', '.ui-appearance-option', function() {
				var el = $(this);
				self.set(el.hclass('ui-appearance-dark'));
				self.change();
			});
		};

		self.setter = function(value) {
			self.find('.ui-appearance-dark').tclass('ui-appearance-selected', value === true);
			self.find('.ui-appearance-light').tclass('ui-appearance-selected', value !== true);
		};
	});
</script>