<style>
	/*auto*/
	.apps .name { font-size: 12px; font-weight: bold; }
	.apps .name b { color: #68A754; }
	.apps .position { font-size: 11px; }
	.apps .item { line-height: 12px; font-size: 12px; padding: 5px; cursor: pointer; border-bottom: 1px solid #E0E0E0; }
	.apps .item .fa-circle { font-size: 8px; }
	.apps .item:hover { background-color: #2E5ADA; color: white; }
	.apps .selected { background-color: #2E5ADA; color: white; }

	@media(max-width: 767px) {
		.apps .item { font-size: 14px; padding: 8px; line-height: 14px; }
	}

	.userapp-container { border-bottom: 1px solid #F0F0F0; margin-bottom: 10px; background-color: white; }
	.userapp-container-disabled img { filter: grayscale(100%); }
	.userapp-container-disabled .userapp-settings { display: none; }
	.userapp-container-disabled { color: #A0A0A0; }
	.userapp-container-disabled .userapp-roles { display: none; }
	.userapp-checkbox { float: left; width: 30px; height: 30px; background-color: white; margin-right: 10px; border-radius: 4px; border: 2px solid #E0E0E0; cursor: pointer; color: #A0D468; padding: 3px 0 0 0; text-align: center; font-size: 20px; }
	.userapp-container-disabled .userapp-checkbox .fa { display: none; }
	.userapp-header > .fa { margin-right: 5px; }
	.userapp-header { height: 40px; line-height: 15px; }
	.userapp-roles { margin-bottom: 10px; line-height: 0; }
	.userapp-roles div { width: 33.3%; position: relative; display: inline-block; background-color: #F0F0F0; padding: 5px 10px; font-size: 11px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	.userapp-roles label { cursor: pointer; }
	.userapp-roles div:nth-child(odd) { background-color: #F8F8F8; }
	.userapp-roles input { margin-right: 5px; vertical-align: middle; }
	.userapp-settings input { background-color: white; border: 1px solid #E0E0E0; padding: 4px 10px; border-radius: 3px; width: 100%; font-size: 11px; outline: 0; appearance: none; }
	.userapp-settings { margin-bottom: 15px; }

	@{if user.colorscheme}
	.ui-checkbox-checked div{background-color:@{user.colorscheme}!important;border-color:@{user.colorscheme}!important}
	.button{background-color:@{user.colorscheme}}
	@{fi}

</style>

<div data-jc="panel__common.form__if:apps;bg:true;width:420;title:@(Assign to users);icon:users" class="hidden">
	<div data-jc-scope="assignform">
		<div class="padding bg-yellow" style="padding:25px 20px">
			<div data-jc="dropdowncheckbox__roles__datasource:apps.form.roles;alltext:@(All selected);empty:@(No roles)">@(Roles)</div>
			<div class="help">@(You can choose the application roles.)</div>
		</div>
		<hr class="nmt nmb" />
		<div class="padding">
			<div class="b fs11" style="text-transform:uppercase;margin-bottom:25px"><i class="fa fa-filter mr5"></i>@(Users filtering)</div>

			<div data-jc="dropdown__ou__datasource:apps.meta.ou;value:name;empty:__''" class="m">@(Organization unit)</div>

			<div class="row">
				<div class="col-sm-6 m">
					<div data-jc="dropdown__company__datasource:apps.meta.companies;value:name;empty:__''">@(Company)</div>
				</div>
				<div class="col-sm-6 m">
					<div data-jc="dropdown__locality__datasource:apps.meta.localities;value:name;empty:__''">@(Locality)</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 m">
					<div data-jc="dropdown__group__datasource:apps.meta.groups;value:name;empty:__''">@(Group)</div>
				</div>
				<div class="col-sm-6 m">
					<div data-jc="dropdown__role__datasource:apps.meta.roles;value:name;empty:__''">@(Role)</div>
				</div>
			</div>
			<div data-jc="checkbox__customer">@(Only users with flag <b>customer</b>)</div>
			<div data-jc="checkbox__sa" class="m">@(Only users with flag <b>administrator</b>)</div>
		</div>
		<hr class="nmt nmb" />
		<div class="padding">
			<button class="button b exec" name="submit" data-exec="assignform_submit">@(Execute)</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-3 np">
		<div class="panel">
			<div class="search">
				<div data-jc="textbox__apps.search__type:search;placeholder:@(Search apps)"></div>
			</div>
			<div data-jc="scrollbar__apps.items__margin:40;parent:window;offset:true">
				<div data-jc="search__apps.search__selector:.item">
					<div data-jc="listmenu__apps.selected__datasource:apps.items.items;selector:.item;exec:apps_load" class="apps">
						<script type="text/html">
							<div class="item{{ if blocked }} inactive{{ fi }}" data-search="{{ name }} {{ title }}">{{ title }}{{ if online }} <i class="fa fa-circle green"></i>{{ fi }}</div>
						</script>
					</div>
				</div>
			</div>
			<nav class="toolbar">
				<button class="exec" data-exec="apps_create" title="@(Add app)"><i class="fa fa-plus"></i></button>
				<button data-bind="apps.selected__enabled" class="exec" data-exec="apps_remove" title="@(Remove app)"><i class="fa fa-minus"></i></button>
				<button data-bind="apps.selected__enabled" class="exec" data-exec="apps_assign" title="@(Assign selected app to users)"><i class="fa fa-users"></i></button>
			</nav>
		</div>
	</div>
	<div class="col-sm-9 np" data-jc="xs__apps.form.show__if:value!=null&&value==true;exec:resizelayout">

		<nav class="nav visible-xs">
			<span class="exec link" data-exec="apps_cancel"><i class="fa fa-chevron-left"></i>@(Back)</span>
		</nav>

		<div class="invisible" data-bind="apps.form.show__invisible:!value__exec:formscroll">
			<div data-jc="scrollbar__apps.form__margin:40;parent:window;marginxs:42;track:show,directories">
				<div class="scroller-padding">

					<div data-jc="textbox__apps.form.url__delay:2000;maxlength:500;required:true;type:url;icon2:globe;autofocus:true;placeholder:@(https\://www.yourdomain.com/openplatform.json)">@(URL address to <b>openplatform.json</b>)</div>
					<div data-jc="error__apps.form.data" class="ui-error-nm"></div>

					<div data-bind="apps.form.data__template__show:value && value.name && value.url" class="bg-smoke" style="margin-top:10px">
						<script type="text/html">
							<div class="padding">
								<div class="b"><i class="fa fa-{{ value.icon }}"></i> {{ value.name }} - v{{ value.version }}</div>
								<div class="fs11 mt10">@(Author: <b>{{ value.author }}</b>)<br />{{ value.email }}</div>
								{{ if value.description }}
									<div class="help m" style="margin-top:15px"><i class="fa fa-info-circle"></i>{{ value.description }}</div>
								{{ fi }}
								{{ if value.roles && value.roles.length }}
									<div class="b fs12" style="margin-bottom:5px">@(Supported roles:)</div>
									<div class="m">
									{{ foreach m in value.roles }}
										<span class="badge badge-large badge-blue mr5">{{ m }}</span>
									{{ end }}
									</div>
								{{ fi }}
								{{ if value.origin && value.origin.length }}
									<div class="b fs12" style="margin-bottom:5px">@(Hostname whitelist:)</div>
									<div class="m">
									{{ foreach m in value.origin }}
										<span class="badge badge-large badge-red mr5">{{ m }}</span>
									{{ end }}
									</div>
								{{ fi }}
								<table class="table table-small table-bordered nmb">
									<tr>
										<td>Notifications</td>
										<td class="center bg-white" style="width:30px">{{ value.allownotifications | checked }}</td>
									</tr>
									<tr>
										<td>@(Optimized for mobile devices)</td>
										<td class="center bg-white">{{ value.responsive | checked }}</td>
									</tr>
									<tr>
										<td>@(Mobile menu)</td>
										<td class="center bg-white">{{ value.mobilemenu | checked }}</td>
									</tr>
									<tr>
										<td>@(Server-side verification)</td>
										<td class="center bg-white">{{ value.serververify | checked }}</td>
									</tr>
									<tr>
										<td>@(Can read meta information)</td>
										<td class="center bg-white">{{ value.allowreadmeta | checked }}</td>
									</tr>
									<tr>
										<td>@(Can read user profile){{ if value.allowreadprofile === 1 }} - <b>@(basic information)</b>{{ else if value.allowreadprofile === 2 }} - <b>@(all information)</b>{{ fi }}</td>
										<td class="center bg-white">{{ value.allowreadprofile | checked }}</td>
									</tr>
									<tr>
										<td>@(Can read users){{ if value.allowreadusers === 1 }} - <b>@(basic information of all users)</b>{{ else if value.allowreadusers === 2 }} - <b>@(all information of all users)</b>{{ else if value.allowreadusers === 3 }} - <b>@(basic information of all users which use this app)</b>{{ else if value.allowreadusers === 4 }} - <b>@(all information of all users which use this app)</b>{{ fi }}</td>
										<td class="center bg-white">{{ value.allowreadusers | checked }}</td>
									</tr>
									<tr>
										<td>@(Can read apps){{ if value.allowreadapps === 1 }} - <b>@(basic information)</b>{{ else if value.allowreadapps === 2 }} - <b>@(all information)</b>{{ fi }}</td>
										<td class="center bg-white">{{ value.allowreadapps | checked }}</td>
									</tr>
								</table>
								<div class="help" style="margin-top:15px"><i class="fa fa-warning red"></i>@(Application can't change own permissions when is installed.)</div>
							</div>
						</script>
					</div>

					<div data-bind="apps.form__template__show:value && value.id" class="bg-yellow" style="margin-top:10px">
						<script type="text/html">
							<div class="padding">

								<div class="b m"><i class="fa fa-lock mr5"></i>@(Current permissions)</div>

								{{ if value.roles && value.roles.length }}
									<div class="b fs12" style="margin-bottom:5px">@(Supported roles:)</div>
									<div class="m">
									{{ foreach m in value.roles }}
										<span class="badge badge-large badge-blue mr5">{{ m }}</span>
									{{ end }}
									</div>
								{{ fi }}
								{{ if value.origin && value.origin.length }}
									<div class="b fs12" style="margin-bottom:5px">@(Hostname whitelist:)</div>
									<div class="m">
									{{ foreach m in value.origin }}
										<span class="badge badge-large badge-red mr5">{{ m }}</span>
									{{ end }}
									</div>
								{{ fi }}
								<table class="table table-small table-bordered nmb">
									<tr>
										<td>Notifications</td>
										<td class="center bg-white" style="width:30px">{{ value.allownotifications | checked }}</td>
									</tr>
									<tr>
										<td>@(Server-side verification)</td>
										<td class="center bg-white">{{ value.serververify | checked }}</td>
									</tr>
									<tr>
										<td>@(Can read meta information)</td>
										<td class="center bg-white">{{ value.allowreadmeta | checked }}</td>
									</tr>
									<tr>
										<td>@(Can read user profile){{ if value.allowreadprofile === 1 }} - <b>@(basic information)</b>{{ else if value.allowreadprofile === 2 }} - <b>@(all information)</b>{{ fi }}</td>
										<td class="center bg-white">{{ value.allowreadprofile | checked }}</td>
									</tr>
									<tr>
										<td>@(Can read users){{ if value.allowreadusers === 1 }} - <b>@(basic information of all users)</b>{{ else if value.allowreadusers === 2 }} - <b>@(all information of all users)</b>{{ else if value.allowreadusers === 3 }} - <b>@(basic information of all users which use this app)</b>{{ else if value.allowreadusers === 4 }} - <b>@(all information of all users which use this app)</b>{{ fi }}</td>
										<td class="center bg-white">{{ value.allowreadusers | checked }}</td>
									</tr>
									<tr>
										<td>@(Can read apps){{ if value.allowreadapps === 1 }} - <b>@(basic information)</b>{{ else if value.allowreadapps === 2 }} - <b>@(all information)</b>{{ fi }}</td>
										<td class="center bg-white">{{ value.allowreadapps | checked }}</td>
									</tr>
								</table>
							</div>
						</script>
					</div>
					<br />
					<div data-jc="textbox__apps.form.title__maxlength:50;required:true" class="m">@(Title)</div>
					<div class="mt10 m b" data-jc="checkbox__apps.form.blocked">@(Application is blocked)</div>
					<div class="m hidden" data-bind="apps.form.id__show" data-jc="checkbox__apps.form.permissions">@(Refresh permissions according to the meta file)</div>
					<hr />
					<h3><i class="fa fa-sitemap"></i>@(Available for Directories)</h3>
					<div data-jc="textboxlist__apps.form.directories__placeholder:@(Type a directory name and press enter);autocomplete:finddirectory;maxlength:25"></div>
					<div class="help"><i class="fa fa-warning"></i>@(Users with assigned apps won't be changed.)</div>
					<hr />
					<div data-jc="textbox__apps.form.accesstoken__maxlength:50;required:true">@(Access token)</div>
					<div class="help m"><span class="link exec" data-exec="apps_generatetoken">@(Generate token)</span></div>
					<div data-jc="textbox__apps.form.settings__icon2:cog;maxlength:200;placeholder:@(You can type your own custom settings)" class="m">@(Custom settings)</div>
				</div>
			</div>
			<div class="buttonbar" data-jc="validation__apps.form">
				<button name="submit" class="button exec b" data-exec="apps_submit" disabled="disabled"><i class="fa fa-floppy-o"></i>@(SUBMIT)</button>
			</div>
		</div>
	</div>
</div>

<script>

	Thelpers.checked = function(value) {
		return '<i class="{0}"></i>'.format(value ? 'fa fa-check-square green' : 'far fa-square');
	};

	var apps = {};

	apps.form = {};
	apps.items = EMPTYARRAY;

	OP.init(function(err, meta) {
		if (err) {
			document.body.innerHTML = '401: unauthorized';
			window.close();
		} else {
			resizelayout();
			apps_refresh();
			AJAX('GET /api/internal/meta/', 'apps.meta');
		}
	});

	OP.on('maximize', function() {
		apps_refresh();
		NOTIFY('apps.selected');
	});

	function apps_load(item) {
		OP.loading(true);
		var item = apps.items.items.findItem('id', item.id);
		if (item) {
			item.show = true;
			SET('apps.form', CLONE(item), true);
		}
		OP.loading(false, 1000);
	}

	function apps_refresh() {
		AJAX('GET /api/internal/apps/', function(response) {
			response.items.quicksort('name');
			SET('apps.items', response);
		});
	}

	function formscroll(value, path, el) {
		if (path === 'apps.form') {
			setTimeout(function() {
				el.SETTER('scrollbar', 'scrollTop', 0);
			}, 10);
		}
	}

	function apps_assign() {
		SET('common.form', 'apps');
	}

	function apps_cancel() {
		SET('apps.selected', '');
		SET('apps.form.show', false);
	}

	function apps_generatetoken() {
		SET('apps.form.accesstoken', GUID(30));
		CHANGE('apps.form.accesstoken', true);
	}

	function apps_create(url) {
		SET('apps.selected', '');
		SET('apps.form', { show: true, permissions: true, id: '', url: (typeof(url) === 'string' ? url : null) || '', allowreadprofile: 1, allowreadusers: 0, allowreadapps: 0, allownotifications: true, responsive: true, allowreadmeta: true, mobilemenu: true, accesstoken: GUID(30), serververify: true }, true);
	}

	function apps_remove() {
		OP.confirm('@(Are you sure you want to remove selected user?)', ['"trash-o"@(Yes)', '@(Cancel)'], function(index) {
			if (!index) {
				var id = apps.selected;
				AJAX('DELETE /api/internal/apps/{0}/'.format(id), function(response) {
					if (response.success) {
						apps.items.items = apps.items.items.remove('id', id);
						apps.form.id === id && apps_cancel();
						SET('apps.selected', '');
						NOTIFY('apps.items');
					}
				});
			}
		});
	}

	function apps_submit() {

		OP.loading(true);

		var data = CLONE(apps.form);

		AJAX('POST /api/internal/apps/', data, function(response) {
			OP.loading(false);
			SET('apps.form.response', response);
			if (response.success) {
				apps_refresh();
				apps_cancel();
				OP.success('@(Done, application has been saved.)');
			}
		});
	}

	function assignform_submit() {
		OP.confirm('@(Are you sure you want to applied the application according to the filter?)', ['@(Yes)', '@(Cancel)'], function(index) {
			if (!index) {
				var data = CLONE(assignform);
				data.appid = apps.form.id;
				AJAX('POST /api/internal/users/apps/', data, function(response) {
					OP.success('@(Done, the application has been applied for {0} users.)'.format(response.value));
				});
			}
		});
	}

	WATCH('apps.form.url', function(path, value, type) {

		if (type === 'url')
			return;

		if (!value) {
			SET('apps.form.data', null);
			return;
		}

		if (!value.isURL()) {
			SET('apps.form.data', [{ error: '@(URL address is invalid)' }]);
			return;
		}

		OP.loading(true);
		AJAX('POST /api/internal/apps/meta/', { url: value }, function(response, err) {
			OP.loading(false, 500);
			if (response instanceof Array) {
				SET('apps.form.data', response);
			} else {

				var val = response.value;
				SET('apps.form.data', val);

				MODIFY('apps.form', function(cur) {
					if (!cur.id) {
						cur.allowreadapps = val.allowreadapps || 0;
						cur.allowreadusers = val.allowreadusers || 0;
						cur.allowreadmeta = val.allowreadmeta || 1;
						cur.allowreadprofile = val.allowreadprofile === true ? 1 : (val.allowreadprofile || 1);
						cur.serververify = val.serverside === true;
					}
					!cur.title && (cur.title = val.name);
					return cur;
				}, 'url');
			}
		});
	});

	function finddirectory(com, input) {
		SETTER('autocomplete', 'attach', input.parent().parent(), function(query, render) {

			var arr = apps.meta.directories;
			var tmp = [];

			query = query.toSearch();

			for (var i = 0; i < arr.length; i++) {
				var item = arr[i];
				if (item.name.toSearch().indexOf(query) !== -1)
					tmp.push(item);
			}

			render(tmp);

		}, function(selected, input) {
			PUSH('apps.form.directories', selected.name, 2);
		}, 0, 5, 2);
	}

</script>