@{layout('')}
@{title(CONFIG('name'))}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body>

	<div data-component="message" data-button="@(Close)"></div>
	<div data-component="confirm"></div>
	<div data-component="loading" class="ui-loading"></div>

	<header>
		<div class="logo"><svg width="30px" height="30px" viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M74.819,0l-74.819,43.266l0,86.532l74.819,43.265l75.181,-43.265l0,-86.532l-75.181,-43.266ZM74.318,54.683l27.682,15.924l0,32.049l-27.682,16.025l-27.818,-16.025l0,-32.049l27.818,-15.924Z" style="fill:#17A0CB;fill-rule:nonzero;"/><path d="M37.049,21.598l-37.049,21.552l0,86.532l37.103,21.578l22.147,-38.642l0,0.046l-29.934,0l14.953,-26.248l-14.953,-26.252l29.934,0l0,0.103l-22.201,-38.669Z" style="fill:#4FC1E9;fill-rule:nonzero;"/><path class="logo-animation-a" d="M33.633,63.164l12.697,23.005l-12.697,23.495l26.936,0l13.49,-23.453l-13.49,-23.047l-26.936,0Z" style="fill:#4FC1E9;fill-rule:nonzero;"/></svg></div>
		<nav class="menu">
			<a href="/" class="jR">Dashboard</a>
			<a href="/settings/applications/" class="jR">Applications</a>
			<a href="/settings/members/" class="jR">Members</a>
		</nav>
		<div class="user">Peter Širka</div>
	</header>

	<div data-component="page" data-component-path="common.page" data-if="dashboard" class="hidden" data-template="/templates/dashboard.html"></div>
	<div data-component="page" data-component-path="common.page" data-if="applications" class="hidden" data-template="/templates/applications.html"></div>
	<div data-component="page" data-component-path="common.page" data-if="members" class="hidden" data-template="/templates/members.html"></div>

	<script>

		var common = {};

		var user = {};
		user.sounds = true;
		user.notifications = true;

		jR.route('/', function() {
			SET('common.page', 'dashboard');
		});

		jR.route('/settings/applications/', function() {
			SET('common.page', 'applications');
		});

		jR.route('/settings/members/', function() {
			SET('common.page', 'members');
		});

		jR.on('location', function(url) {
			$('.menu').find('a').each(function() {
				var el = $(this);
				el.toggleClass('selected', el.attr('href') === url);
			});
		});

		$('.jR').jRouting(true);

	</script>


</body>
</html>