<style>
	@{if user.windows || mobile}
	.maxwidth { background-color: white; }
	@{else}
	.maxwidth { max-width: 700px; margin: 40px auto 0; background-color: white; border: 1px solid #D0D0D0; background-color: white; padding: 0 20px; }
	@{fi}
	body { background-color: #@{if user.darkmode}303030@{else}E0E0E0@{fi}; }
</style>

<div class="maxwidth">
	<br />
	<table class="table table-bordered table-small">
		<tr>
			<td class="bg-smoke" style="width:130px">@(OpenPlatform ID)</td>
			<td class="right b">@{OP.id}</td>
		</tr>
		<tr>
			<td class="bg-smoke" style="width:130px">@(Version)</td>
			<td class="right b">@{OP.version}</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Total.js)</td>
			<td class="right">@{model.version}</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Node.js)</td>
			<td class="right">@{model.node}</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Platform)</td>
			<td class="right">@{model.platform}</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Architecture)</td>
			<td class="right">@{model.processor}</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Memory)</td>
			<td class="right">@{model.memoryUsage} / @{model.memoryTotal} MB</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Performance)</td>
			<td class="right">@{Math.ceil(F.stats.performance.request)} @(req/min.)</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Sessions)</td>
			<td class="right">@(online:) @{model.sessions.used}x / @(unused:) @{model.sessions.free}x</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Uptime)</td>
			<td class="right">@{model.uptime} @(minutes)</td>
		</tr>
		<tr>
			<td class="bg-smoke">@(Your IP address)</td>
			<td class="right">@{model.ip}</td>
		</tr>
	</table>
</div>

<script>
	OP.appearance();
</script>