@{layout('')}

<div data---="intro__common.intro__if:welcome;selected:ui-intro-selected;exec:intro/submit;next:@(Next);close:@(Done);height: @lg=320 @md=320 @sm=320 @xs=440" class="hidden">
	<figure>
		<div class="m"><i class="fa fa-flag fa-4x color"></i></div>
		<div>@(Welcome <b>@{user.name}</b> to <b>@{'%name'}</b>)</div>
	</figure>

	@{if CONF.allowtheme || CONF.allowappearance}
	<figure>
		<div class="padding">

			@{if CONF.allowappearance}
			<div><i class="fa fa-paint-brush"></i> @(<b>Appearance</b>. You can choose light or dark mode. Not all apps support the appearance.)</div>
			<br />
			<div data---="radiobuttonexpert__intro.darkmode__datasource:%intromodes;type:boolean">
				<script type="text/html">
					<div class="radioimage"><img src="/img/{{ type }}.png" alt="{{ name }}" />{{ name }}</div>
				</script>
			</div>
			<hr />
			@{fi}

			@{if CONF.allowtheme}
			<div>@(Choose a theme color:)</div>
			<div data---="colorselector__intro.colorscheme__null" style="margin-bottom:5px"></div>
			@{fi}

		</div>
	</figure>
	@{fi}

	<figure>
		<div class="m"><i class="far usercolor fa-calendar fa-3x"></i></div>
		<div>@(Date/Time and language settings)</div>
		<div class="padding npt left npb">
			<hr />
			<div class="col-sm-6 m">
				<div data---="input__intro.dateformat__dirsource:%cl.dateformats;dirsearch:false">@(Date format)</div>
			</div>
			<div class="col-sm-6 m">
				<div data---="input__intro.timeformat__dirsource:%cl.timeformats;dirsearch:false">@(Time)</div>
			</div>
			<div class="col-sm-6 m">
				<div data---="input__intro.numberformat__dirsource:%cl.numberformats;dirsearch:false">@(Number format)</div>
			</div>
			<div class="col-sm-6 m">
				<div data---="input__intro.language__dirsource:%cl.languages;dirplaceholder:@(Search language)">@(Language)</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</figure>

	@{if CONF.allowdesktop}
	<figure>
		<div class="m"><i class="fas fa-window-restore usercolor fa-3x"></i></div>
		<div>@(User interface modes)</div>
		<br />
		<div data---="radiobuttonexpert__intro.desktop__datasource:%introdesktop;type:number">
			<script type="text/html">
				<div class="radioimage"><img src="/img/{{ type }}.png" width="60" alt="{{ name }}" />{{ name }}</div>
			</script>
		</div>
	</figure>
	@{fi}

	<figure>
		<div class="m"><i class="far color fa-bell fa-3x"></i></div>
		<div>@(Additional settings)</div>
		<div class="padding left gray npt">
			<hr />
			<div class="col-sm-8 col-xs-8">
				<div class="mt5">@(Enable notifications)</div>
			</div>
			<div class="col-sm-4 col-xs-4 right">
				<div data---="togglebutton__intro.notifications"></div>
			</div>
			<div class="col-sm-8 col-xs-8">
				<div class="mt5">@(Enable email notifications)</div>
			</div>
			<div class="col-sm-4 col-xs-4 right">
				<div data---="togglebutton__intro.notificationsemail"></div>
			</div>
			<div class="col-sm-8 col-xs-8">
				<div class="mt5">@(Enable sounds)</div>
			</div>
			<div class="col-sm-4 col-xs-4 right">
				<div data---="togglebutton__intro.sounds"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</figure>

	@{if !CONF.ldap_active || !user.dn}
	<figure>
		<div class="mt10"><i class="fa color fa-key fa-3x"></i></div>
		<div class="mt10">@(Change your password)</div>
		<div class="padding left gray npt npb">
			<hr />
			<div class="padding npt npb">
				<div class="fs12 center">@(Here you can change your password.)</div>
				<div class="center help" style="margin-top:3px"><i class="far fa-lightbulb"></i>@(Do you not want to change the password?) <span class="link next">@(Skip this step)</span></div>
			</div>
			<hr />
			<div class="col-sm-6 m">
				<div data---="input__intro.password__maxlength:30;type:password">@(New password)</div>
			</div>
			<div class="col-sm-6 m">
				<div data---="input__intro.passwordreply__maxlength:30;type:password">@(Password again)</div>
			</div>
			<div class="clearfix"></div>
			<div class="padding npb" style="padding:5px 15px 0;height:30px">
				<div class="help green nmb b hidden npt" data-bind="intro__show:value&&value.password===value.passwordreply&&value.password&&value.passwordreply__track:password,passwordreply"><i class="far fa-check-circle"></i>@(Password will be changed.)</div>
				<div class="help red nmb b hidden npt" data-bind="intro__show:value&&value.password!==value.passwordreply&&value.password&&value.passwordreply__track:password,passwordreply"><i class="fa fa-warning"></i>@(Passwords do not match.)</div>
			</div>
		</div>
	</figure>
	@{fi}

	@{if user.sa && CONF.url === 'https://YOURDOMAIN.com'}
	<figure>
		<div class="m"><i class="fa fa-cog fa-5x fa-spin red"></i></div>
		<div class="padding">
			<div class="red m b" style="font-size:16px">@(OpenPlatform is not configured)</div>@(First, you need to set up Total.js OpenPlatform. Open the <b>Control panel</b> and set up your platform.)
		</div>
	</figure>
	@{fi}

</div>

<script>

	SET('%intromodes', [{ id: false, type: 'light', name: '@(Light)' }, { id: true, type: 'dark', name: '@(Dark)' }]);
	SET('%introdesktop', [{ id: 1, type: 'windowed', name: '@(Windowed)' }, { id: 2, type: 'tabbed', name: '@(Tabbed)' }, { id: 3, type: 'portal', name: '@(Portal)' }]);

	DAPI('account_read', 'intro');
	DAPI('codelist <5 minutes>', '%cl');

	PLUGIN('intro', function(exports) {

		WATCH('?.colorscheme + ?.darkmode', function() {
			var val = GET('?');
			user.colorscheme = val.colorscheme;
			user.darkmode = !!val.darkmode;
			EXEC('openplatform/appearance');
		});

		exports.submit = function(hide) {

			var model = GET('? @reset');
			var password = '';

			if (model.password && model.passwordreply && model.password === model.passwordreply)
				password = model.password;

			model.password = password;
			DAPI('account_save @showloading', model, ASETTER('message/response @hideloading', AEXEC('openplatform/refresh_live')));
		};

	});

</script>