<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="@{'%name'}" />
	<link rel="stylesheet" href="@{'%cdn'}/spa.min@16.css" />
	<script src="@{'%cdn'}/spa.min@16.js"></script>
	@{import('meta', 'head', 'app.css', 'app.js', 'favicon.ico')}
</head>
<body data-jc="exec">
	<div data-jc="calendar"></div>
	<div class="container-fluid">
		@{body}
	</div>
</body>
</html>