<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="@{'%name'}" />
	<link rel="stylesheet" href="@{'%cdn'}/spa.min@18.css" />
	<script src="@{'%cdn'}/spa.min@18.js"></script>
	<script>ENVIRONMENT('opadmin');</script>
	@{import('meta', 'head', 'app.css', 'app.js', 'favicon.ico')}
</head>
<body data---="exec" class="invisible@{if user.darkmode} ui-dark@{fi}">

	<script>
		DEF.languagehtml = '@{user.language}';
		OP.ready = true;
		OP.init(function(err, meta) {
			if (meta) {
				// resizelayout();
				setTimeout(function() {
					$('body').rclass('invisible');
				}, 100);
			} else
				W.close();
		});
	</script>

	<div data---="LAZY datepicker__null__close:@(Close);today:@(Set today)"></div>
	<div data---="LAZY suggestion__null__placeholder:@(Search)"></div>
	<div data---="LAZY autocomplete"></div>
	<div data---="LAZY directory__null__placeholder:@(Search)"></div>
	<div data---="LAZY tooltip"></div>
	<div data---="LAZY menu"></div>
	<div data---="LAZY filter"></div>
	<div data---="LAZY colorpicker"></div>
	<div data---="LAZY emoji__null__search:@(Search)"></div>
	<div data---="LAZY faicons__null__search:@(Search)"></div>

	@{body}

</body>
</html>