@{layout('')}
@{title(config.name)}

<!DOCTYPE html>
<html class="noscroll">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="@{'%name'}" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="/icon.png" />
	<link rel="manifest" href="/manifest.json" />
	<link rel="stylesheet" href="@{'%cdn'}/spa.min@18.css" />
	<script src="@{'%cdn'}/spa.min@18.js"></script>
	@{import('meta', 'head', 'portal.css', 'portal.js', 'favicon.ico')}
	<script>var user = EMPTYOBJECT</script>
</head>
<body data---="exec" class="noscroll @{if user.darkmode}ui-dark@{else}light@{fi}">

	<div data---="LAZY features__null__placeholder:@(What are you looking for?)"></div>
	<div data---="LAZY contextmenu"></div>
	<div data---="LAZY confirm"></div>
	<div data---="LAZY snackbar__null__button:@(OK);timeout:6000"></div>
	<div data---="LAZY datepicker__null__close:@(Close);today:@(Set today)"></div>
	<div data---="LAZY menu"></div>
	<div data---="LAZY directory"></div>
	<div data---="tooltip"></div>
	<div data---="message__null__button:@(Close)"></div>
	<div data---="nativenotifications"></div>
	<div data---="audio__user.volume"></div>
	<div data---="loading" class="hidden"></div>
	<div data---="shortcuts"></div>
	<div data---="markdown"></div>

	<div data---="quicknotifications">
		<script type="text/html">
			<div class="ui-quicknotifications-message"{{ if data }} data-data="{{ data | encodedata }}" data-id="{{ appid }}"{{ fi }}>
				<div class="ui-quicknotifications-close"><i class="fa fa-times"></i></div>
				<div class="ui-quicknotifications-date"><i class="far fa-clock-o"></i>{{ dtcreated | time }}</div>
				<div class="ui-quicknotifications-title"><i class="{{ icon | icon }}"></i><b>{{ title }}</b></div>
				<div class="ui-quicknotifications-padding">
					<div class="ui-quicknotifications-body">{{ body | markdown_notifications }}</div>
				</div>
			</div>
		</script>
	</div>

	<div data---="wiki__common.wikishow__datasource:common.wiki"></div>

	<div class="menubutton exec" data-exec="Dashboard/mainmenu"><i class="far fa-list-alt"></i></div>
	<div class="menubuttonapp exec" data-exec="Dashboard/mainmenu2"><i class="fas fa-align-justify"></i></div>

	<div class="container@{if CONF.allowdesktopfluid != false}-fluid@{fi} invisible" data-bind="common.ready__.invisible:!value">
		<div class="menu">
			<header>
				@{if CONF.allowdesktopfluid != false}
					<span class="menu-minimize exec" data-exec="Dashboard/minimizemenu"><i class="fa"></i></span>
				@{fi}
				@{if !user.guest}
				<div class="button-notifications exec tooltip" data-title="@(Notifications)" data-path="common.form" data-value="'notifications'">
					<span data-bind="user.countnotifications__show:value > 0__html:value > 99 ? 99 : value" class="hidden">0</span>
					<i class="far fa-bell"></i>
				</div>
				@{fi}
				<span class="testmode hidden" data-bind="user.test__show__delay:200">@(TEST)</span>
				@{if user.photo && user.photo.indexOf('empty') === -1}
				<img src="/photos/@{user.photo}" class="exec" data-exec="internalapp" data-id="_account" />
				@{else}
				<span class="initials exec" data-exec="internalapp" data-id="_account" data-bind="user.name__!html:Thelpers.initials(value)"></span>
				@{fi}
				<!-- <span class="initials exec" data-exec="internalapp" data-id="_account" data-bind="user.name__!html:Thelpers.initials(value)"></span> -->
				<span class="title">@{CONF.name}</span>
			</header>
			<div data---="viewbox__null__margin:77;parent:window;scrollbar:1;visibleY:0;marginxs:92">

				@{part('top')}

				<div data---="movable__null__selector:.appprocess;exec:Dashboard/sortindex">
					<nav data-bind="user.apps__template:.app" class="links" id="dashboardapps">
						<script type="text/html">
							{{ foreach m in value }}
								{{ if !m.internal }}
								<div class="appprocess app{{ if !m.online}} disabled{{ fi }}{{ if m.running }} app-running{{ fi }}{{ m.id | appfocused }}" data-id="{{ m.id }}" draggable="true">
									<span class="appbadge{{ if !m.countbadges }} hidden{{ fi }}" data-id="{{ m.id }}"><i class="fa fa-circle"></i></span>
									<span class="close exec" data-exec="Dashboard/close" data-id="{{ m.id }}"><i class="fa fa-times"></i></span>{{ if m.countnotifications }}<b>{{ if m.countnotifications > 99 }}99{{ else }}{{ m.countnotifications}}{{ fi }}</b>{{ fi }}<i class="{{ m.icon | icon }}"{{ if m.color }} style="color:{{ m.color }}"{{ fi }}></i>{{ m.title }}
									<span class="appprogress hidden ap{{ m.id }}"><span class="userbg"{{ m.id | appprogress }}></span></span>
								</div>
								{{ fi }}
							{{ end }}
						</script>
					</nav>
				</div>
				<hr data-bind="user.noapps__hide" class="hidden" />

				@{part('middle')}

				<nav class="links npt">

					@{if !user.guest && CONF.allowstatus}
					<div class="app exec internal app-modal highlight" data-exec="Dashboard/showstatusform" data-bind="user__html:Thelpers.status(value.statusid)"></div>
					@{fi}

					@{if CONF.welcome}
					<div class="app exec" data-exec="internalapp" data-id="_welcome" id="welcomeapp">
						<span class="close exec" data-exec="Dashboard/close" data-id="_welcome"><i class="fa fa-times"></i></span>
						<i class="fa fa-flag"></i>@(Welcome)
					</div>
					@{fi}
					@{if !user.guest && CONF.allowprofile}
					<div class="app exec internal" data-exec="internalapp" data-id="_account">
						<span class="close exec" data-exec="Dashboard/close" data-id="_account"><i class="fa fa-times"></i></span>
						<i class="fa fa-user-circle"></i>@(My account)
					</div>
					@{fi }
					@{if !user.guest}
						@{if CONF.allowmembers}
						<div class="app exec internal app-modal" data-exec="Dashboard/showmembers">
							<i class="fa fa-users"></i>@(Members)
						</div>
						@{fi }
						<div class="app exec internal app-modal" data-exec="Dashboard/showsessions"><i class="fa fa-history"></i>@(My sessions)</div>
					@{fi}

					<hr />
					@{if !user.guest && user.sa}
						<div class="app exec internal" data-exec="internalapp" data-id="_admin">
							<span class="close exec" data-exec="Dashboard/close" data-id="_admin"><i class="fa fa-times"></i></span>
							<i class="fa fa-cog"></i>@(Control panel)
						</div>
					@{fi}

					@{if !user.guest && user.pin}
					<div class="app exec internal" data-exec="internallock"><i class="fa fa-lock"></i>@(Lock screen)</div>
					@{fi}

					<div class="app exec" data-exec="internallogoff"><i class="fa fa-power-off red"></i>@(Sign out)</div>
				</nav>

				@{part('bottom')}

			</div>
			<footer>
				<div class="console" data-bind="common.consolecount__html span:value__click:Dashboard/showconsole"><i class="fa fa-clipboard-list"></i><span>0</span></div>
			</footer>
		</div>
		<div class="main">
			<div data---="processes@2__dashboard.current__datasource:dashboard.apps;options:Dashboard/appmenu"></div>
		</div>
	</div>

	<div class="titlemessage hidden" data-bind="null__click:hidetitlemessage">
		<i class="fa"></i>
		<div></div>
	</div>

	<div data---="console__common.consolewindow__datasource:common.console"></div>
	<div data---="importer__common.form__if:reportbug;url:/forms/report.html"></div>
	<div data---="importer__common.form__if:screenshot;url:/forms/screenshot.html"></div>
	<div data---="importer__common.form__if:status;url:/forms/status.html"></div>
	<div data---="importer__common.form__if:sessionsform;url:/forms/sessions.html"></div>
	<div data---="importer__common.form__if:membersform;url:/forms/members.html"></div>
	<div data---="importer__common.form__if:notifications;url:/forms/notifications.html"></div>

	<script>

		var FIRSTDATEOFWEEK = { sk: 1, cs: 1, hr: 1, bg: 1, bs: 1, az: 1, sq: 1, de: 1, hu: 1, pl: 1, uk: 1, tr: 1, tk: 1, tt: 1, sv: 1, es: 1, sl: 1, sr: 1, ru: 1, ro: 1, pt: 1, no: 1, nb: 1, nn: 1, mk: 1, lb: 1, lv: 1, la: 1, it: 1, el: 1, ka: 1, fr: 1, da: 1 };

		DEF.languagehtml = '@{user.language}';
		common.electron = navigator.userAgent.indexOf('Electron') !== -1 && W.require != null;
		common.electronpadding = 0;

		MONTHS[0] = '@(January)';
		MONTHS[1] = '@(February)';
		MONTHS[2] = '@(March)';
		MONTHS[3] = '@(April)';
		MONTHS[4] = '@(May)';
		MONTHS[5] = '@(Juny)';
		MONTHS[6] = '@(July)';
		MONTHS[7] = '@(August)';
		MONTHS[8] = '@(September)';
		MONTHS[9] = '@(October)';
		MONTHS[10] = '@(November)';
		MONTHS[11] = '@(December)';
		DAYS[0] = '@(Sunday)';
		DAYS[1] = '@(Monday)';
		DAYS[2] = '@(Tuesday)';
		DAYS[3] = '@(Wednesday)';
		DAYS[4] = '@(Thursday)';
		DAYS[5] = '@(Friday)';
		DAYS[6] = '@(Saturday)';

		function hidetitlemessage(el) {
			common.titlescache && clearTimeout(common.titlescache);
			common.titlescache = null;
			el.aclass('hidden');
		}

		if (common.electron) {
			process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';
			common.META = require('electron').remote.getGlobal('META') || EMPTYOBJECT;
			require('electron').ipcRenderer.send('setTitle', document.title);
			if (common.META.version && navigator.userAgent.indexOf('Macintosh') !== -1)
				$('body').aclass('electron');
		}

		// For screenshots
		common.cdn = '@{'%cdn'}';
		common.cluster = '@{F.id}';
		common.defaultappid = '@{'%defaultappid'}';
		common.livecounter = 0;
		common.liverefreshing = false;
		common.maxmembers = +'@{CONF.maxmembers}';

		CACHEPATH('common.statusid', '6 hours');

		WATCH('common.consolewindow', function() {
			SET('common.consolecount', 0, 1000);
		});

		if (!isMOBILE) {

			var hidetooltip = function() {
				clearTimeout2('tooltip');
				SETTER('tooltip', 'hide', true);
			};

			$(document).on('mouseenter', '.tooltip', function(e) {
				clearTimeout2('tooltiphide');
				var el = $(this);
				var opt = {};
				opt.element = el;
				opt.html = el.attrd('title');
				opt.align = 'bottom';
				opt.timeout = 1500;
				SETTER('tooltip', 'show', opt);
			}).on('mousemove', function(e) {
				if (e.pageY > 50)
					setTimeout2('tooltiphide', hidetooltip, 200);
			}).on('mouseleave', function() {
				setTimeout2('tooltiphide', hidetooltip, 200);
			}).on('click', function() {
				clearTimeout2('tooltip');
				SETTER('!tooltip', 'hide');
			});
		}

		function togglemenu(value, path, el) {
			if (value) {
				el.rclass('hidden');
				setTimeout(function() {
					el.aclass('startmenu-visible');
					$('.noscrollbar').noscrollbar();
				}, 10);
			} else {
				el.rclass('startmenu-visible');
				setTimeout(function() {
					el.aclass('hidden');
				}, 300);
			}
		}

		$('body').on('click touchstart', function(e) {
			if (common.startmenu) {
				var t = e.target;
				var el = $(t);
				if (t.tagName === 'BODY' || el.closest('.launchpad').length)
					TOGGLE('common.startmenu');
			}
		});

		function mainmenu(el) {
			SET('common.startmenuapps', true);
			TOGGLE('common.startmenu');
		}

		function internalapp(el) {
			var id = typeof(el) === 'string' ? el : el.attrd('id');
			var iframe = dashboard.apps.findItem('id', id);
			if (iframe)
				SETTER('processes', 'maximize', id);
			else
				AJAX('GET /api/profile/{0}/'.format(id), FUNC.open);
			common.startmenu && SET('common.startmenu', false);
		}

		function internalreset() {
			common.startmenu && SET('common.startmenu', false);
			SETTER('processes', 'resetsize');
		}

		function internallock() {
			SETTER('loading', 'show');
			setTimeout(function() {
				location.href = '/lock/';
			}, 500);
		}

		function internallogoff() {
			SETTER('loading', 'show');
			SETTER('processes', 'kill');
			setTimeout(function() {
				location.href = '/logout/';
			}, 1500);
		}

		ON('message', function(message) {
			switch (message.TYPE) {
				case 'logoff':
				case 'logout':
					COOKIES.set('@{'%cookie'}', '', '-1 day');
					location.href = '/';
					break;
				case 'settings':
					document.title = message.body.name;
					SET('user.test', message.body.test === true);
					break;
			}
		});

		var LOADINGSKIP = true;

		ON('online', function(is) {
			if (LOADINGSKIP)
				LOADINGSKIP = false;
			else
				SETTER('loading', is ? 'hide' : 'show');
		});

		$(document).on('dblclick', '.appprocess', function() {
			if (user.sa) {
				var id = $(this).attrd('id');
				setTimeout(function() {
					SETTER('processes', 'reload', id);
				}, 500);
			}
		});

		var dashboard = {};

		dashboard.current = null;
		dashboard.apps = [];

		$(document).on('click', '.app', function() {
			var el = $(this);

			if (el.hclass('app-offline') || el.hclass('app-disabled') || el.attrd('exec') === 'internallogoff' || el.hclass('app-modal'))
				return;

			var id = el.attrd('id');
			var iframe = dashboard.apps.findItem('id', id);

			if (iframe) {
				if (iframe.internal.countbadges || iframe.internal.countnotifications) {
					AJAX('GET /api/profile/{0}/reset/'.format(id), NOOP);
					iframe.internal.countnotifications = 0;
					iframe.internal.countbadges = 0;
				}
				SETTER('processes', 'maximize', id);
			} else
				AJAX('GET /api/profile/{0}/'.format(id), FUNC.open);

			$(document.body).rclass('menushow');
			common.startmenu && SET('common.startmenu', false);
		});

		PLUGIN('Dashboard', function(self) {

			self.favorite = function(id) {
				AJAX('GET /api/profile/{0}/favorite/'.format(id), function(response) {
					var app = user.apps.findItem('id', id);
					app.favorite = response.value;
					$('.app[data-id="{0}"]'.format(id)).find('.appfavorite').tclass('hidden', !app.favorite);
					user.apps.quicksort('title');
					UPD('user.apps');
				});
			};

			self.showconsole = function() {
				TOGGLE('common.consolewindow');
			};

			self.showprofile = function() {
				if (!user.guest)
					internalapp('_account');
			};

			self.minimizemenu = function() {
				$(document.body).tclass('menuminimized');
				$(window).trigger('resize');
			};

			self.hidemenu = function() {
			};

			self.showsessions = function() {
				SET('common.form', 'sessionsform');
				SET('common.startmenu', false);
			};

			self.showmembers = function() {
				SET('common.form', 'membersform');
				SET('common.startmenu', false);
			};

			self.resizeapps = function(value, path, el) {
				setTimeout2('resizeapps', function() {
					var size = ($('.datetime').length ? 160 : 0) + ($('.button-status').length ? 50 : 0);
					el.css('width', el.find('button').length * 45);
					var parent = el.parent().parent();
					var w = WW - (204 + (isMOBILE && WIDTH() === 'xs' ? -24 : (size + 10)));
					parent.css('width', w);
					$('.scrollerbuttons').tclass('hidden', isMOBILE || parent.find('nav').width() < w);
				}, 100, el);
			};

			self.open = function(el) {
				if (common.page !== 'dashboard')
					SET('common.page', 'dashboard');
				self.hidemenu();
				var id = el instanceof jQuery ? el.attrd('id') : el;
				var app = dashboard.apps.findItem('id', id);
				if (app == null)
					return;
				if (app.internal.countbadges || app.internal.countnotifications) {
					AJAX('GET /api/profile/{0}/reset/'.format(id), NOOP);
					app.internal.countnotifications = 0;
					app.internal.countbadges = 0;
					BIND('user.apps');
				}
				SETTER('processes', 'maximize', id);
			};

			self.close = function(el, e) {

				if (e) {
					e.stopPropagation();
					e.preventDefault();
				}

				self.hidemenu();
				SETTER('processes', 'kill', el instanceof jQuery ? el.attrd('id') : el);
			};

			self.mainmenu = function() {
				$('body').tclass('menushow');
				$('.noscrollbar').noscrollbar();
			};

			self.mainmenu2 = function() {
				SETTER('processes', 'showmenu', common.focused);
			};

			self.closefocused = function() {
				common.focused && SETTER('processes', 'kill', common.focused);
				setTimeout(function() {
					var arr = $('.ui-process');
					for (var i = 0; i < arr.length; i++) {
						var el = $(arr[i]);
						if (el.hclass('hidden'))
							continue;
						var id = el.attrd('id');
						if (id) {
							SET('common.focused', id);
							break;
						}
					}
				}, 100);
			};

			self.sortindex = function(list) {
				var data = [];
				list.each(function(index) {
					var id = $(this).attrd('id');
					var app = user.apps.findItem('id', id);
					if (app) {
						app.position = index;
						data.push({ id: app.id, position: index });
					}
				});
				data.length && AJAX('POST /api/profile/apps/positions/', { apps: data });
			};

			self.navigate = function(el) {

				$(document.body).rclass('menushow');
				var id, data;

				if (el instanceof jQuery) {
					id = el.attrd('id');
					data = decodeURIComponent(el.attrd('data'));
				} else {
					id = el.id;
					data = el.data;
				}

				var app = user.apps.findItem('id', id);
				if (!app)
					return;

				var iframe = dashboard.apps.findItem('id', app.id);
				if (iframe) {
					self.open(el instanceof jQuery ? el : el.id);
					setTimeout(function() {
						SETTER('processes', 'sendnotifydata', app.id, data);
					}, 500);
				} else {
					app.notifydata = data;
					AJAX('GET /api/profile/{0}/'.format(app.id), { href: app.url }, FUNC.open);
				}
			};

			self.sync = function() {
				var is = false;
				var is2 = false;
				dashboard.apps = dashboard.apps.remove(function(item) {
					var app = user.apps.findItem('id', item.id);
					var rem = app == null || !app.online;
					if (rem) {
						SETTER('processes', 'kill', item.id);
						is = true;
					} else {
						item.running = item.internal.running = app.running = true;
						is2 = true;
					}
					return rem;
				});

				is && UPD('dashboard.apps');
				UPD('user.apps');
			};

			self.scrollapps = function(el) {
				var scroll = $('.nav > div');
				var value = 150;
				switch (el[0].name) {
					case 'left':
						value = -150;
						break;
				}
				scroll.stop().animate({ scrollLeft: scroll[0].scrollLeft + value }, 200);

			};

			self.saveState = function() {
				CACHE('focused', common.focused, '1 year');
			};

			self.showappmenu = function() {
				SETTER('processes', 'message2', common.focused, 'menu');
			};

			self.showappsettings = function() {
			};

			self.showstatusform = function() {
				SET('common.form', 'status');
				self.hidemenu();
			};

			self.init = function() {
				self.init = null;
				var running = CACHE('focused');
				if (running) {
					var app = user.apps.findItem('id', running);
					if (app) {
						var el = $('.app[data-id="{0}"]'.format(app.id));
						if (!el.length)
							el = $('.internal[data-id="{0}"]'.format(app.id));
						if (el.length)
							internalapp(el);
					}
				} else {

					var skip = false;

					if (common.defaultappid) {
						if (user.apps.findItem('id', common.defaultappid)) {
							internalapp(common.defaultappid);
							skip = true;
						}
					}

					if (!skip) {
						var wa = $('#welcomeapp');
						if (wa.length) {
							var ls = localStorage;
							if (ls.getItem('welcome') !== '1' || NAV.query.welcome) {
								ls.setItem('welcome', '1');
								skip = true;
								internalapp(wa);
							}
						}
					}

					if (!skip && !user.apps.findItem('favorite', true)) {
						isMOBILE && setTimeout(self.mainmenu, 100);
					}
				}
			};

			self.appmenu = function(opt, next, iframe) {

				opt.items = [];

				if (opt.appitems) {
					for (var i = 0; i < opt.appitems.length; i++)
						opt.items.push(opt.appitems[i]);
					opt.items.push('-');
				}

				opt.items.push({ name: common.muted[iframe.id] ? '<strong>@(Enable sounds)</strong>' : '@(Mute sounds)', icon: common.muted[iframe.id] ? 'volume-up red' : 'volume-mute', value: 'mutesounds' });
				opt.items.push({ name: iframe.meta.notifications ? '@(Mute notifications)' : '<strong>@(Enable notifications)</strong>', icon: (iframe.meta.notifications ? '!far fa-bell-slash' : 'bell red'), value: 'mutenotifications' });
				opt.items.push('-');
				opt.items.push({ name: '@(Print screen)', icon: 'print', value: 'print' });
				opt.items.push({ name: '@(Refresh)', icon: 'refresh', value: 'refresh' });
				opt.items.push({ name: '@(Changelog)', icon: 'history', value: 'changelog' });
				opt.items.push({ name: '@(Report a bug)', icon: 'bug', value: 'report' });
				opt.items.push('-');
				opt.items.push({ name: '@(Close application)', icon: 'times-circle red', value: 'close' });
				next();
			};

		});

		SETTER(true, 'shortcuts', 'register', 'F1', function() {
			var items = [];

			for (var i = 0; i < user.apps.length; i++) {
				var app = user.apps[i];
				items.push({ TYPE: 'app', id: app.id, name: app.title, icon: app.icon, keywords: app.name });
			}

			if (user.locking)
				items.push({ name: '@(Lock screen)', icon: 'lock', TYPE: 'lock' });

			items.push({ name: '@(Sign out)', icon: 'power-off', TYPE: 'logoff' });

			SETTER('features', 'show', items, function(item) {
				switch (item.TYPE) {
					case 'app':
						internalapp($('.app[data-id="{0}"],.internal[data-id="{0}"]'.format(item.id)));
						break;
					case 'logoff':
						internallogoff();
						break;
					case 'lock':
						internallock();
						break;
					case 'reset':
						internalreset();
						break;
				}
			}, true);

		}, true);

		SETTER(true, 'shortcuts', 'register', 'alt+tab,cmd+tab,ctrl+tab', function(e) {
			e.preventDefault();
			e.stopPropagation();
		}, true);

		SETTER(true, 'shortcuts', 'register', 'alt+w,cmd+w,alt+F3', function(e) {

			if (dashboard.current) {
				SETTER('processes', 'kill', dashboard.current.id);
				dashboard.current = null;
			} else if (dashboard.apps.length)
				SETTER('processes', 'kill', dashboard.apps[0].id);

			e.preventDefault();
			e.stopPropagation();
		}, true);

		SETTER(true, 'shortcuts', 'register', 'alt+r,F5', function(e) {
			var id = $('.ui-process-focus').attrd('id');
			id && SETTER('processes', 'reload', id);
			e.preventDefault();
			e.stopPropagation();
		}, true);

		SETTER(true, 'shortcuts', 'register', 'esc', function(e) {
			if (common.form) {
				NUL('common.form');
				e.preventDefault();
				e.stopPropagation();
			}
		}, true);

		WATCH('common.focused', function(path, id) {
			var nav = $('.menu').find('nav');
			nav.find('.app.focused').rclass('focused');
			nav.find('.app[data-id="{0}"]'.format(id)).aclass('focused');
			var b = $(document.body).rclass('appbutton');
			if (id) {
				var app = dashboard.apps.findItem('id', id);
				if (app) {
					app.dtfocused = NOW;
					b.tclass('appbutton', app.internal.mobilemenu === true);
				}
				$('.ui-process-focus').rclass('ui-process-focus');
				var iframe = $('.ui-process[data-id="{0}"]'.format(id)).aclass('ui-process-focus').find('iframe');
				if (iframe.length)
					iframe[0].contentWindow.focus();
			} else {
				common.statustimeout && clearTimeout(common.statustimeout);
				common.statustimeout = null;
				NULL('common.status');
			}
			EXEC('Dashboard/saveState');
		});

		Thelpers.status = function(value, icon) {
			var str;
			switch (value) {
				case 1:
					str = 'spinner fa-spin status1"></i>@(Busy)';
					break;
				case 2:
					str = 'moon status2"></i>@(Do not disturb)';
					break;
				case 3:
					str = 'door-open status3"></i>@(Be right back)';
					break;
				case 4:
					str = 'brain status4"></i>@(Meeting)';
					break;
				case 5:
					str = 'car status5"></i>@(Business trip)';
					break;
				case 6:
					str = 'umbrella-beach status6"></i>@(Holiday)';
					break;
				case 7:
					str = 'heartbeat status7"></i>@(Sick)';
					break;
				case 8:
					str = 'home status8"></i>@(Off work)';
					break;
				default:
					str = 'smile status0"></i>@(Available)';
					break;
			}

			var index = str.indexOf('</i>');
			var title = str.substring(index + 4);

			return '<i title="' + title + '" class="fa fa-' + (icon ? str.substring(0, index + 4) : str);
		};

		Thelpers.icon = function(val) {
			return 'fa-' + ((/\sfar|fab|fas|fal$/).test(val) ? val : (val + ' fa'));
		};

		ON('response', function(response) {
			// unauthorized
			if (response.status === 401) {
				location.href = '/';
				response.cancel = true;
				return;
			}
		});

		function refresh_color(user) {
			CSS('.userborder{border-color:{0}}.userbg{background-color:{0}}.userhover:hover{background-color:{0}!important}.links a > i,.links button > i,.links .app > i{color:{0}}.focused{background-color:{0}!important;color:white!important}.selected{background-color:{0}!important}.usercolor,.notification-app,.notification-date{color:{0}!important}{1}'.format(user.colorscheme || '#4285f4', ''), 'usertheme');
			var b = $(document.body);
			b.tclass('light', !user.darkmode);
			b.tclass('ui-dark', !!user.darkmode);
			SETTER('processes', 'emitevent', 'appearance', { darkmode: user.darkmode, colorscheme: user.colorscheme, background: user.background ? (location.protocol + '//' + location.hostname + (location.port ? (':' + location.port) : '') + '/backgrounds/' + user.background) : '' });
		}

		function refresh_profiledata() {

			if (common.liverefreshing)
				return;

			common.liverefreshing = true;
			AJAX('GET /api/profile/live', function(response) {

				common.liverefreshing = false;

				if (response == null || typeof(response) === 'string' || response.desktop !== user.desktop) {
					// maybe locked or layout changed
					location.reload(true);
					return;
				}

				var isui = user.darkmode !== response.darkmode || user.colorscheme !== response.colorscheme || user.background !== response.background;
				if (isui) {
					user.darkmode = response.darkmode;
					user.colorscheme = response.colorscheme;
					user.background = response.background;
					refresh_color(user);
				}

				var is = false;

				if (user.name !== response.name) {
					is = true;
					user.name = response.name;
				}

				if (user.photo !== response.photo) {
					is = true;
					user.photo = response.photo;
				}

				if (user.test !== response.test) {
					is = true;
					user.test = response.test;
				}

				if (user.volume !== response.volume) {
					is = true;
					user.volume = response.value;
				}

				if (user.countnotifications !== response.countnotifications) {
					is = true;
					var old = user.countnotifications;
					user.countnotifications = response.countnotifications;
					if (user.countnotifications > old) {
						user.sounds && SETTER('audio', 'play', '/sounds/notifications.mp3');
						FUNC.faviconbadge(user.countnotifications);

						if (common.electron)
							require('electron').ipcRenderer.send('setBadge', { count: user.countnotifications });

						SETTER('nativenotifications', 'append', '@(Alert!)', '@(You have {0}.)'.format(user.countnotifications.pluralize(@('# unread notifications', '# unread notification', '# unread notifications', '# unread notifications'))), function() {
							SET('common.form', 'notifications');
						}, '/icon.png');

						if (common.form === 'notifications')
							EXEC('notifications/refresh');

					} else
						FUNC.faviconbadge(false);
				}

				if (user.statusid !== response.statusid || user.status !== response.status) {
					is = true;
					user.statusid = response.statusid;
					user.status = response.status;
				}

				if (user.sa !== response.sa) {
					is = true;
					user.sa = response.sa;
				}

				if (response.notifications)
					SETTER('quicknotifications', 'append', response.notifications);

				var keys = [];
				var removed = is;

				for (var i = 0; i < user.apps.length; i++) {
					var app = user.apps[i];
					var ua = response.apps[app.id];

					if (app.id.charAt(0) !== '_') {
						keys.push(app.id);
						if (ua == null) {
							removed = true;
							continue;
						}
					} else if (ua == null)
						continue;

					if (app.countbadges !== ua.countbadges) {
						app.countbadges = ua.countbadges;
						app.countbadges && user.sounds && SETTER('audio', 'play', '/sounds/badges.mp3');
						is = true;
					}

					if (app.countnotifications !== ua.countnotifications) {
						app.countnotifications = ua.countnotifications;
						is = true;
					}

					if (app.notifications != null && ua.notifications != null && app.notifications !== ua.notifications) {
						app.notifications = ua.notifications;
						is = true;
					}
				}

				if (removed)
					keys.push('!');

				var keysnew = Object.keys(response.apps);

				keys.sort();
				keysnew.sort();

				if (keys.join('') !== keysnew.join(''))
					refresh_profile();
				else if (is)
					UPD('user');
			});
		}

		function refresh_profile() {
			AJAX('GET /api/profile/', function(profile) {

				if (profile == null || typeof(profile) === 'string') {
					// refresh (maybe locked / logged out)
					location.reload(true);
					return;
				}

				if (W.user && W.user.desktop != null && W.user.desktop !== profile.desktop) {
					location.reload(true);
					return;
				}

				var cansort = false;

				if (W.user && W.user.apps) {

					cansort = true;
					var apps = profile.apps;

					for (var i = 0; i < apps.length; i++) {
						var app = apps[i];
						var ua = user.apps.findItem('id', app.id);
						if (ua)
							COPY(app, ua);
						else
							user.apps.push(app);
					}

					user.apps = user.apps.remove(function(item) {
						return apps.findItem('id', item.id) == null;
					});

					profile.apps = user.apps;
				}

				profile.datefdow = FIRSTDATEOFWEEK[profile.language || 'en'] || 0;

				if (!common.ready) {
					SET('common.ready', true);
					setTimeout(function() {
						$('.launchpad').aclass('launchpad-visible');
					}, 1000);
				}

				if (cansort || (profile.apps[0] && profile.apps[0].position != null && profile.apps[1] && profile.apps[1].position != null))
					profile.apps.quicksort('position');
				else
					profile.apps.quicksort('title');

				var noapps = true;
				for (var i = 0; i < profile.apps.length; i++) {
					if (!profile.apps[i].internal) {
						noapps = false;
						break;
					}
				}

				profile.noapps = noapps;
				SET('user', profile);
				refresh_color(user);
				EXEC('Dashboard/sync');
				EXEC('Dashboard/init');
				SET('common.startmenusearch', '');
			});
		}

		setTimeout(refresh_profile, 1000);

		setInterval(function() {
			common.livecounter++;
 			if (common.livecounter % 24 === 0)
				refresh_profile();
			if (document.hasFocus())
				refresh_profiledata();
			else if (common.livecounter % 5 === 0)
				refresh_profiledata();
			if (common.livecounter > 99999999)
				common.livecounter = 0;
		}, 8000);

		function renderstatus(value, path, el) {
			if (value && !value.status) {
				value.status = 1;
				common.statustimeout && clearTimeout(common.statustimeout);
				el.tclass('green', value.type === 'success');
				el.tclass('orange', value.type === 'warning');
				el.tclass('red', value.type === 'error');
				el.tclass('blue', value.type === 'info');
				el.html(Thelpers.markdown_status(value));
				el.attr('title', el.text());
				common.statustimeout = setTimeout(function() {
					common.statustimeout = null;
					el.empty();
				}, 10000);
			} else
				el.empty();
		}

		Thelpers.time2 = function(value) {

			if (!value)
				return;

			var diff = Date.now() - (value instanceof Date ? value : value.parseDate()).getTime();

			var minutes = ((diff / 1000) / 60) >> 0;
			if (minutes < 60) {
				if (minutes < 3)
					return '@(now)';
				return @(minutes + ' minutes ago');
			}

			var hours = (minutes / 60) >> 0;
			if (hours < 24)
				return @(hours + ' ' + Thelpers.pluralize(hours, 'hours', 'hour', 'hours', 'hours') + ' ago');

			var days = (hours / 24) >> 0;
			if (days < 30)
				return @(days + ' ' + Thelpers.pluralize(days, 'days', 'day', 'days', 'days') + ' ago');

			var months = (days / 29) >> 0;
			if (months < 12)
				return @(months + ' ' + Thelpers.pluralize(months, 'months', 'month', 'months', 'months') + ' ago');

			var years = (months / 12) >> 0;
			return @(years + ' ' + Thelpers.pluralize(years, 'years', 'year', 'years', 'years') + ' ago');
		};

		Thelpers.time = function(value) {
			return value ? '<span class="ta-time" data-time="{0}" title="{2}">{1}</span>'.format(value.getTime(), Thelpers.time2(value), value.format(null)) : value;
		};

		ON('knockknock', function(counter) {

			$('.ta-time').each(function() {
				var el = $(this);
				el.html(Thelpers.time(new Date(+el.attrd('time'))));
			});

			var dt = NOW.add('-30 minutes');
			var close = [];

			for (var i = 0; i < dashboard.apps.length; i++) {
				var app = dashboard.apps[i];
				if (app.id === common.focused)
					continue;
				if (dt > app.dtfocused)
					close.push(app.id);
			}

			for (var i = 0; i < close.length; i++)
				EXEC('Dashboard/close', close[i]);
		});

		$(document).on('contextmenu', '.appprocess,.app-running', function(e) {

			e.stopPropagation();
			e.preventDefault();

			var opt = {};
			opt.element = $(this);

			if (!opt.element.hclass('app-running'))
				return;

			var id = opt.element.attrd('id');
			var app = user.apps.findItem('id', id);

			if (app == null)
				return;

			var hidden = $('.ui-process[data-id="{0}"]'.format(id)).hclass('hidden');

			opt.items = [];
			opt.items.push(app.title);

			if (!hidden)
				opt.items.push({ name: '@(Refresh)', icon: 'refresh', value: 'reload' });

			if (!app.internal)
				opt.items.push({ name: '@(Report a bug)', icon: 'bug', value: 'report' });

			opt.items.push('-');
			opt.items.push({ name: '@(Close application)', icon: 'times-circle red', value: 'kill' });

			opt.callback = function(item) {
				if (item.value === 'report')
					FUNC.reportbug(id);
				else
					SETTER('processes', item.value, id);
			};

			SETTER('menu', 'show', opt);
		});

		$(document).on('contextmenu', '.launchpadapp', function(e) {

			e.stopPropagation();
			e.preventDefault();

			var opt = {};
			var el = $(this);

			opt.x = e.pageX;
			opt.y = e.pageY;

			var id = el.attrd('id');
			var app = user.apps.findItem('id', id);

			if (app == null)
				return;

			var appel = $('.ui-process[data-id="{0}"]'.format(id));
			var hidden = appel.hclass('hidden');
			var running = !!appel.length;

			opt.items = [];
			opt.items.push(app.title);

			if (running) {
				if (!hidden)
					opt.items.push({ name: '@(Refresh)', icon: 'refresh', value: 'reload' });
				opt.items.push({ name: '@(Show window)', icon: '!far fa-window-maximize', value: 'maximize' });
			}

			running && opt.items.push({ name: '@(Close application)', icon: 'times-circle red', value: 'kill' });

			opt.callback = function(item) {
				SETTER('processes', item.value, id);
			};

			SETTER('menu', 'show', opt);
		});

		ON('ready', function() {
			WAIT('user.openplatformid', function() {
				NAV.query.notifications && SET('common.form', 'notifications', 2000);

				if (NAV.query.password && !user.guest)
					EXEC('Dashboard/showprofile');

				var share = NAV.query.share;
				if (share) {
					var diff = share.length % 4;
					if (diff) {
						diff = 4 - diff;
						for (var i = 0; i < diff; i++)
							share += '=';
					}

					try {
						var val = decodeURIComponent(atob(share));
						share = PARSE('{' + val + '}');
					} catch (e) {
						return;
					}

					setTimeout(function() {
						SETTER('processes', 'wait', share.id, function(iframe) {
							share.id = undefined;
							iframe && SETTER('processes', 'sendlinkdata', iframe, share);
						});
					}, 1000);
				}

			});
		});

		WATCH('user', function(path, value) {

			if (!dashboard.apps.length)
				return;

			var keys = Object.keys(value.apps);
			for (var i = 0; i < keys.length; i++) {
				var app = value.apps[keys[i]];
				var running = dashboard.apps.findItem('id', keys[i]);
				if (running) {
					running.internal.countbadges = app.countbadges;
					running.internal.countnotifications = app.countnotifications;
				}
			}
		});

		Thelpers.type = function(val) {
			return val === undefined ? 'undefined' : val == null ? 'null' : val.toString();
		};

		Thelpers.appfocused = function(id) {
			return common.focused === id ? ' focused' : '';
		};

		Thelpers.appprogress = function(id) {
			var app = dashboard.apps.findIndex('id', id);
			return app ? (!app.progress || app.progress <= 0 || app.progress >= 0) ? ' style="width:{0}px"'.format(app.progress) : '' : '';
		};

		Thelpers.status = function(value, icon) {
			var str;
			switch (value) {
				case 1:
					str = 'spinner fa-spin status1"></i>@(Busy)';
					break;
				case 2:
					str = 'moon status2"></i>@(Do not disturb)';
					break;
				case 3:
					str = 'door-open status3"></i>@(Be right back)';
					break;
				case 4:
					str = 'brain status4"></i>@(Meeting)';
					break;
				case 5:
					str = 'car status5"></i>@(Business trip)';
					break;
				case 6:
					str = 'umbrella-beach status6"></i>@(Holiday)';
					break;
				case 7:
					str = 'heartbeat status7"></i>@(Sick)';
					break;
				case 8:
					str = 'home status8"></i>@(Off work)';
					break;
				default:
					str = 'smile status0"></i>@(Available)';
					break;
			}

			var index = str.indexOf('</i>');
			var title = str.substring(index + 4);

			return '<i title="' + title + '" class="fa fa-' + (icon ? str.substring(0, index + 4) : str);
		};
	</script>

	@{components('openplatform_portal')}

</body>
</html>
