@{layout('')}
@{title(config.name)}

<!DOCTYPE html>
<html class="noscroll portal">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="@{'%name'}" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="/icon.png" />
	<link rel="manifest" href="/manifest.json" />
	<link rel="stylesheet" href="@{'%cdn'}/spa.min@18@{if CONF.proicons}pro@{fi}.css" />
	<script src="@{'%cdn'}/spa.min@18.js"></script>
	@{import('meta', 'head', 'main.css + portal.css + ui.css', 'main.js + portal.js + ui.js', 'favicon.ico')}
	<script>var user = EMPTYOBJECT</script>
</head>
<body data---="exec" class="noscroll@{if user.darkmode} ui-dark@{fi} invisible" data-bind="common.ready__visible">

	<div class="mobilemenu-buttons">
		<button class="exec" data-exec="openplatform/mainmenu"><span><b></b><b></b><b></b><b></b></span></button>
		<button class="exec" data-exec="view/mobilemenu"><i class="fas fa-align-justify"></i></button>
	</div>

	<div data---="animation__null__style:6">
		<header class="animation">
			<div class="header">
				<div class="mode" data-bind="user.mode__exec:openplatform/rendermode"></div>
				<div class="photo" data-bind="common.profile__template__changes">
					<script type="text/html">
						{{ if value.photo }}
						<img src="/photos/{{ value.photo }}" class="exec" data-exec="openplatform/profile" />
						{{ else if value.name }}
						<div class="exec" data-exec="openplatform/profile">{{ value.name | initials }}</div>
						{{ fi }}
					</script>
				</div>
				@{if !user.guest}
				<button class="notifications exec" data-exec="openplatform/notifications"><span data-bind="user.countnotifications__show:value > 0__html:value > 99 ? 99 : value" class="hidden">0</span><i class="far fa-bell"></i></button>
				@{fi}

				<div class="platform exec" data-exec="openplatform/profile">
					<div data-bind="user.config.name__text" class="title"></div>
					<div data-bind="user.name__text" class="name"></div>
				</div>

			</div>
			<div data---="viewbox__user.apps__margin:@{if CONF.allowclock}100@{else}55@{fi};scrollbar:1;visibleY:0;scrollbarshadow:1" class="invisible">

				@{part('menu')}

				<div data-bind="user.noapps__hide">
					<div class="apps">
						<div data---="movable__null__selector:.app;exec:view/sort" data-bind="user.apps__template:.app">
							<script type="text/html">
								{{ foreach m in value }}
									{{ if !m.internal && m.online }}
									<div class="app exec{{ if m.isrunning }} running{{ fi }}" data-exec="view/open" data-id="{{ m.id }}" draggable="true">
										<span class="close exec" data-exec="view/inlineclose" data-prevent="true"><i class="fas fa-times"></i></span>
										{{ if m.countbadges || m.countnotifications }}<span class="badges"></span>{{ fi }}
										<div class="icon"><i class="{{ m.icon | icon }}"></i></div>
										<div class="name">{{ m.title }}</div>
									</div>
									{{ fi }}
								{{ end }}
							</script>
						</div>
					</div>
					<hr />
				</div>
				<br data-bind="user.noapps__show" />
				<div class="apps">
				@{if !user.guest}

					<div data-bind="user.apps__template:.app">
						<script type="text/html">
							{{ foreach m in value }}
								{{ if m.internal }}
								<div class="app exec{{ if m.isrunning }} running{{ fi }}" data-exec="view/open" data-id="{{ m.id }}" draggable="true">
									<span class="close exec" data-exec="view/inlineclose" data-prevent="true"><i class="fas fa-times"></i></span>
									{{ if m.countbadges || m.countnotifications }}<span class="badges"></span>{{ fi }}
									<div class="icon"><i class="{{ m.icon | icon }}"></i></div>
									<div class="name">{{ m.title }}</div>
								</div>
								{{ fi }}
							{{ end }}
						</script>
					</div>

					@{if CONF.allowprofile}
					<div class="app exec" data-exec="openplatform/profile" data-id="profile">
						<div class="icon"><i class="fas fa-user-circle"></i></div>
						@(My account)
					</div>
					@{fi}

					@{if CONF.allowmembers}
					<div class="app exec" data-exec="openplatform/members">
						<div class="icon"><i class="fa fa-users"></i></div>
						@(Members)
					</div>
					@{fi }

					<div class="app exec" data-exec="openplatform/sessions">
						<div class="icon"><i class="fa fa-history"></i></div>
						@(My sessions)
					</div>

					@{if user.pin}
					<div class="app exec" data-exec="openplatform/lock">
						<div class="icon"><i class="fa fa-lock"></i></div>
						@(Lock screen)
					</div>
					@{fi}

				@{fi}

					<div class="app exec" data-exec="openplatform/console" data-bind="common.consolecount__.b">
						<div class="icon"><i class="fa fa-clipboard-list"></i></div>
						@(Console)
					</div>

					<div class="app exec" data-exec="openplatform/logout">
						<div class="icon"><i class="fa fa-power-off red"></i></div>
						@(Sign out)
					</div>

				</div>
			</div>

			@{if CONF.allowclock}
			@{if !user.guest && CONF.allowstatus}
			<button class="status exec" data-exec="view/status" data-bind="user.statusid__html:Thelpers.status(value, true)__|__common.statusid__.warning:value==null"></button>
			@{fi}
			<div class="datetime">
				<div data---="time"></div>
			</div>
			@{fi}

		</header>

		<!--
		<footer>
			<div class="sa hidden" data-bind="user.sa__show"><i class="fas fa-unlock-alt"></i>@(SA)</div>
			<div class="test hidden" data-bind="user.test__show">@(TEST)</div>
			<div class="user exec" data-exec="openplatform/profile">
				<i class="fa fa-user-circle"></i><span data-bind="user.name__text"></span>
			</div>
			<div class="console exec" data-bind="common.consolecount__html span:value" data-exec="openplatform/console"><i class="fa fa-clipboard-list"></i><span>0</span></div>
		</footer>-->

		<div class="bg">
			<div data---="main__null__padding:15;margin:@lg=26 @md=26 @sm=80 @xs=80" class="animation">
				<div data---="processes__user.apps__parent:.ui-main" class="processes">
					<script type="text/html">
						<div class="process" data-id="{{ value.id }}">
							<div class="process-title">
								<div class="close exec" data-exec="view/close" title="@(Close)"><i class="fa fa-times"></i></div>
								<div class="menu exec" data-exec="view/menu" title="@(Menu)"><i class="fas fa-cog"></i></div>
								<div class="mobilemenu exec" data-exec="view/mobilemenu" title="@(Mobile menu)"><i class="fas fa-align-justify"></i></div>
								<label><i class="{{ value.icon | icon }}"></i>{{ value.title }}</label>
							</div>
							<div class="process-message"></div>
							<div class="process-progress hidden progress{{ value.id }}"><div></div></div>
							<div class="process-offline autosize hidden offline{{ value.id }}"><div><div><i class="fas fa-ban"></i></div><label></label></div></div>
							<div class="process-loading autosize hidden loading{{ value.id }}"><div><div><i class="fa fa-spinner fa-pulse"></i></div><label>adasdas</label></div></div>
							<div class="iframe autosize"></div>
						</div>
					</script>
				</div>
			</div>
		</div>
	</div>

	<script>
		PLUGIN('view', function(exports) {

			var background;

			exports.sort = function(apps) {
				for (var i = 0; i < apps.length; i++) {
					var id = $(apps[i]).attrd('id');
					var app = user.apps.findItem('id', id);
					app.position = i;
				}
				EXEC('openplatform/positions');
			};

			exports.status = function(el) {
				var opt = {};
				opt.element = el;
				opt.align = 'center';
				opt.position = 'bottom';
				EXEC('openplatform/status', opt);
			};

			exports.menu = function(el) {
				var id = el.closest('.process').attrd('id');
				var opt = {};
				opt.element = el;
				opt.align = 'right';
				EXEC('openplatform/menu', id, opt);
			};

			exports.close = function(el) {
				var id = el.closest('.process').attrd('id');
				EXEC('openplatform/close', id);
			};

			exports.inlineclose = function(el) {
				var id = el.closest('.app').attrd('id');
				EXEC('openplatform/close', id);
			};

			exports.reset = function() {
				for (var i = 0; i < user.apps.length; i++) {
					var item = user.apps[i];
					if (item.isrunning && item.mywindow)
						item.mywindow.setcommand('reset');
				}
			};

			exports.mobilemenu = function() {
				EXEC('openplatform/mobilemenu', common.focused);
			};

			exports.open = function(el) {

				if (el.hclass('disabled'))
					return;

				EXEC('openplatform/open', el);
				$('body').rclass('menushow');
			};

			ON('app_focus', function(app, is) {
				if (app) {
					$('body').tclass('mobilemenu', is ? app.mobilemenu : false);
					app.window && app.window.tclass('focused', is);
				}
			});

			ON('app_offline', function(app, model) {
				var el = $('.offline' + app.id);
				el.find('label').text(model.text || '');
				el.tclass('hidden', !model.is);
				el.parent().tclass('disable', model.is);
			});

			ON('app_loading', function(app, model) {
				var el = $('.loading' + app.id);
				el.find('label').text(model.text || '');
				el.tclass('hidden', !model.is);
				el.parent().tclass('disable', model.is);
			});

			ON('app_progress', function(app, model) {
				var el = $('.progress' + app.id);
				el.tclass('hidden', !app.progress || app.progress >= 100);
				el.find('div').stop().animate({ width: app.progress + '%' }, 300);
			});

			WATCH('user.apps', function(path, value, type) {
				if (type !== 'kill' && type !== 'focus') {
					var arr = [];
					var favorites = [];
					for (var i = 0; i < value.length; i++) {
						var item = value[i];
						if (!item.internal && item.online) {
							arr.push(item);
							item.favorite && favorites.push(item);
						}
					}
					favorites.quicksort('title');
					arr.quicksort('title');
					SET('common.apps', arr, type);
					SET('common.favorites', favorites, type);
				}
			});

			ON('app_success', function(app, msg, nosound) {
				var el = app.window.find('.process-message').aclass('process-message-success').html('<i class="fas fa-check-circle"></i>' + Thelpers.encode(msg));
				if (!nosound)
					FUNC.playsound('success', app);
				setTimeout2('titlemessage', function() {
					el.rclass2('process-message-');
				}, 2500);
			});

			ON('app_warning', function(app, msg, nosound) {
				var el = app.window.find('.process-message').aclass('process-message-warning').html('<i class="fas fa-exclamation-triangle"></i>' + Thelpers.encode(msg));

				if (!nosound)
					FUNC.playsound('alert', app);

				setTimeout2('titlemessage', function() {
					el.rclass2('process-message-');
				}, 2500);
			});

			WATCH('user.background', function(path, value) {
				if (background !== value) {
					background = value;
					CSS(value ? '.bg{background:url(/backgrounds/{0}) 50% 50%;background-size:cover}'.format(value) : '', 'bg');
				}
			}, true);

			WATCH('user', function(path, value) {
				value && SET('common.profile', { photo: value.photo, name: value.name });
			}, true);

			ON('menu', function(el, app) {
				var opt = {};
				opt.element = el;
				opt.align = 'right';
				EXEC('openplatform/menu', app, opt);
			});

			ON('app_empty', function() {
				EXEC('openplatform/mainmenu');
			});

			exports.resize = function() {
				$('.bg').css('height', WH);
				$('html,body').scrollTop(0);
			};

			ON('resize2', exports.resize);

			ON('features', function(items) {
				items.push({ id: 'reset', name: '@(Reset windows)', icon: 'fas fa-window-restore', exec: 'view/reset' });
			});

			WATCH('common.focused', function(path, value) {
				if (!value) {
					for (var i = 0; i < user.apps.length; i++) {
						var app = user.apps[i];
						if (app.isrunning) {
							EXEC('openplatform/focus', app.id);
							break;
						}
					}
				}
			});

			exports.resize();
		});

	</script>

	@{view('main')}
	@{components('openplatform_portal')}

</body>
</html>