<div class="row">
	<div class="scroller" data-margin="34">
		<div class="scroller-padding npb">
			<div class="row">
				<div class="col-xs-6 m">
					<div data-jc="textbox__settings.url__required:true" class="m">@(URL address)</div>
					<div data-jc="checkbox__settings.test">@(This is <b>Test environment</b>)</div>
				</div>
				<div class="col-xs-6 m">
					<div data-jc="textbox__settings.name__required:true" class="m">@(Openplatform name)</div>
				</div>
			</div>
		</div>
		<hr class="nmt nmb" />
		<div class="scroller-padding bg-smoke">

			<div class="row">
				<div class="col-xs-6 m">
					<div data-jc="textbox__settings.accesstoken__maxlength:50;required:true">@(Access token for service account)</div>
					<div class="help"><a href="javascript:void(0)" class="exec" data-exec="settings_generatetoken"><i class="fa fa-plus-circle"></i>@(Generate token)</a></div>
				</div>
				<div class="col-xs-6 m">
					<div data-jc="textbox__settings.email__type:email;required:true">@(Support email)</div>
				</div>
			</div>

			<div data-jc="colorselector__settings.colorscheme__null__'#0a53ea'" class="m"></div>

			<div style="font-size:12px">
				<div style="float:left" class="mr5"><i class="fa fa-camera mr5"></i>@(Background image:)</div>
				<div data-jc="singleupload__settings.background__url:/api/upload/background/;title:{{}};accept:image/*" class="b ui-singleupload">@(Upload image)</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="scroller-padding">
			<h2>@(SMTP settings)</h2>
			<div data-jc="textbox__settings.smtp__icon:globe;maxlength:50;placeholder:@(e.g. smtp.yourdomain.com)__''" class="m">@(SMTP host)</div>
			<div data-jc="textbox__settings.smtpsettings__icon2:code;maxlength:300__''">@(SMTP settings)</div>
			<div class="help m">@(The SMTP settings has to be according to the Total.js documentation in <b class="red">JSON format</b>.)</div>
			<div data-jc="error__%smtpsettings" class="hidden m"></div>
			<span class="link modify exec fs11" data-exec="settings_verify"><i class="fa fa-chevron-right mr5"></i>@(Verify your SMTP server)</span>
		</div>
		<div data-jc="error__settings.response" class="hidden m"></div>
	</div>
	<div class="buttonbar" data-jc="validation__settings">
		<button name="submit" class="button exec b" data-exec="settings_submit" disabled="disabled"><i class="fa fa-floppy-o"></i>@(SAVE SETTINGS)</button>
	</div>
</div>

<script>

	resizelayout();

	OPENPLATFORM.init(function(err, meta) {
		if (err) {
			document.body.innerHTML = '401: unauthorized';
			window.close();
		} else
			settings_refresh();
	});

	function settings_generatetoken() {
		SET('settings.accesstoken', GUID(40));
		CHANGE('settings.accesstoken', true);
	}

	function settings_refresh() {
		AJAX('GET /api/internal/settings/', 'settings');
	}

	function settings_submit() {
		AJAX('POST /api/internal/settings/', settings, function(response) {
			SET('settings.response', response);
			if (response.success) {
				OPENPLATFORM.success('Settings have been updated successfully.');
				OPENPLATFORM.close();
			}
		});
	}

	function settings_verify() {
		OPENPLATFORM.loading(true);
		AJAX('POST /api/internal/settings/smtp/', settings, function(response) {
			SET('%smtpsettings', response);
			OPENPLATFORM.loading(false, 1000);
			if (response.success) {
				SET('%smtpsettings', null, 3000);
				OPENPLATFORM.success('SMTP server is working correctly.');
			}
		});
	}

</script>