@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="@{'%name'}" />
	<link rel="stylesheet" href="@{'%cdn'}/spa.min@18.css" />
	<script src="@{'%cdn'}/spa.min@18.js"></script>
	<script src="@{'%cdn'}/openplatform.min@4.js"></script>
	@{import('meta', 'head', 'favicon.ico')}
	<style>
		html, body { height: 100%; width: 100%; overflow: hidden; margin: 0; padding: 0; }
		.scrollarea { height: 100%; width: 100%; }
	</style>
</head>
<body>
	<div class="scrollarea noscrollbar">
		WELCOME
	</div>

	<script>
		OP.init(function(err, meta) {
			// do something
		});
	</script>

</body>
</html>