@{layout('')}
@{title(config.name)}

<!DOCTYPE html>
<html class="noscroll windowed">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="@{'%name'}" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="/icon.png" />
	<link rel="manifest" href="/manifest.json" />
	<link rel="stylesheet" href="@{'%cdn'}/spa.min@18@{if CONF.proicons}pro@{fi}.css" />
	<script src="@{'%cdn'}/spa.min@18.js"></script>
	@{import('meta', 'head', 'main.css + windowed.css + ui.css', 'main.js + windowed.js + ui.js', 'favicon.ico')}
	<script>var user = EMPTYOBJECT</script>
</head>
<body data---="exec" class="noscroll@{if user.darkmode} ui-dark@{fi} invisible" data-bind="common.ready__visible">

	<div data---="animation__null__style:6">
		<header class="animation">
			@{if !user.guest && CONF.allowstatus}
			<button class="status exec" data-exec="view/status" data-bind="user.statusid__html:Thelpers.status(value, true)__|__common.statusid__.warning:value==null"></button>
			@{fi}
			@{if CONF.allowclock}
			<div class="datetime">
				<div data---="time"></div>
			</div>
			@{fi}
			@{if !user.guest}
			<button class="notifications exec" data-exec="openplatform/notifications"><span data-bind="user.countnotifications__show:value > 0__html:value > 99 ? 99 : value" class="hidden">0</span><i class="far fa-bell"></i></button>
			@{fi}
			<button class="menu exec" data-exec="view/mainmenu"><span><b></b><b></b><b></b><b></b></span></button>
			<div data-bind="common.favorites__template:.app" class="favorites">
				<script type="text/html">
					{{ foreach m in value }}
						<div class="app exec" data-exec="view/open" data-id="{{ m.id }}" title="{{ m.title }}">
							{{ if m.countbadges || m.countnotifications }}<span class="badges"></span>{{ fi }}
							<div class="icon"><i class="{{ m.icon | icon }}"></i></div>
						</div>
					{{ end }}
				</script>
			</div>
		</header>

		<footer class="animation" data-animation="style:1">
			<div class="sa hidden" data-bind="user.sa__show"><i class="fas fa-unlock-alt"></i>@(SA)</div>
			<div class="mode" data-bind="user.mode__exec:openplatform/rendermode"></div>
			<div class="user exec" data-exec="openplatform/profile">
				<i class="fa fa-user-circle"></i><span data-bind="user.name__text"></span>
			</div>
			<div class="console exec" data-bind="common.consolecount__html span:value" data-exec="openplatform/console"><i class="fa fa-clipboard-list"></i><span>0</span></div>
		</footer>

		<div class="startmenu animation" data-animation="style:5">
			<div class="static">
				<div class="items">
					@{if !user.guest}

						<div class="app exec" data-exec="view/reset">
							<div class="icon"><i class="fas fa-window-restore"></i></div>
							@(Reset windows)
						</div>

						@{if CONF.allowprofile}
						<div class="app exec" data-exec="openplatform/profile" data-id="profile">
							<div class="icon"><i class="fas fa-user-circle"></i></div>
							@(My account)
						</div>
						@{fi}

						@{if CONF.allowmembers}
						<div class="app exec" data-exec="openplatform/members">
							<div class="icon"><i class="fa fa-users"></i></div>
							@(Members)
						</div>
						@{fi }

						<div class="app exec" data-exec="openplatform/sessions">
							<div class="icon"><i class="fa fa-history"></i></div>
							@(My sessions)
						</div>

						@{if user.sa}
							<div class="app exec" data-exec="openplatform/open" data-id="_admin">
								<div class="icon"><i class="fa fa-cog"></i></div>
								@(Control panel)
							</div>
						@{fi}

						@{if user.pin}
						<div class="app exec" data-exec="openplatform/lock">
							<div class="icon"><i class="fa fa-lock"></i></div>
							@(Lock screen)
						</div>
						@{fi}

						<div class="app exec" data-exec="openplatform/logout">
							<div class="icon"><i class="fa fa-power-off red"></i></div>
							@(Sign out)
						</div>

					@{fi}
				</div>
			</div>

			<div class="dynamic">
				<div class="search">
					<div data---="searchinput__common.search__placeholder:@(Search)"></div>
				</div>
				<div data---="viewbox__common.search__parent:.startmenu;scrollbar:1;visibleY:0;margin:40">
					<div data---="search__common.search__datasource:common.apps;selector:.app" data-bind="common.apps__template:.app" class="items">
						<script type="text/html">
							{{ foreach m in value }}
								<div class="app exec" data-exec="view/open" data-id="{{ m.id }}" data-search="{{ m.title }}">
									{{ if m.countbadges || m.countnotifications }}<span class="badges"></span>{{ fi }}
									<div class="icon"><i class="{{ m.icon | icon }}"></i></div>
									<div class="name">{{ m.name }}</div>
								</div>
							{{ end }}
						</script>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="bg">
		<div data---="windowed__null__reoffsetresize:false;margintop:55;marginbottom:40;marginleft:10;marginright:10">
			<div data---="processes__user.apps__parent:.ui-windowed-body" class="processes animation">
				<script type="text/html">
					<div>
						<div class="process-message"></div>
						<div class="process-progress hidden progress{{ value.id }}"><div></div></div>
						<div class="process-offline autosize hidden offline{{ value.id }}"><div><div><i class="fas fa-ban"></i></div><label></label></div></div>
						<div class="process-loading autosize hidden loading{{ value.id }}"><div><div><i class="fa fa-spinner fa-pulse"></i></div><label>adasdas</label></div></div>
						<div class="iframe autosize"></div>
					</div>
				</script>
			</div>
		</div>
	</div>

	<script>
		PLUGIN('view', function(exports) {

			var background;

			ON('app_make', function(item) {
				SETTER('windowed/add', item);
			});

			ON('app_close', function(item) {
				setTimeout(ASETTER('windowed/rem', item), 10);
			});

			exports.sort = function(apps) {
				for (var i = 0; i < apps.length; i++) {
					var id = $(apps[i]).attrd('id');
					var app = user.apps.findItem('id', id);
					app.position = i;
				}
				EXEC('openplatform/positions');
			};

			exports.minimizemenu = function() {
				$('body').tclass('menuminimized');
				$(W).trigger('resize');
			};

			exports.mainmenu = function(el, e) {
				e && e.stopPropagation();
				var body = $('body');
				body.tclass('menushow');
				if (body.hclass('menushow'))
					SETTER('searchinput/focus');
			};

			exports.status = function(el) {
				var opt = {};
				opt.element = el;
				opt.align = 'right';
				opt.offsetX = -10;
				EXEC('openplatform/status', opt);
			};

			exports.reset = function() {
				for (var i = 0; i < user.apps.length; i++) {
					var item = user.apps[i];
					if (item.isrunning && item.mywindow)
						item.mywindow.setcommand('reset');
				}
			};

			exports.mainmenu2 = function() {
				EXEC('openplatform/mobilemenu', common.focused);
			};

			exports.open = function(el) {

				if (el.hclass('disabled'))
					return;

				EXEC('openplatform/open', el);
				$('body').rclass('menushow');
			};

			ON('app_focus', function(app, is) {
				$('body').tclass('mobilemenu', is ? app.mobilemenu : false);
				if (is && app.mywindow)
					app.mywindow.setcommand('focus');
			});

			ON('app_offline', function(app, model) {
				var el = $('.offline' + app.id);
				el.find('label').text(model.text || '');
				el.tclass('hidden', !model.is);
				el.parent().tclass('disable', model.is);
			});

			ON('app_loading', function(app, model) {
				var el = $('.loading' + app.id);
				el.find('label').text(model.text || '');
				el.tclass('hidden', !model.is);
				el.parent().tclass('disable', model.is);
			});

			ON('app_progress', function(app, model) {
				var el = $('.progress' + app.id);
				el.tclass('hidden', !app.progress || app.progress >= 100);
				el.find('div').stop().animate({ width: app.progress + '%' }, 300);
			});

			WATCH('user.apps', function(path, value, type) {
				if (type !== 'kill' && type !== 'focus') {
					var arr = [];
					var favorites = [];
					for (var i = 0; i < value.length; i++) {
						var item = value[i];
						if (!item.internal && item.online) {
							arr.push(item);
							item.favorite && favorites.push(item);
						}
					}
					favorites.quicksort('title');
					arr.quicksort('title');
					SET('common.apps', arr, type);
					SET('common.favorites', favorites, type);
				}
			});

			ON('app_success', function(app, msg, nosound) {
				var el = app.mywindow.container.find('.process-message').aclass('process-message-success').html('<i class="fas fa-check-circle"></i>' + Thelpers.encode(msg));
				if (!nosound)
					FUNC.playsound('success', app);
				setTimeout2('titlemessage', function() {
					el.rclass2('process-message-');
				}, 2500);
			});

			ON('app_warning', function(app, msg, nosound) {
				var el = app.mywindow.container.find('.process-message').aclass('process-message-warning').html('<i class="fas fa-exclamation-triangle"></i>' + Thelpers.encode(msg));
				if (!nosound)
					FUNC.playsound('alert', app);
				setTimeout2('titlemessage', function() {
					el.rclass2('process-message-');
				}, 2500);
			});

			WATCH('user.background', function(path, value) {
				if (background !== value) {
					background = value;
					CSS(value ? '.bg{background:url(/backgrounds/{0}) 50% 50%;background-size:cover}'.format(value) : '', 'bg');
				}
			}, true);

			ON('menu', function(el, app) {
				var opt = {};
				opt.element = el;
				opt.align = 'right';
				EXEC('openplatform/menu', app, opt);
			});

			ON('app_empty', function() {
				setTimeout(exports.mainmenu, 1000);
			});

			exports.resize = function() {
				$('.bg').css('height', WH);
				$('html,body').scrollTop(0);
			};

			ON('resize2', exports.resize);

			exports.hidemenu = function(e) {
				var body = $('body');
				if (body.hclass('menushow')) {
					if (!e || !$(e.target).closest('.search').length)
						body.rclass('menushow');
				}
			};

			$(document).on('click', exports.hidemenu);
			ON('app_click', function() {
				exports.hidemenu();
			});

			ON('features', function(items) {
				items.push({ id: 'reset', name: '@(Reset windows)', icon: 'fas fa-window-restore', exec: 'view/reset' });
			});

			exports.resize();
		});

	</script>

	@{view('main')}
	@{components('openplatform_windowed')}

</body>
</html>