@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="@{'%name'}" />
	<link rel="stylesheet" href="@{'%cdn'}/spa.min@18.css" />
	<script src="@{'%cdn'}/spa.min@18.js"></script>
	<link rel="stylesheet" href="/plugins.css" />
	@{import('meta', 'head', 'workshop.css', 'workshop.js', 'favicon.ico')}
</head>
<body data---="exec" class="invisible@{if user.darkmode} ui-dark@{fi}">

	<script>
		OP.ready = true;
		OP.init(function(err, meta) {
			$('body').rclass('invisible');
		});
	</script>

	<div data---="layout__mylayout__parent:parent" class="invisible">

		<script type="text/plain">
			{
				top: { size: 44 },
				left: { size: 223 },
				main: {}
			}
		</script>

		<section data-type="top2">
			<div class="header">
				<div style="text-align:left;margin-left:10px">
					<button class="exec" data-exec="main/create"><i class="fa fa-plus-circle green"></i>@(New)</button>
					<button data-bind="main.selected__enabled:value && !value.workshopid" disabled class="exec" data-exec="?/edit"><i class="fa fa-pencil"></i>@(Edit)</button>
					<button data-bind="main.checked__enabled:value && value.length" class="exec" data-exec="?/menu" disabled><i class="fa fa-check-circle green"></i>@(Options)</button>
				</div>
			</div>
		</section>

		<section data-type="left">
			<div data---="viewbox__null__parent:.ui-layout-section;height:100;scrollbar:0">
				<div div class="menu" data---="selected__main.view__selector:.item" data-bind="main.views__template">
					{{ foreach m in value }}
						<div class="item exec" data-exec="main/open" data-if="{{ m.id }}">
							{{ if m.icon }}<i class="far fa-object-group"></i>{{ fi }}
							<span>{{ m.name }}</span>
						</div>
					{{ end }}
				</div>
			</div>
		</section>

		<section data-type="main">
			<div data---="datagrid__main.selected.grid__$id:dg"></div>
		</section>

	</div>

	<script>

		OP.appearance();

		OP.on('appearance', function(profile) {
			CSS('.button,.submit{background-color:{0}}.selected{background-color:{0}!important;color:white!important}'.format(profile.colorscheme), 'opcustomstyle');
		});

		function makepath(path) {
			return path.replace(/\./g, 'X');
		}

		PLUGIN('main', function(exports) {

			exports.refresh = function() {
				AJAX('GET /api/op/workshop/{0}/'.format(NAV.url.split('/')[2]), function(response) {
					response.view = response.views[1].id;
					for (var i = 0; i < response.views.length; i++) {
						var item = response.views[i];
						item.settings = PARSE(item.settings);
						item.list = PARSE(item.list);
					}

					response.selected = response.views.findItem('id', response.view);
					var fields = response.selected.list.items;
					var columns = [];
					var query = [];
					for (var i = 0; i < fields.length; i++) {
						var field = fields[i];
						columns.push({ name: makepath(field.path), text: field.label, width: 150 });
						query.push(field.path);
					}

					SETTER('#dg', 'rebind', STRINGIFY(columns));
					SET('main', response);
					AJAX('GET /api/op/data/329113001gx1a/', { fields: query.join(',') }, 'main.selected.grid');
				});
			};

			exports.open = function(el) {
				var id = el.attrd('if');
				SET('main.view', id);
			};

			ON('ready', exports.refresh);
		});

	</script>

</body>
</html>