/*auto*/

html,body { padding: 0; margin: 0; background-color: white; overflow: hidden; height: 100%; }

:root {
  --monospace : Menlo, Consolas, monospace;
}

.color { color: var(--color) !important; }

.listing { display: flex; flex-flow: row wrap; margin: 0 15px 0 0; }
.listing figure { width: 33.33%; }
.listing figure .item { margin: 15px 0 0 15px; border: 1px solid #E0E0E0; border-radius: var(--radius); font-size: 12px; }

.ui-dark .listing figure .item { border-color: #404040; }

@media (min-width:1200px) {
	.listing figure { width: 25%; }
}

@media (min-width:1600px) {
	.listing figure { width: 20%; }
}

@media (min-width:2000px) {
	.listing figure { width: 10%; }
}

@media (max-width:1199px) and (min-width:992px) {
	.listing figure { width: 33.33%; }
}

@media (max-width:991px) and (min-width:768px) {
	.listing figure { width: 50%; }
}

@media (max-width:768px) {
	.listing figure { width: 100%; }
}

.monospace { font-family: var(--monospace); }

.listingoauth { cursor: pointer; }
.listingoauth .disabled { background-color: #F8F8F8; color: #999; }
.listingoauth .disabled .name { text-decoration: line-through; }
.listingoauth .name { line-height: 34px; border-bottom: 1px solid #E0E0E0; padding: 0 10px; font-size: 14px; background-color: #F8F8F8; border-radius: var(--radius) var(--radius) 0 0; }
.listingoauth .name b { display: block; margin-right: 25px; }
.listingoauth .name span { float: right; cursor: pointer; width: 22px; line-height: 34px; text-align: right; color: var(--color); }
.listingoauth .padding { padding: 10px; }
.listingoauth .value { font-size: 11px; }
.listingoauth .value span { color: #777; float: right; }

.ui-dark .listingoauth .disabled { background-color: #303030; color: #999; }
.ui-dark .listingoauth .name { border-bottom-color: #404040; background-color: #353535; }
.ui-dark .listingoauth .name span { color: var(--color); }
.ui-dark .listingoauth .value span { color: #777; }

.listingapps { cursor: pointer; }
.listingapps .offline { border-color: red !important; }
.listingapps .disabled { background-color: #F8F8F8; color: #999; }
.listingapps .name em { color: red; display: none; margin-left: 5px; }
.listingapps .offline .name em { position: relative; display: inline-block; }
.listingapps .name { line-height: 34px; border-bottom: 1px solid #E0E0E0; padding: 0 10px; font-size: 14px; background-color: #F8F8F8; border-radius: var(--radius) var(--radius) 0 0; }
.listingapps .name b { display: block; margin-right: 25px; }
.listingapps .name b i { width: 14px; margin-right: 5px; }
.listingapps .name span { float: right; cursor: pointer; width: 22px; line-height: 34px; text-align: right; color: var(--color); }
.listingapps .padding { padding: 10px; }
.listingapps hr { margin: 10px 0; }
.listingapps .info { font-size: 11px; color: #777; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.listingapps .value { font-size: 11px; }
.listingapps .value span { color: #777; float: right; }

.ui-dark .listingapps .offline { border-color: red !important; }
.ui-dark .listingapps .disabled { background-color: #353535; color: #999; }
.ui-dark .listingapps .name em { color: red; }
.ui-dark .listingapps .name { border-bottom-color: #404040; background-color: #303030; }
.ui-dark .listingapps .name span { color: var(--color); }
.ui-dark .listingapps .info { color: #A0A0A0; }
.ui-dark .listingapps .value span { color: #A0A0A0; }

.panel { background-color: transparent; border-radius: var(--radius); border: 1px solid #E0E0E0; }
.panel > label { display: block; padding: 15px 20px; border-bottom: 1px solid #E0E0E0; font-size: 16px; color: #000; font-weight: bold; }
.panel > label i { margin-right: 7px; }

.ui-dark .panel { background-color: transparent; border-color: #404040; }
.ui-dark .panel > label { border-bottom-color: #404040; color: #FFF; }

hr { border-color: #E0E0E0; }
.ui-dark { border-color: #404040; }

.inline { position: relative; }
.gray { color: gray; }

.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.ml5 { margin-left: 5px; }
.mr10 { margin-right: 10px; }

.dg { border: 0; }
.ui-layout-section .dg-footer { border-bottom: 0; border-right: 0; border-left: 0; border-top: 1px solid #E0E0E0; }
.ui-dark .ui-layout-section .dg-footer { border-top-color: #404040; }
.ui-layout-section .dg-h-container { border: 0 !important; }
.ui-layout-right { background-color: white; }
.ui-layout-bottom { background-color: white; }
.ui-layout-left { background-color: #F8F8F8; }
.ui-dark .ui-layout-left { background-color: #202020; }
.tbgcolor { border-radius: 2px; color: white; padding: 1px 3px; }

.inline-message { padding: 5px; border: 2px solid #68B25B; border-radius: 2px; font-size: 12px; color: #68B25B; margin-bottom: 10px; }
.inline-message i { margin-right: 3px; }
.inline-message-error { border-color: #D63A32; color: #D63A32; }

.cancelmodified { display: none; }
.ui-validation-modified .cancelmodified { display: inline-block; }

.header { height: 45px; padding: 0 15px 0 0; border-bottom: 1px solid #E0E0E0; text-align: right; }
.ui-dark .header { border-color: #404040; color: #FFF; }
.header button, .toolbar button { outline: 0; background: linear-gradient(white,#F8F8F8); border: 1px solid #E0E0E0; border-left: 0; font-size: 11px; height: 24px; padding: 0 8px; margin: 0; color: black; min-width: 80px; vertical-align: top; text-align: center; }
.header button i, .toolbar button i { margin-right: 5px; }
.header button .fa-plus-circle, .header button .fa-check-circle, .toolbar button .fa-plus-circle, .toolbar button .fa-check-circle { color: #68B25B; }
.header button:active, .toolbar button:active { background: #E9E9E9; }
.header button:first-child, .toolbar button:first-child { border-left: 1px solid #E0E0E0; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.header button:last-child, .toolbar button:last-child  { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.header button:hover, .toolbar button:hover { border-color: #D0D0D0; }
.header button:disabled, .toolbar button:disabled { color: silver; cursor: not-allowed; border-color: #E0E0E0 !important; background: linear-gradient(#F8F8F8,#F0F0F0); }
.header button:disabled i, .toolbar button:disabled i { color: silver !important; }
.header button.right, .toolbar button.right { float: right; margin-left: 5px; margin-right: 0; text-align: center; }
.header button.active { background: #F0F0F0 !important; }

.ui-dark .header button, .ui-dark  .toolbar button { background: linear-gradient(#323232,#353535); border-color: #404040; color: white; }
.ui-dark .header button:hover, .ui-dark  .toolbar button:hover { border-top-color: #505050; border-bottom-color: #505050; }
.ui-dark .header button:disabled, .ui-dark .toolbar button:disabled { color: #505050; border-color: #353535 !important; background: linear-gradient(#202020,#252525); }
.ui-dark .header button:disabled i, .ui-dark .toolbar button:disabled i { color: #505050 !important; }

.header > div { height: 44px; padding: 10px 0 0; }
.header .highlight { background-color: #FFFFD5; }
.header .back { float: left; height: 44px; line-height: 44px; width: 45px; border-right: 1px solid #E0E0E0; text-align: center; cursor: pointer; color: black; }
.header .back i { margin: 0; }
.header .back:hover { color: white; }
.header label { float: left; line-height: 44px; font-weight: bold; margin-left: 15px; font-size: 16px; }
.header label i { margin-right: 5px; }
.header2 { text-align: left !important; padding: 0; border-bottom: 0; }

.iconmenu-bg { background-color: white; border-radius: 3px; padding: 5px; border: 1px solid #E0E0E0; }
.iconmenu span { width: 24px; display: inline-block; line-height: 24px; text-align: center; cursor: pointer; border-radius: 3px; margin-left: 5px; font-size: 12px; }
.iconmenu span:first-child { margin-left: 0; }
.iconmenu span:hover { background-color: #F0F0F0; }
.iconmenu .selected { color: white; }

.selected { background-color: var(--color) !important; color: #FFF; }

.menu { padding: 12px 0 0; }
.menu .item { color: #303030; display: block; padding: 4px 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; margin: 0 10px 2px; border-radius: var(--radius); font-size: 14px; }
.menu .item .options { float: right; cursor: pointer; font-size: 12px; margin: 2px 0 0; }
.menu .item > i { width: 20px; text-align: center; margin: 3px 6px 0 0; float: left; color: var(--color); }
.menu .item > .fa-trash-o { float: right; text-align: center; margin: 4px 0 0; font-size: 12px; }
.menu .selected { color: #FFF !important; box-shadow: 0 2px 3px rgba(0,0,0,0.05); }
.menu .selected > i { color: #FFF !important; }
.menu .item .name { margin: 0 25px; display: block; height: 16px; }
.menu .item:hover { background-color: rgba(0,0,0,0.05); }
.menu hr { border-color: #D0D0D0; }
.menu .caption { margin-top: 15px; }
.ui-dark .menu hr { border-color: #404040; }

.menu .caption { padding: 0 0 0 16px; margin-bottom: 0; border-bottom: 0; height: 20px; font-size: 11px; color: #999; font-weight: normal; }
.menu .caption > span { float: right; width: 24px; padding: 1px 13px 0 0; text-align: right; color: gray; cursor: pointer; }
.menu .caption > span:hover { color: black; }
.menu .public { color: #777; }

.si { margin-right: 5px; }

.ui-dark .menu .item { color: #A0A0A0; }
.ui-dark .menu .item.complete { color: #404040; }
.ui-dark .menu .item.canceled { color: #404040; }

.marketplace { position: absolute; width: 100%; height: 100%; }
.marketplace iframe { border: 0; width: 100%; height: 100%; padding: 0; margin: 0; }

.maxwidth { max-width: 1200px; margin: 0 auto; }
.maxwidthleft { max-width: 1200px; margin: 0; }

.toolbar { height: 40px; display: block; border-top: 1px solid #D0D0D0; background-color: #F0F0F0; }
.toolbar button { border: 0; background-color: #F0F0F0; border-right: 1px solid #D0D0D0; outline: 0; width: 20%; height: 39px; padding: 0; margin: 0; text-align: center; float: left; }
.toolbar button:hover { background-color: white; }
.toolbar button:disabled { color: #A0A0A0; cursor: not-allowed; background-color: #F0F0F0; }
.toolbar > span { font-size: 11px; text-align: center; width: 68px; float: left; padding: 8px 0 0; }
.toolbar .market { border-right: 0; color: white; }
.toolbar .market:hover { opacity: 0.8; }

.search { padding: 5px; background-color: white; border-bottom: 1px solid #D0D0D0; }
.search .ui-textbox { border: 0; }
.search .ui-textbox-control { border-left: 0; }

.tabmenu2 { padding: 0 10px; margin: 0; display: block; position: relative; font-size: 12px; border: 0; list-style-type: none; height: 45px; overflow: hidden; background-color: white; border-bottom: 1px solid #E0E0E0; user-select: none; }
.tabmenu2 li { background-color: #F0F0F0; margin: 10px 0 0 0; text-align: center; padding: 0 7px; line-height: 24px; height: 24px; color: #6d6d6d; cursor: pointer; min-width: 90px; max-width: 150px; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; width: 33%; }
.tabmenu2 li:hover { color: #252525; }
.tabmenu2 li:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px }
.tabmenu2 li:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.tabmenu2 .selected { color: #FFF !important; background-color: var(--color); }
.tabmenu2 i { margin-right: 8px; }
.ui-dark .tabmenu2 li { background-color: #505050; color: #E0E0E0; }

.inactive { color: #A0A0A0; }

.caption { font-size: 16px; border-bottom: 2px solid #E0E0E0; font-weight: bold; margin-bottom: 15px; padding: 5px 0; }
.caption > i { margin-right: 5px; }
.caption span { float: right; }

.ui-dark .caption { border-bottom-color: #404040; color: white; }

.caption2 { font-size: 12px; text-transform: uppercase; margin-bottom: 15px; color: black; background-color: white; font-weight: bold; border: 1px solid #D0D0D0; padding: 0 7px 0 0; border-radius: 3px; line-height: 26px; }
.caption2 i { margin-right: 8px; border-right: 1px solid #D0D0D0; float: left; line-height: 26px; width: 26px; text-align: center; background-color: #ffffe8; border-radius: 3px 0 0 3px; }
.ui-dark .caption2 { color: white; background-color: #282828; border-color: #505050; }
.ui-dark .caption2 i { border-right-color: #303030; background-color: #404040; }
.bg-smoke .caption2 { background-color: white; }

.ui-layout { background-color: #D0D0D0; }
.ui-dark .ui-layout { background-color: #404040; }
.ui-layout-main { background-color: white; }
.ui-layout-top { background-color: white; }
.ui-layout-right .tabmenu { height: 49px; padding: 16px 20px 0; }
.ui-layout-right .tabmenu li { height: 32px; }

.fs11 { font-size: 11px !important; line-height: 13px; }
.fs12 { font-size: 12px; }

h2 { margin: 0 0 12px 0; padding: 0; color: black; font-size: 16px; font-weight: bold; }
h2 b { font-weight: 700; }
h2 .fa { margin-right: 6px; }

h3 { margin: 0 0 12px 0; padding: 0; color: black; font-size: 14px; font-weight: bold; }
h3 b { font-weight: 700; }
h3 .fa { margin-right: 5px; }

.ui-dark h2 { color: white; }
.ui-dark h3 { color: white; }

.buttons { padding: 13px 15px 0; border-top: 1px solid #E0E0E0; height: 50px; }
.buttons .link { margin-left: 10px; font-size: 12px; color: gray; }
.ui-layout-bottom .buttons { border-top: 0; }
.ui-dark .buttons { border-top-color: #404040; }

.submit { border: 0; border-radius: 3px; height: 28px; background-color: var(--color); color: #FFF; font-size: 12px; min-width: 140px; font-weight: bold; padding: 0 20px; text-transform: uppercase; }
.submit:hover { opacity: 0.8; }
.submit:disabled { background-color: #E0E0E0; color: #A0A0A0; cursor: not-allowed; opacity: 1 !important; }
.ui-dark .submit:disabled { background-color: #202020; color: #404040; }
.submit i { margin-right: 5px; }
.submit-block { width: 100%; }

.button { background-color: var(--color); color: #FFF; font-size: 12px; height: 34px; padding: 0 20px; margin: 0; border: 0; border-radius: 3px; display: block; width: 100%; }
.button:hover { opacity: 0.9; }
.button:disabled { opacity: 1; background-color: #D0D0D0; color: #A0A0A0; cursor: not-allowed; }
.ui-dark .button:disabled { background-color: #404040; }
.button .fa { margin-right: 5px; }

.accountphoto { background-color: #F0F0F0; padding: 20px 0; }
.accountphoto img { max-width: 150px; }
.ui-dark .accountphoto { background-color: #333333; }

.bg-white { background-color: white; }
.bg-yellow { background-color: #FFFFD5; }
.bg-yellow hr { border-color: #DCDCB7; }
.bg-smoke { background-color: #F8F8F8; }
.bg-yellow-fade { background: linear-gradient(#FFFFD5,white); }
.ui-dark .bg-yellow-fade { background: linear-gradient(#272727,#292929); }

.ui-dark .bg-smoke { background-color: #282828; }
.ui-dark .bg-white { background-color: #303030; }

.nav { height: 42px; border-bottom: 1px solid #E0E0E0; padding: 0 20px; }
.nav > .link { display: inline-block; margin: 10px 10px 0 0; position: relative; vertical-align: middle; }
.nav > .link .fa { margin-right: 5px; }
.nav > .link:hover { color: gray; text-decoration: none; }
.nav .right { float: right; }
.radius { border-radius: 3px; }

.multilanguages { border: 1px solid #E0E0E0; border-radius: 3px; }
.multilanguage { height: 28px; border-top: 1px solid #E0E0E0; }
.multilanguage:first-child { border-top: 0; }
.multilanguage:first-child .key { line-height: 28px; }
.multilanguage .key { width: 34px; border-right: 1px solid #E0E0E0; float: left; line-height: 27px; font-size: 11px; color: gray; padding: 0 0 0 5px; }
.multilanguage .key i { margin-right: 3px; cursor: pointer; }
.multilanguage .value { margin-left: 34px; line-height: 26px; padding: 0 5px; }
.multilanguage .editable { border-bottom: 0; min-height: auto; background-color: white; padding: 0; }

.buttonbar { background-color: #F0F0F0; height: 40px; }
.buttonbar .button { height: 40px; border-radius: 0; font-size: 12px; }
.buttonbar .button i { margin-right: 8px; }
.buttonbar span.cancel { line-height: 39px; display: inline-block; color: gray; font-size: 12px; cursor: pointer; }
.buttonbar span.cancel:hover { text-decoration: underline; }
.pointer { cursor: pointer; }

@media(max-width: 767px) {
	.scroller-padding { padding-right: 20px; }
	.search { padding: 10px; }
	.search .ui-textbox { height: 34px; }
	.search .ui-textbox-input { padding: 8px 4px 0 10px; }
	.search .ui-textbox input { font-size: 14px; }
	.search .ui-textbox-control { width: 34px; }

	.menu .item { font-size: 18px; padding: 6px 10px; }
	.menu .item > i { width: 24px; text-align: center; margin: 4px 8px 0 0; float: left; }
	.xs100 { width: 100%; }
}

.status0 { color: #68B25B; }
.status1 { color: #C55140; }
.status2 { color: #EAB34C; }
.status3 { color: #B76DCF; }
.status4 { color: #6DCFA8; }
.status5 { color: #6DAFCF; }
.status6 { color: #A1CF6D; }
.status7 { color: #D06D6D; }
.status8 { color: #D60000; }

.ui-filter { z-index: 20; position: absolute; background-color: white; border: 1px solid #DEDEDE; border-radius: 3px; width: 280px; box-shadow: 0 2px 12px rgba(0,0,0,0.05); opacity: 0; transform: scale(0.3); transition: all 0.2s; transform-origin: left top; }
.ui-filter-visible { opacity: 1; transform: scale(1); }
.ui-filter-item { height: 27px; border-top: 1px solid #E0E0E0; }
.ui-filter-item:first-child { border-top: 0; }
.ui-filter-item-label { float: left; width: 33%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 11px; line-height: 26px; padding: 0 5px; color: gray; }
.ui-filter-item-value { margin-left: 33%; border-left: 1px solid #E0E0E0; padding: 0; height: 27px; overflow: hidden; }
.ui-filter-placeholder { color: #A0A0A0; position: absolute; font-size: 11px; height: 26px; line-height: 27px; margin-left: 5px; cursor: pointer; }
.ui-filter-item-icon { float: right; width: 30px; height: 27px; font-size: 11px; text-align: center; line-height: 27px; border-left: 1px solid #E0E0E0; }
.ui-filter-icon-click { cursor: pointer; }
.ui-filter-item-input { margin-right: 30px; }
.ui-filter-item input { border: 0; width: 100%; outline: 0; background-color: white; font-size: 11px; height: 25px; color: black; margin: 0; padding: 0 4px; line-height: 25px; }
.ui-filter-checkbox { width: 15px; height: 15px; text-align: center; padding: 2px 0 0; border: 1px solid #E0E0E0; border-radius: 3px; font-size: 10px; margin: 6px 0 0 5px; cursor: pointer; }
.ui-filter-checkbox i { display: none; }
.ui-filter-checkbox-checked { background-color: #4285F4 !important; color: white; border-color: #4285F4 !important; }
.ui-filter-checkbox-checked i { display: block; }
.ui-filter-option { font-size: 11px; padding: 0 5px; line-height: 27px; cursor: pointer; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; height: 26px; }
.ui-filter-buttons { height: 30px; }
.ui-filter-buttons button { border: 0; background: white; width: 33%; font-size: 12px; float: left; margin: 0; padding: 0; background-color: #F0F0F0; height: 30px; outline: 0; }
.ui-filter-buttons button i { margin-right: 5px; }
.ui-filter-buttons button[name="reset"] { border-radius: 0 0 0 3px; }
.ui-filter-buttons button[name="apply"] { background-color: #4285F4 !important; color: white; font-weight: bold; width: 34%; }
.ui-filter-buttons button[name="cancel"] { border-radius: 0 0 3px 0; }
.ui-filter-buttons button:hover { opacity: 0.8; }

.ui-dark .ui-filter-checkbox { border-color: #404040; background-color: #404040; }
.ui-dark .ui-filter { background-color: #282828; border-color: #353535; }
.ui-dark .ui-filter-item { border-top-color: #353535; }
.ui-dark .ui-filter-item-value { border-left-color: #353535; }
.ui-dark .ui-filter-item-icon { border-left-color: #353535; color: #A0A0A0; }
.ui-dark .ui-filter-item input { background-color: #282828; color: white; }
.ui-dark .ui-filter-placeholder { color: #606060; }
.ui-dark .ui-filter-buttons button { background-color: #404040; }

.keyvalue { border-bottom: 1px solid #E0E0E0; padding: 10px 0 5px; }
.keyvalue .key { font-size: 10px; font-weight: bold; color: black; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.keyvalue .key:after { content: ':'; }
.keyvalue .key i { margin-right: 4px; }
.keyvalue .value { font-size: 12px; }
.keyvalue .value .tbgcolor { font-size: 11px; }

.ui-dark .keyvalue { border-bottom-color: #404040; }
.ui-dark .keyvalue .key { color: white; }

.keyvalue2 { border: 1px solid #E0E0E0; padding: 10px; border-radius: 3px; background-color: white; }
.keyvalue2 .key { font-size: 12px; font-weight: bold; color: black; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.keyvalue2 .key:after { content: ':'; }
.keyvalue2 .key i { margin-right: 4px; }
.keyvalue2 .value { font-size: 16px; }

.ui-dark .keyvalue2 { border-color: #404040; background-color: #252525; }
.ui-dark .keyvalue2 .key { color: white; }

.ui-directory .selected { color: white; }

.screenshot { border: 1px solid #E0E0E0; border-radius: 3px; }

.stats { border-bottom: 1px solid #E0E0E0; padding: 2px 0 0; font-size: 12px; height: 25px; }
.stats .key { margin-right: 90px; color: #505050; }
.stats .key i { margin-right: 4px; }
.stats .value { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; float: right; width: 80px; text-align: right; }
.stats.selected .key { color: black; font-weight: bold; }
.stats.selected .value { color: blact; font-weight: bold; }
.ui-dark .stats .key { color: gray; }
.ui-dark .stats { border-bottom-color: #404040; }

.legend-1 { color: #3182BD;}
.legend-2 { color: #FD8D3C; }
.legend-3 { color: #74C476; }
.legend-4 { color: #9E9AC8; }
.legend-5 { color: #969696; }

.visitors-tabmenu { padding: 20px 20px 0; height: 70px; background: linear-gradient(0deg,#FFFFFF,#F0F0F0); border-bottom: 0 !important; }
.visitors-tabmenu li { height: 32px; line-height: 32px; margin-top: 0; font-size: 14px; width: auto; }
.ui-dark .visitors-tabmenu { padding: 20px 20px 0; height: 70px; background: linear-gradient(0deg,#282828,#202020); }

.initials { width: 37px; height: 37px; text-align: center; color: white; display: block; padding: 8px 0 0; font-weight: bold; border-radius: 100px; cursor: default; }

.iconbutton { float: left; vertical-align: top; margin: 0; border: 1px solid #404040; border-left: 0; min-width: 80px; text-align: center; cursor: pointer; padding: 2px 8px; background-color: #383838; }
.iconbutton:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; border-left: 1px solid #404040; }
.iconbutton:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.iconbutton i { font-size: 20px; text-align: center; margin: 5px 0 2px; display: block; }
.iconbutton span { display: block; font-size: 11px; padding: 2px 0; }

.oplight .iconbutton { border-color: #D0D0D0; background-color: #FFF; }
.oplight .iconbutton:first-child { border-left-color: #D0D0D0; }

.accesstoken input { width: 100%; font-size: 13px; font-family: Menlo, Consolas, monospace; border: 1px solid #D0D0D0; background-color: transparent; border-radius: var(--radius); color: #000; outline: 0; padding: 5px; cursor: text; }
.ui-dark .accesstoken input { border-color: #404040; color: #FFF; }

.ui-apps .ui-apps-checkbox:first-child { border-top: 0; }
.ui-apps-checkbox { font-size: 14px; margin-bottom: 2px; cursor: pointer; height: 22px; padding-top: 2px; }
.ui-apps-checkbox i { width: 16px; height: 16px; border: 1px solid #D0D0D0; border-radius: 3px; float: left; color: white; margin: 2px 0 0; font-size: 10px; text-align: center; line-height: 15px; }
.ui-apps-checked i { background-color: var(--color); border-color: var(--color) !important; }
.ui-apps-checked { font-weight: bold; }
.ui-apps-checkbox span { display: block; margin: 0 0 0 22px; }
.ui-apps-roles { padding: 8px 0 8px 14px; margin: 5px 0 0 7px; border-left: 1px solid #E0E0E0; }
.ui-apps-roles .ui-apps-checkbox { font-size: 11px; padding-top: 2px; height: 18px; }
.ui-apps-roles .ui-apps-checkbox i { width: 14px; height: 14px; margin-top: 0 !important; line-height: 13px; font-size: 9px; }
.ui-apps-roles .ui-apps-checkbox span { display: block; margin: 0 0 0 20px; border-bottom: 1px solid #E0E0E0; padding-bottom: 2px; }
.ui-apps-roles .link { font-size: 11px; display: block; margin-top: 10px; }

.ui-dark .ui-apps-roles { border-left-color: #404040; }
.ui-dark .ui-apps-checkbox i { border-color: #505050; color: white; }
.ui-dark .ui-apps-roles .ui-apps-checkbox span { border-bottom-color: #404040; }

/* Component: j-Parameters */
/* Version: 1 */
/* Updated: 2019-11-27 15:30 */
.ui-parameters{font-size:11px;border:1px solid #E0E0E0}.ui-parameters-search{height:30px;background-color:#FFF;font-size:12px;border-bottom:1px solid #E0E0E0}.ui-parameters-search span{float:left;width:30px;line-height:30px;text-align:center}.ui-parameters-search .fa-times{color:red;cursor:pointer}.ui-parameters-search div{margin-left:30px}.ui-parameters-search input{width:100%;border:0;outline:0;background:transparent;font-size:12px;height:30px}.ui-parameters-modified{font-weight:bold}.ui-parameters-modified input::placeholder{font-weight:normal}.ui-parameters-item{height:24px;font-size:11px;border-bottom:1px solid #E0E0E0}.ui-parameters-name{margin-right:340px;line-height:23px;padding:0 5px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.ui-parameters-type{float:right;width:120px;line-height:23px;padding:0 5px;text-overflow:ellipsis;overflow:hidden;text-overflow:ellipsis;border-left:1px solid #E0E0E0;border-right:1px solid #E0E0E0;color:gray;background-color:#F9F9F9}.ui-parameters-value{float:right;width:220px;padding:0 0 0 5px;user-select:none}.ui-parameters-value div{display:block;line-height:23px}.ui-parameters-value input{border:0;background:transparent;width:100%;outline:0;height:23px;font-size:11px;line-height:23px;padding:0;margin:0}.ui-parameters-unit div{margin-right:30px}.ui-parameters-unit span{color:gray;width:30px;float:right;line-height:23px;text-align:center}.ui-parameters-boolean{cursor:pointer}.ui-parameters-invalid{background-color:#FFE1E1}.ui-parameters-hidetype .ui-parameters-type{display:none}.ui-parameters-hidetype .ui-parameters-name{margin-right:120px}.ui-parameters-hidetype .ui-parameters-value{border-left:1px solid #E0E0E0}.ui-dark .ui-parameters-invalid{background-color:#653d3d}.ui-dark .ui-parameters-search span{color:gray}.ui-dark .ui-parameters-search{background-color:#252525;border-bottom-color:#404040}.ui-dark .ui-parameters{border-color:#404040}.ui-dark .ui-parameters-modified{color:#FFF}.ui-dark .ui-parameters-item{border-bottom-color:#404040}.ui-dark .ui-parameters-type{background-color:#282828;border-left-color:#404040;border-right-color:#404040}.ui-dark .ui-parameters-hidetype .ui-parameters-value{border-left:1px solid #404040}
/* End: j-Parameters */

.ui-parameters-name { margin-right: 400px; }
.ui-parameters-value { width: 340px; }