/*auto*/

$font    : 'Source Sans Pro';
$color   : #017CCA;
$linear  : linear-gradient(#F0F0F0,white);

html,body { height: 100%; }
body { font-smoothing: antialiased; background-color: #F0F0F0; margin: 0; padding: 0; }

header { background-color: white; padding: 0; margin: 0; min-height: 40px; }
header div { float: left; }

.noscroll { overflow: hidden; }
.noscroll body { overflow: hidden; }

.logo { float: left; height: 40px; padding: 7px 0 0 8px; width: 50px; text-align: center; border-right: 1px solid #F0F0F0; }
.user { float: right; padding: 13px 10px 0 0; color: gray; font-size: 11px; }

h1 { font-weight: 400; font-family: $font; margin: 0 0 20px; padding: 0 0 10px; color: $color; font-size: 16px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
h1 b { font-weight: 700; }

h2 { font-weight: 400; font-family: 'Source Sans Pro'; margin: 0 0 12px 0; padding: 0; color: gray; font-size: 20px; }
h2 b { font-weight: 700; }
h2 .fa { margin-right: 10px; }

.menu { float: left; margin: 0; font-size: 12px; padding: 0; }
.menu a { position: relative; display: inline-block; width: 120px; border-right: 1px solid #F0F0F0; text-align: center; padding: 11px 0 12px; color: gray; font-family: $font; text-transform: uppercase; font-weight: 700; }
.menu a:hover { text-decoration: none; color: black; }
.menu .fa { margin-right: 5px; }
.menu .selected { background-color: $color; color: white !important; font-weight: 700; }
.menu-bk .selected:before { content: '\f0d7'; position: absolute; left: 50px; top: 25px; font-family: 'FontAwesome'; color: $color; font-size: 25px; }

#success { height: 30px; left: 0; top: 5px; right: 0; background: linear-gradient(#66B258,#509D43); font-size: 25px; line-height: 0; position: fixed; z-index: 20; color: white; text-align: right; padding: 3px 10px 0 0; box-shadow: 0 0 10px rgba(0,0,0,0.1); display: none; border-radius: 0 50px 50px 0; }
.container-padding { padding: 50px 0 20px; }

.green { color: #A0D468; }
.red { color: #ED5565; }
.b { font-weight: bold; }

.nmt { margin-top: 0 !important; }
.nmb { margin-bottom: 0 !important; }
.npt { padding-top: 0 !important; }
.npb { padding-bottom: 0 !important; }
.np { padding: 0 !important; }
.mr3 { margin-right: 3px !important; }
.mr5 { margin-right: 5px !important; }
.ml5 { margin-left: 5px !important; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }

.widgets { margin-bottom: 15px; }
.widgets .widget-svg { background-color: white; font-size: 11px; padding: 10px; border-radius: 0 0 4px 4px; }
.widgets .widget-title { font-size: 11px; text-align: center; border-bottom: 1px solid #F0F0F0; background: linear-gradient(white,#F8F8F8); color: #A0A0A0; padding: 10px 18px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; border-radius: 4px 4px 0 0; }
.widgets .widget svg { width: 100%; height: auto; }
.widgets .widget { cursor: pointer; }

.w100p { width: 100%; }

.submenu { padding: 0 0 25px; }
.submenu label { color: #505050; display: block; font-size: 12px; margin-bottom: 15px; font-weight: bold; text-transform: uppercase; }
.submenu a { display: block; font-size: 14px; color: #9F9F9F; margin-bottom: 5px; text-decoration: none; }
.submenu a:hover { color: #505050; }
.submenu .selected { color: #408EB9 !important; }
.submenu .fa { width: 12px; }

.usermenu { float: right; margin: 10px 10px 0 0; }
.usermenu .fa { margin-right: 5px; }
.usermenu a { color: gray; margin-left: 5px; text-decoration: none !important; }
.usermenu a:hover { color: $color; }
.usermenu a:first-child { margin-left: 0; }
.usermenu-logout { padding: 8px 10px; border-radius: 4px; background-color: #F0F0F0; }
.usermenu .selected { color: #408EB9; }

section { border: 1px solid #F0F0F0; background-color: white; border-radius: 4px; margin-bottom: 30px; position: relative; }
section > label { font-family: $font; text-transform: uppercase; color: #A0A0A0; padding: 10px 18px; display: block; border-bottom: 1px solid #F0F0F0; background: linear-gradient(white,#F8F8F8); border-radius: 4px 4px 0 0; font-size: 11px; font-weight: 700; }
section > label .fa { margin-right: 7px; }
.section-button { position: absolute; margin: 10px 0 0 0; right: 15px; font-size: 11px; }
.section-button a { color: #A0A0A0; }
.section-button .fa { margin-right: 5px; }

.ui-form section { border-color: #ECECEC; }
.silver { color: #A0A0A0; }

.padding { padding: 18px; }
.m { margin-bottom: 15px !important; }
.cl { clear: both; }
.center { text-align: center; }
.bg-smoke { background-color: #F8F8F8; }
.fs11 { font-size: 11px !important; }
.help { font-size: 11px; color: #A0A0A0; margin-top: 7px; line-height: 13px; }
.help .fa { margin-right: 5px; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 2px 5px; border-radius: 4px; }

.applications span { display: block; font-size: 11px; color: gray; }
.applications .fa-times-circle { position: absolute; cursor: pointer; color: #ED5565; font-size: 20px; width: 25px; padding: 10px 0; margin-top: -10px; }
.applications .fa-times-circle:active { margin-top: -8px; }
.applications img { margin-bottom: 10px; }
.applications { line-height: 15px; }
.applications > div > div { padding: 10px; }
.applications .name { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 12px; }
.applications .fa-circle { font-size: 11px; display: inline; margin-right: 5px; color: #6DBC41; }
.ui-app { cursor: pointer; }

.applications .offline { cursor: not-allowed; opacity: 0.8; color: #A0A0A0; border-radius: 4px; }
.applications .offline span { color: #A0A0A0; }
.applications .offline img { filter: grayscale(100%); }

.notifications { overflow: hidden; }
.notification { font-size: 12px; margin-bottom: 10px; cursor: pointer; }
.notification > img { float: left; width: 24px; border-radius: 4px; }
.notification > div { padding: 2px 0 10px; margin-left: 40px; border-bottom: 1px solid #F0F0F0; line-height: 14px; font-size: 11px; color: gray; }
.notification > div > div { font-weight: bold; margin-bottom: 3px; font-size: 12px; color: black; }
.notification > div > div span { font-weight: normal; font-size: 11px; margin-left: 5px; }
.notification .fa-times-circle { cursor: pointer; color: #A0A0A0; margin-right: 5px; font-size: 14px; user-select: none; }
.notification-clear { margin: 0 0 15px 40px; border-bottom: 1px solid #F0F0F0; padding-bottom: 3px; }
.notification-clear a { font-size: 11px; color: #A0A0A0; }
.notification-clear .fa { margin-right: 5px; }
.notification-empty { font-size: 11px; text-align: center; color: #A0A0A0; padding: 20px 0; }
.notification-empty .fa { font-size: 30px; display: block; margin-bottom: 5px; color: silver; }
.notification-success > div { color: #6DBC41; border-color: #6DBC41; }
.notification-alert > div { color: #ED5565; border-color: #ED5565; }

.filter .buttons { position: absolute; right: 0; top: 10px; }
.filter .buttons button { width: 34px; height: 30px; text-align: center; margin: 0; padding: 0; background-color: #E0E0E0; border: 0; font-size: 16px; outline: 0; border-radius: 0 0 4px 4px; margin-left: 5px; transition: all 0.1s; }
.filter .buttons button:hover { background-color: #D0D0D0; }
.relative { position: relative; }
.inline { position: relative; display: inline-block; }

.tag { position: relative; height: 23px; display: block; float: left; max-width: 200px; padding: 5px 10px 0 12px; border: 1px solid #c7deeb; border-left-width: 0; border-radius: 0 3px 3px 0; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; background-color: #d5ebf0; color: #505050; user-select: none; margin: 3px 8px; z-index: 2; text-decoration: none; line-height: 10px; }
.tag:before { content: ''; width: 16px; height: 17px; position: absolute; left: -8px; top: 2px; transform: rotate(45deg); border-left: 1px solid #c7deeb; border-bottom: 1px solid #c7deeb; border-radius: 2px; z-index: 1; background-color: #d5ebf0; border-bottom-left-radius: 3px; }
.tag:after { content: ''; width: 6px; height: 6px; background-color: #fff; border-radius: 4px; border: 1px solid #c7deeb; position: absolute; top: 6px; left: -1px; z-index: 2; }

.userapp-container { border-bottom: 1px solid #F0F0F0; margin-bottom: 10px; background-color: white; }
.userapp-container-disabled img { filter: grayscale(100%); }
.userapp-container-disabled { color: #A0A0A0; }
.userapp-container-disabled .userapp-roles { display: none; }
.userapp-checkbox { float: left; width: 30px; height: 30px; background-color: white; margin-right: 10px; border-radius: 4px; border: 2px solid #F0F0F0; cursor: pointer; color: #A0D468; padding: 3px 0 0 0; text-align: center; font-size: 20px; }
.userapp-container-disabled .userapp-checkbox .fa { display: none; }
.userapp-icon { float: left; margin-right: 10px; }
.userapp-header { height: 40px; line-height: 15px; }
.userapp-roles { margin-bottom: 10px; line-height: 0; }
.userapp-roles div { width: 33.3%; position: relative; display: inline-block; background-color: #F0F0F0; padding: 5px 10px; font-size: 11px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.userapp-roles label { cursor: pointer; }
.userapp-roles div:nth-child(odd) { background-color: #F8F8F8; }
.userapp-roles input { margin-right: 5px; }

.userwidget-container { border-bottom: 1px solid #F0F0F0; margin-bottom: 10px; background-color: white; user-select: none; }
.userwidget-container-disabled img { filter: grayscale(100%); }
.userwidget-container-disabled { color: #A0A0A0; }
.userwidget-container-disabled .userwidget-header { cursor: not-allowed; }
.userwidget-checkbox { float: left; width: 30px; height: 30px; background-color: white; margin-right: 10px; border-radius: 4px; border: 2px solid #F0F0F0; cursor: pointer; color: #A0D468; padding: 3px 0 0 0; text-align: center; font-size: 20px; }
.userwidget-container-disabled .userwidget-checkbox .fa { display: none; }
.userwidget-icon { float: left; margin-right: 10px; }
.userwidget-header { height: 40px; line-height: 15px; cursor: move; }

.keyvalue { border-bottom: 1px solid #F0F0F0; padding: 5px 0; margin-bottom: 10px; transition: all 0.3s; }
.keyvalue:hover { background-color: #F8F8F8; padding-left: 10px; padding-right: 10px; }
.keyvalue .key { font-size: 11px; font-weight: bold; margin-bottom: 2px; color: gray; }
.keyvalue .value { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 14px; color: #A0A0A0; }
.keyvalue .fa { margin-right: 5px; }
.upper { text-transform: uppercase; }

.ui-process-toolbar { position: fixed; height: 40px; left: 0; top: 0; right: 0; background: linear-gradient(#018FE2,#017CCA); box-shadow: 0 0 10px rgba(0,0,0,0.3); z-index: 11; }
.ui-process-toolbar .close { float: right; font-size: 20px; width: 40px; height: 40px; border: 0; background: transparent; color: white; text-align: center; outline: 0; cursor: pointer; transition: 0.3s all; }
.ui-process-toolbar .close:hover { opacity: 0.8; }
.ui-process-toolbar .close:active { margin-top: 1px; }
.ui-process-toolbar label { font-size: 16px; color: white; float: left; margin: 8px 0 0 10px; font-family: $font; }
.ui-process-toolbar .logo { width: 50px; height: 40px; background-color: white; }
.ui-processes-dock { float: left; padding: 8px 0 0 0; }
.ui-processes-dock a { float: left; margin-left: 10px; }
.ui-processes-dock a:active { margin-top: 1px; }
.ui-processes-dock img { border-radius: 4px; }

.ui-applications-widgets a { display: block; font-size: 16px; border-bottom: 1px solid #F0F0F0; padding: 5px 0; line-height: 16px; transition: 0.3s all; }
.ui-applications-widgets a span { font-size: 11px; display: block; color: #A0A0A0; }
.ui-applications-widgets a:hover { text-decoration: none; background-color: #F8F8F8; padding: 5px 10px; }

.container-empty { height: 30px; }

@media(max-width: 768px) {
	.menu { display: none; width: 100%; float: none; padding-top: 40px; }
	.menu a { display: block; width: 100%; border-top: 1px solid #F0F0F0; }
	.menu-visible { display: block; }
	.container-empty { height: 20px; }
	section { margin-bottom: 20px; }
	.widgets { margin-bottom: 5px; }
	.ui-process-toolbar .close { width: 50px; }
}
