<div class="container-empty"></div>
<div class="hidden-xs"><br /><br /></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<section>
				<label><i class="fa fa-user"></i>@(My account)</label>
				<div>
					<div class="padding">
						<div class="center">
							<br />
							<div data-component="photoupload" data-component-path="user.email" data-url="/internal/upload/photo/" data-upload-error="@(The file is too large.)"></div>
							<div class="help">@(Click on the photo for its change.)</div>
						</div>
						<hr />
						<div class="mt10" data-component="checkbox" data-component-path="account.sounds">@(Enable sounds)</div>
						<div data-component="checkbox" data-component-path="account.notifications">@(Enable flying notifications)</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>


<script>
	var account = {};

	function account_refresh() {
		account.sounds = user.sounds;
		account.notifications = user.notifications;
		account.skip = true;
		UPDATE('account');
	}

	WATCH('account.*', function(path, value) {

		if (account.skip) {
			account.skip = false;
			return;
		}

		KEYPRESS(function() {
			AJAX('POST /internal/account/', account, NOOP);
			user.sounds = account.sounds;
			user.notifications = account.notifications;
		}, 1000, 'account');
	});

</script>