<div data-component="form" data-component-path="common.form" data-if="applications" data-title="Application's details" data-autocenter="true" data-width="900px" data-component-id="applications.form">
	<div class="padding">
		<div class="row">
			<div class="col-md-3">
				<div class="padding">
					<div data-component="icon" data-component-path="applications.form.data.icon"></div>
					<div data-component="tagger" data-component-path="applications.form.data" class="mt10">
						<div data-name="name" class="b"></div>
						<div data-name="version" data-before="v"></div>
						<div data-name="author" class="fs11 silver mt10" data-before="@(Author:) "></div>
						<div data-name="email" class="fs11 silver"></div>
					</div>
				</div>
			</div>
			<div class="col-md-9" style="border-left: 1px solid #F0F0F0">
				<div class="padding">
					<div class="row">
						<div class="col-md-12 m">
							<div data-component="disable" data-component-path="applications.form.isupdate" data-if="value === true">
								<div data-component="textbox" data-component-path="applications.form.openplatform" data-maxlength="500" data-required="true" data-component-type="url" data-component-keypress-delay="2000">@(URL address to openplatform.json)</div>
								<div data-component="error" data-component-path="applications.form.data" class="ui-error-nm"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div data-component="textbox" data-component-path="applications.form.title" data-maxlength="50" data-required="true">@(Title)</div>
						</div>
					</div>
					<br />
					<div class="silver"><i class="fa fa-lock mr5"></i>@(Permissions)</div>
					<div class="mt10" data-component="checkbox" data-component-path="applications.form.serviceworker">@(Allow service worker)</div>
					<div data-component="checkbox" data-component-path="applications.form.notifications">@(Allow notifications)</div>
					<div data-component="checkbox" data-component-path="applications.form.users">@(Allow to read users)</div>
					<div data-component="checkbox" data-component-path="applications.form.applications">@(Allow to read applications)</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-9 col-md-offset-3">
				<div class="padding npt npb">
					<div data-component="validation" data-component-path="applications.form" class="inline" data-if="value && value.data && value.data.url">
						<button name="submit">@(SAVE)</button>
					</div>
					<button name="cancel">@(Cancel)</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	COMPONENT('icon', function() {
		var self = this;
		var last = '/img/empty.png';

		self.readonly();

		self.make = function() {
			self.html('<img src="{0}" class="img-responsive img-rounded" alt="Application Icon" />'.format(last));
		};

		self.setter = function(value) {
			if (!value)
				value = '/img/empty.png';
			if (last === value)
				return;
			last = value;
			self.find('img').attr('src', value);
		};
	});

	WATCH('applications.form.openplatform', function(path, value) {
		if (!value || !value.isURL())
			return;
		AJAX('GET /api/applications/download/', { openplatform: value }, function(response) {
			SET('applications.form.data', response);
			if (!applications.form.title)
				SET('applications.form.title', response.name);
		});
	});

	ON('#applications.form', function(component) {
		component.submit = function(hide) {
			AJAX('POST /api/applications/', applications.form, function(response) {
				console.log(response);
			});
		};
	});

</script>
