<!--
	<div class="widgets">
		<div class="container">
			<div class="row">
				<div class="col-md-3 m">
					<div class="widget">
						SVG WIDGET 1
					</div>
				</div>
				<div class="col-md-3 m">
					<div class="widget">
						SVG WIDGET 2
					</div>
				</div>
				<div class="col-md-3 m">
					<div class="widget">
						SVG WIDGET 3
					</div>
				</div>
				<div class="col-md-3 m">
					<div class="widget">
						SVG WIDGET 4
					</div>
				</div>
			</div>
		</div>
	</div>
-->

<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="col-md-8">

			<section data-component="visible" data-component-path="dashboard.applications" data-if="value.findIndex('running', true) !== -1" class="hidden">
				<label><i class="fa fa-spin fa-refresh"></i>Running applications</label>
				<div class="padding">
					<div data-component="applications" data-component-path="dashboard.applications" data-run="dashboard.current" data-running="true"></div>
				</div>
			</section>

			<div class="row">
				<div class="col-md-4 m">
					<div class="widget">
						SVG WIDGET 1
					</div>
				</div>
				<div class="col-md-4 m">
					<div class="widget">
						SVG WIDGET 2
					</div>
				</div>
				<div class="col-md-4 m">
					<div class="widget">
						SVG WIDGET 3
					</div>
				</div>
			</div>
			<br />

			<section data-component="visible" data-component-path="dashboard.applications" data-if="value.length" class="hidden">
				<label><i class="fa fa-th"></i>Applications</label>
				<div class="padding">
					<div data-component="applications" data-component-path="dashboard.applications" data-run="dashboard.current"></div>
				</div>
			</section>

		</div>
		<div class="col-md-4">
			<section>
				<label><i class="fa fa-bell"></i>Notifications</label>
				<div class="padding">
					<div class="notification">
						<img src="http://iosicongallery.com/img/512/placeboard-2016.png" alt="" border="0" />
						<div>
							<div class="header">Todomator <span>12.12.2016 o 12:00</span></div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate error libero ipsum odit accusantium?
						</div>
					</div>
					<div class="notification">
						<img src="http://iosicongallery.com/img/512/microsoft-outlook-email-calendar-2016.png" alt="" border="0" />
						<div>
							<div class="header">Outlook <span>12.12.2016 o 12:00</span></div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate error libero ipsum odit accusantium?
						</div>
					</div>
					<div class="notification">
						<img src="http://iosicongallery.com/img/512/placeboard-2016.png" alt="" border="0" />
						<div>
							<div class="header">Todomator <span>12.12.2016 o 12:00</span></div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate error libero ipsum odit accusantium?
						</div>
					</div>
				</div>
			</section>
			<div data-component-class="hidden" class="hidden" data-component="checkbox" data-component-path="user.sounds">Enable sounds</div>
			<div data-component-class="hidden" class="hidden" data-component="checkbox" data-component-path="user.notifications">Enable flying notifications</div>
		</div>
	</div>
</div>

<div data-component="processes" data-component-path="dashboard.current" data-source="dashboard.applications"></div>

<script>
	var dashboard = {};

	dashboard.applications = [];
	dashboard.current = '';

	function dashboard_refresh() {

		var running = {};
		for (var i = 0, length = dashboard.applications.length; i < length; i++) {
			var app = dashboard.applications[i];
			if (app.running)
				running[app.id] = true;
		}

		AJAX('GET /internal/dashboard/applications', function(response) {
			for (var i = 0, length = response.length; i < length; i++) {
				var is = running[response[i].id];
				response[i].running = is === true;
				delete running[response[i].id];
			}

			SET('dashboard.applications', response);

			setTimeout(function() {
				Object.keys(running).forEach(function(id) {
					SETTER('processes', 'kill', id);
				});
			}, 1000);

		});
	}

	// Each 3 minutes will be refresh
	setInterval(dashboard_refresh, 1000 * 60 * 3);
	dashboard_refresh();

</script>

