<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="col-md-8">

			<section data-component="visible" data-component-path="dashboard.applications" data-if="value.findIndex('running', true) !== -1" class="hidden">
				<label><i class="fa fa-spin fa-refresh"></i>Running applications</label>
				<div class="padding">
					<div data-component="applications" data-component-path="dashboard.applications" data-run="dashboard.current" data-running="true"></div>
				</div>
			</section>

			<div data-component="widgets" data-component-path="user.widgets" data-source="dashboard.applications"></div>

			<section data-component="visible" data-component-path="dashboard.applications" data-if="value.length" class="hidden">
				<label><i class="fa fa-th"></i>Applications</label>
				<div class="padding">
					<div data-component="applications" data-component-path="dashboard.applications" data-run="dashboard.current"></div>
				</div>
			</section>

		</div>
		<div class="col-md-4">
			<section>
				<label><i class="fa fa-bell"></i>Notifications</label>
				<div class="padding">
					<div data-component="notifications" data-component-path="dashboard.notifications" data-source="dashboard.applications" data-label-empty="@(You don't have any notifications.)" data-label-clear="@(Clear all notifications)"></div>
				</div>
			</section>
			<div data-component-class="hidden" class="hidden" data-component="checkbox" data-component-path="user.sounds">@(Enable sounds)</div>
			<div data-component-class="hidden" class="hidden" data-component="checkbox" data-component-path="user.notifications">@(Enable flying notifications)</div>
		</div>
	</div>
</div>

<div data-component="processes" data-component-path="dashboard.current" data-source="dashboard.applications"></div>

<script>
	var dashboard = {};

	dashboard.current = '';
	dashboard.applications = [];
	dashboard.notifications = [];

	function dashboard_refresh() {

		var running = {};
		for (var i = 0, length = dashboard.applications.length; i < length; i++) {
			var app = dashboard.applications[i];
			if (app.running)
				running[app.id] = true;
		}

		AJAX('GET /internal/dashboard/applications', function(response) {
			for (var i = 0, length = response.length; i < length; i++) {
				var is = running[response[i].id];
				response[i].running = is === true;
				delete running[response[i].id];
			}

			SET('dashboard.applications', response);

			setTimeout(function() {
				Object.keys(running).forEach(function(id) {
					SETTER('processes', 'kill', id);
				});
			}, 1000);
		});
	}

	function dashboard_notifications() {
		AJAX('GET /internal/dashboard/notifications/', function(response) {
			var arr = [];
			for (var i = 0, length = response.length; i < length; i++) {
				var item = response[i];
				var app = dashboard.applications.findItem('internal', item.internal);
				if (!app)
					continue;
				arr.push(item);
			}

			if (!arr.length)
				return;

			PUSH('dashboard.notifications', arr);
		});
	}

	setInterval(dashboard_notifications, 1000 * 30);
	setTimeout(dashboard_notifications, 1000);

	// Each 3 minutes will be refresh
	setInterval(dashboard_refresh, 1000 * 60 * 3);
	dashboard_refresh();

</script>

