<div data-jc="form" data-title="@(Rename group)" data-jc-path="common.form" data-if="value === 'renamegroup'" data-width="450px" data-jc-id="renamegroup" class="hidden">
	<div class="padding">
		<div class="row">
			<div class="col-md-12">
				<div data-jc="dropdown" data-jc-path="renamegroup.group_old" data-source="users.groups" data-required="true" data-empty="" class="m" data-jc-value="''">@(Existing group)</div>
				<div data-jc="textbox" data-jc-path="renamegroup.group_new" data-required="true" class="m" data-jc-value="''">@(New name)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-12">
				<div class="padding npt npb">
					<div data-jc="validation" data-jc-path="renamegroup" class="inline">
						<button name="submit" class="upper" data-jc="click" data-jc-path="renamegroup_submit">@(Submit)</button>
					</div>
					<button name="cancel">@(Close)</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var renamegroup = {};
	function renamegroup_submit() {
		RESET('renamegroup.*');
		AJAX('POST /internal/users/group/', renamegroup, function(response, err) {
			if (isError(err))
				return;
			DEFAULT('renamegroup.*');
			if (window.users_refresh)
				window.users_refresh();
			SET('common.form', '');
		});
	}
</script>