<div data-jc="form" data-title="@(Rename company)" data-jc-path="common.form" data-if="value === 'renamecompany'" data-width="450px" data-jc-id="renamecompany" class="hidden">
	<div class="padding">
		<div class="row">
			<div class="col-md-12">
				<div data-jc="dropdown" data-jc-path="renamecompany.company_old" data-source="users.companies" data-required="true" data-empty="" class="m" data-jc-value="''">@(Existing company)</div>
				<div data-jc="textbox" data-jc-path="renamecompany.company_new" data-required="true" class="m" data-jc-value="''">@(New company name)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-12">
				<div class="padding npt npb">
					<div data-jc="validation" data-jc-path="renamecompany" class="inline">
						<button name="submit" class="upper" data-jc="click" data-jc-path="renamecompany_submit">@(Submit)</button>
					</div>
					<button name="cancel">@(Close)</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var renamecompany = {};
	function renamecompany_submit() {
		RESET('renamecompany.*');
		AJAX('POST /internal/users/company/', renamecompany, function(response, err) {
			if (isError(err))
				return;
			DEFAULT('renamecompany.*');
			EXEC('users_refresh');
			SET('common.form', '');
		});
	}
</script>