<div data-component="form" data-title="@(Rename company)" data-component-path="common.form" data-if="renamecompany" data-width="450px" data-center="true" data-component-id="renamecompany">
	<div class="padding">
		<div class="row">
			<div class="col-md-12">
				<div data-component="dropdown" data-component-path="renamecompany.company_old" data-source="users.companies" data-required="true" data-empty="" class="m" data-component-value="''">@(Existing company)</div>
				<div data-component="textbox" data-component-path="renamecompany.company_new" data-required="true" class="m" data-component-value="''">@(New company name)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-12">
				<div class="padding npt npb">
					<div data-component="validation" data-component-path="renamecompany" class="inline">
						<button name="submit" class="upper" data-component="click" data-component-path="renamecompany_submit">@(Submit)</button>
					</div>
					<button name="cancel">@(Cancel)</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var renamecompany = {};
	function renamecompany_submit() {
		RESET('renamecompany.*');
		AJAX('POST /internal/users/company/', renamecompany, function(response, err) {
			if (isError(err))
				return;
			DEFAULT('renamecompany.*');
			if (window.users_refresh)
				window.users_refresh();
			SET('common.form', '');
		});
	}
</script>