<div data-jc="form" data-jc-path="common.form" data-if="value === 'notify'" data-title="@(Notify users)" data-width="600px" data-jc-id="form.notify" class="hidden">
	<br />
	<div class="ui-form-padding">
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="dropdown" data-jc-path="formnotify.type" data-jc-value="0" data-jc-type="number" data-options="@(Info)|0;@(Success)|1;@(Alert)|2">@(Notification's type)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="dropdowncheckbox" data-jc-path="formnotify.group" data-source="users.groups" data-jc-value="null">@(Group)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="textbox" data-jc-path="formnotify.body" data-maxlength="5000" data-required="true" data-control-icon="fa-envelope" data-jc-value="''">@(Message)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div data-jc="textbox" data-jc-path="formnotify.url" data-maxlength="500" data-jc-type="url" data-jc-value="''">@(URL address)</div>
				<div class="help">@(URL will be opened in new tab / window.)</div>
			</div>
		</div>
		<div data-jc="error" data-jc-path="formnotify.response" class="ui-error-nm" data-jc-value="null"></div>
	</div>
	<br />
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-12">
				<div class="padding npt npb">
					<div data-jc="validation" data-jc-path="formnotify" class="inline">
						<button name="submit">@(SEND)</button>
					</div>
					<button name="cancel">@(Close)</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var formnotify = {};
ON('#form.notify', function(component) {
	component.submit = function(hide) {
		RESET('formnotify.*');
		SETTER('loading', 'show');
		AJAX('POST /internal/users/notify/', formnotify, function(response, err) {
			SETTER('loading', 'hide', 1000);
			if (isError(err))
				return;
			SET('formnotify.response', response);
			if (!response.success)
				return;
			hide();
			DEFAULT('formnotify.*');
		});
	};
});
</script>