<div data-jc="form" data-title="@(Rename department)" data-jc-path="common.form" data-if="value === 'renamedepartment'" data-width="450px" data-jc-id="renamedepartment" class="hidden">
	<div class="padding">
		<div class="row">
			<div class="col-md-12">
				<div data-jc="dropdown" data-jc-path="renamedepartment.department_old" data-source="users.departments" data-required="true" data-empty="" class="m" data-jc-value="''">@(Existing department)</div>
				<div data-jc="textbox" data-jc-path="renamedepartment.department_new" data-required="true" class="m" data-jc-value="''">@(New department name)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-12">
				<div class="padding npt npb">
					<div data-jc="validation" data-jc-path="renamedepartment" class="inline">
						<button name="submit" class="upper" data-jc="click" data-jc-path="renamedepartment_submit">@(Submit)</button>
					</div>
					<button name="cancel">@(Close)</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var renamedepartment = {};
	function renamedepartment_submit() {
		RESET('renamedepartment.*');
		AJAX('POST /internal/users/department/', renamedepartment, function(response, err) {
			if (isError(err))
				return;
			DEFAULT('renamedepartment.*');
			EXEC('users_refresh');
			SET('common.form', '');
		});
	}
</script>