<div data-jc="form" data-title="@(Rename place)" data-jc-path="common.form" data-if="value === 'renameplace'" data-width="450px" data-jc-id="renameplace" class="hidden">
	<div class="padding">
		<div class="row">
			<div class="col-md-12">
				<div data-jc="dropdown" data-jc-path="renameplace.place_old" data-source="users.places" data-required="true" data-empty="" class="m" data-jc-value="''">@(Existing place)</div>
				<div data-jc="textbox" data-jc-path="renameplace.place_new" data-required="true" class="m" data-jc-value="''">@(New place name)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-12">
				<div class="padding npt npb">
					<div data-jc="validation" data-jc-path="renameplace" class="inline">
						<button name="submit" class="upper" data-jc="click" data-jc-path="renameplace_submit">@(Submit)</button>
					</div>
					<button name="cancel">@(Close)</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var renameplace = {};
	function renameplace_submit() {
		RESET('renameplace.*');
		AJAX('POST /internal/users/place/', renameplace, function(response, err) {
			if (isError(err))
				return;
			DEFAULT('renameplace.*');
			EXEC('users_refresh');
			SET('common.form', '');
		});
	}
</script>