<div data-component="form" data-component-path="common.form" data-if="widgets" data-title="@(My Widgets)" data-autocenter="true" data-width="600px" data-component-id="dashboard.widgets">
	<br />
	<div class="ui-form-padding">
		<div class="help"><i class=" fa fa-puzzle-piece"></i>@(All supported widgets:)</div>
		<br />
		<div data-component="userwidgets" data-component-path="formwidgets.widgets" data-source="dashboard.applications">
			<script type="text/html">
				<div class="userwidget-container{{ if !selected }} userwidget-container-disabled{{ fi }}" data-id="{{ id }}"{{ if selected }} draggable="true"{{ fi }}>
					<div class="userwidget-header">
						<div class="userwidget-checkbox"><i class="fa fa-check"></i></div>
						<div class="userwidget-icon"><img src="{{ icon }}" class="img-rounded" onerror="onImageError(this)" width="30" border="0" alt="{{ title }}" /></div>
						<b>{{ name }}</b>
						<div class="fs11">{{ title }}</div>
					</div>
				</div>
			</script>
		</div>
		<div data-component="error" data-component-path="formwidgets.response" class="ui-error-nm"></div>
	</div>
	<br />
	<div class="ui-form-buttons">
		<div class="row">
			<div class="col-md-12">
				<div class="padding npt npb">
					<div data-component="validation" data-component-path="formwidgets" class="inline">
						<button name="submit">@(SAVE)</button>
					</div>
					<button name="cancel">@(Cancel)</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var formwidgets = {};

ON('#dashboard.widgets', function(component) {
	component.submit = function(hide) {
		RESET('formwidgets.*');
		SETTER('loading', 'show');
		var widgets = FIND('userwidgets').prepare();
		AJAX('POST /internal/dashboard/widgets/', { array: widgets }, function(response, err) {
			SETTER('loading', 'hide', 1000);
			if (isError(err))
				return;
			SET('formwidgets.response', response);
			if (!response.success)
				return;
			SET('user.widgets', response.value);
			hide();
		});
	};
});

COMPONENT('userwidgets', function() {
	var self = this;
	var dragsource;

	self.getter = null;
	self.setter = null;

	self.make = function() {
		var el = self.find('script');
		self.template = Tangular.compile(el.html());
		self.toggle('userwidget');
		el.remove();

		self.element.on('click', '.userwidget-checkbox', function() {
			var el = $(this).closest('.userwidget-container');
			var cls = 'userwidget-container-disabled';
			var id = el.attr('data-id');
			el.toggleClass(cls);
			el.attr('draggable', !el.hasClass(cls));
			self.change(true);
		});

		self.element.on('dragstart dragover drop', '.userwidget-container', function(e) {

			if (e.type === 'dragover') {
				e.preventDefault();
				return;
			}

			if (e.type === 'dragstart') {
				dragsource = $(e.target);
				if (!dragsource.hasClass('userwidget-container'))
					dragsource = dragsource.closest('.userwidget-container');
				return;
			}

			var el = $(e.target).closest('.userwidget-container');
			if (!el.hasClass('userwidget-container'))
				el = el.closest('.userwidget-container');

			var cloned = el.clone();
			el.replaceWith(dragsource.clone());
			dragsource.replaceWith(cloned);
			self.change(true);
		});

		self.watch(self.attr('data-source'), function(path, value) {
			self.reload(value);
		}, true);
	};

	self.prepare = function() {
		var arr = [];

		self.find('.userwidget-container').each(function() {
			var el = $(this);
			if (el.hasClass('userwidget-container-disabled'))
				return;
			arr.push(el.attr('data-id'));
		});

		return arr;
	};

	self.save = function() {
		AJAX('GET /internal/dashboard/widgets/{0}/add/'.format(id), function(response, err) {
			SETTER('loading', 'hide', 1000);
			if (isError(err))
				return;
			if (!response.success)
				return;
			if (!user.widgets)
				user.widgets = [];
			PUSH('user.widgets', id);
		});
	};

	self.reload = function(value) {

		if (!value)
			return;

		var builder = [];
		var widgets = [];
		var cleaned = [];
		var processed = {};
		var item;

		for (var i = 0, length = value.length; i < length; i++) {
			item = value[i];
			if (!item.widgets)
				continue;
			item.widgets.forEach(function(widget) {

				if (widget.roles && widget.roles.length) {
					if (!item.roles || !item.roles.length || !widget.roles.hasRoles(item.roles))
						return;
				}

				widgets.push({ id: item.internal + 'X' + widget.internal, title: item.title, name: widget.name, icon: item.icon });
			});
		}

		if (NOTMODIFIED(self.id, widgets))
			return;

		for (var i = 0, length = user.widgets.length; i < length; i++) {
			item = widgets.findItem('id', user.widgets[i]);
			if (item) {
				processed[item.id] = true;
				item.selected = true;
				cleaned.push(item);
			}
		}

		for (var i = 0, length = widgets.length; i < length; i++) {
			item = widgets[i];
			if (processed[item.id])
				continue;
			cleaned.push(item);
		}

		for (var i = 0, length = cleaned.length; i < length; i++) {
			item = cleaned[i];
			builder.push(self.template(item));
		}

		self.html(builder);
	};
});
</script>