<div data---="largeform__common.panel__if:appsdesigner;reload:?/reload;submit:?/submit;icon:rocket;width:800;scrollbar:0" class="hidden" data-scope="appsdesigner">
	<div class="appsdesigner">
		<div class="header bg-smoke">
			<div class="pull-left" style="padding-left:15px">
				<button class="exec b" data-exec="?/create"><i class="fa fa-plus-circle green"></i>@(Create part)</button>
				<button class="exec" data-exec="?/components"><i class="fas fa-puzzle-piece"></i>@(Components)</button>
				<button class="exec" data-exec="?/editapp"><i class="fa fa-pencil"></i>@(Edit meta)</button>
			</div>
		</div>
		<div class="padding npt">

			<div data---="empty__?.items__icon:far fa-plus-circle;parent:auto">

				<script type="text/html">@(You need to create a part)</script>

				<div>
					<div data-bind="?.nav__show:value && value.length">
						<br />
						<h2>@(Navigation)</h2>
							<div data-bind="?.nav__template">
							<script type="text/html">
								{{ foreach m in value }}
									<div data-id="{{ m.id }}" class="item">
										<div class="controls">
											<button class="exec" title="@(Move up)" name="up" data-exec="?/move"><i class="fas fa-arrow-up"></i></button>
											<button class="exec" title="@(Move down)" name="down" data-exec="?/move"><i class="fas fa-arrow-down"></i></button>
											<button class="exec" title="@(Design UI)" data-exec="?/design"><i class="fas fa-brush"></i></button>
											<button class="exec" title="@(Update meta)" data-exec="?/edit"><i class="fas fa-pencil"></i></button>
											<button class="exec" title="@(Remove)" data-exec="?/remove"><i class="far fa-trash-o red"></i></button>
										</div>
										<div class="name"><i class="{{ m.icon }} opfg"></i>{{ m.name }} <span class="badge badge-small badge-{{ if m.type === 'view' }}green{{ else if m.type === 'form' }}yellow{{ else }}orange{{ fi }}">{{ m.type | designformtype }}</span></div>
									</div>
								{{ end }}
							</script>
						</div>
					</div>
					<div data-bind="?.parts__show:value && value.length">
						<br />
						<h2>@(Parts)</h2>
						<div data-bind="?.parts__template">
							<script type="text/html">
								{{ foreach m in value }}
									<div data-id="{{ m.id }}" class="item">
										<div class="controls">
											<button class="exec" title="@(Design UI)" data-exec="?/design"><i class="fas fa-brush"></i></button>
											<button class="exec" title="@(Update meta)" data-exec="?/edit"><i class="fas fa-pencil"></i></button>
											<button class="exec" title="@(Remove)" data-exec="?/remove"><i class="far fa-trash-o red"></i></button>
										</div>
										<div class="name"><i class="{{ m.icon }} opfg"></i>{{ m.name }} <span class="badge badge-small badge-{{ if m.type === 'view' }}green{{ else if m.type === 'form' }}yellow{{ else }}orange{{ fi }}">{{ m.type | designformtype }}</span></div>
									</div>
								{{ end }}
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<nav>
		<button name="cancel" style="width:100%">@(Close)</button>
	</nav>
</div>

<div data---="importer__common.form2__if:appsdesignerui;url:/panels/apps-designer-ui.html"></div>
<div data---="importer__common.form2__if:appsdesignercomponents;url:/panels/apps-designer-components.html"></div>

<script>

	var designformtypes = [{ id: 'view', name: 'View', icon: 'fas fa-columns' }, { id: 'largeform', name: 'Large form', icon: 'fab fa-wpforms' }, { id: 'form', name: 'Form', icon: 'far fa-window-maximize' }];

	Thelpers.designformtype = function(val) {
		return designformtypes.findValue('id', val, 'name', DEF.empty);
	};

	PLUGIN('appsdesigner', function(exports) {

		exports.reload = function(com) {

			var model = GET('?');
			var id = model.appid;

			com.reconfigure({ title: '@(UI): ' + Thelpers.encode(model.name) });

			builder.url_sources = 'GET /api/op/sources/?id=' + id;
			builder.url_sources_save = 'POST /api/op/sources/';
			builder.url_sources_delete = 'DELETE /api/op/sources/{0}/?id=' + id;
			builder.url_actions = 'GET /api/op/actions/?id=' + id;
			builder.url_designs = 'GET /api/op/ui/{0}/?id=' + id;
			builder.url_designs_save = 'POST /api/op/ui/?id=' + id;
			exports.refresh();
		};

		exports.editapp = function() {
			var model = GET('?');
			EXEC('appsgrid/edit', { id: model.appid });
		};

		exports.refresh = function() {
			exports.scope();
			var model = GET('?');
			AJAX('GET /api/op/ui/?id=' + model.appid, function(response) {

				var nav = [];
				var parts = [];

				for (var i = 0; i < response.length; i++) {
					var item = response[i];
					if (item.isnavigation)
						nav.push(item);
					else
						parts.push(item);
				}

				nav.quicksort('position');
				SET('?.nav', nav);
				SET('?.parts', parts);
				SET('?.items', response);

				OP.loading(false, 1000);
			});
		};

		exports.create = function() {
			SET(exports.name + 'ui @default', {});
			SET('common.form2', exports.name + 'ui');
		};

		exports.move = function(el) {
			var model = GET('?');
			var id = el.closest('.item').attrd('id');
			var move = el.attr('name');
			var index = model.nav.findIndex('id', id);
			var tmp;

			if (move === 'up') {
				tmp = model.nav[index - 1];
				if (!tmp)
					return;
				model.nav[index - 1] = model.nav[index];
				model.nav[index] = tmp;
			} else {
				tmp = model.nav[index + 1];
				if (!tmp)
					return;
				model.nav[index + 1] = model.nav[index];
				model.nav[index] = tmp;
			}

			var ids = [];
			for (var i = 0; i < model.nav.length; i++) {
				var item = model.nav[i];
				ids.push(item.id);
			}

			AJAX('GET /api/op/ui/sort/?id=' + model.appid + '&apps=' + ids.join(','), NOOP);
			UPD('?.nav');
		};

		exports.design = function(el) {
			var model = GET('?');
			var appid = model.appid;
			var id = el.closest('.item').attrd('id');
			OP.loading(true);
			OP.loading(false, 2000);
			EXEC('builder/edit', id, false, function(response) {

				for (var i = 0; i < response.sources.length; i++)
					response.sources[i].appid = appid;

				var meta = model.items.findItem('id', id);
				response.icon = meta.icon;
				response.version = meta.version;
				response.typeid = meta.typeid;
				response.isnavigation = meta.isnavigation;
				response.appid = appid;
			});
		};

		exports.components = function() {
			SET('common.form2', 'appsdesignercomponents');
		};

		exports.edit = function(el) {
			var model = GET('?');
			var appid = model.appid;
			var id = el.closest('.item').attrd('id');
			OP.loading(true);
			AJAX('GET /api/op/ui/' + id + '?id=' + appid, OP.done(function(response) {
				OP.loading(false, 1000);
				SET(exports.name + 'ui @reset', response);
				SET('common.form2', exports.name + 'ui');
			}));
		};

		exports.remove = function(el) {
			var model = GET('?');
			var appid = model.appid;
			var id = el.closest('.item').attrd('id');
			OP.confirm2('@(Are you sure you want to remove selected part?)', '"trash-o" @(Remove)', function() {
				OP.loading(true);
				AJAX('DELETE /api/op/ui/' + id + '?id=' + appid, OP.done(function(response) {
					OP.loading(false, 1000);
					exports.refresh();
				}));
			});
		};

		exports.tab = function(el) {
			SET('?.tab', el.attr('name'));
		};

	});

</script>