<div data-jc-controller="Apps">
	<br />
	<div class="container">
		<h1>@(Applications)</h1>
		<nav class="toolbar">
			<button class="right exec" data-exec="Apps/create"><i class="fa fa-plus-circle"></i>@(Create new)</button>
			<button class="b exec" data-exec="Apps/showFilter"><i class="fa fa-filter"></i>@(Filtering)</button>
			<span></span>
			<button class="exec" data-exec="Apps/checked" name="checked" disabled="disabled"><i class="fa fa-check-circle"></i>@(Checked)</button>
		</nav>
		<div class="fullheight">
			<div data-jc="grid" data-jc-path="apps.grid" data-jc-config="pagination:false;padding:10;checked:Apps/checkbox;button:Apps/operation">
				<script type="text/plain">
					[
						{ name: 'id', text: '', template: '<input type="checkbox" value="{{ id }}" />', size: '42px', header: '<input type="checkbox" value="{{ id }}" />', filter: false, sort: false, title: '@(Options)', align: 'center' },
						{ name: 'title', text: 'Title', size: 2, template: '<i class="fa fa-circle mr5 {{ if online }}green{{ else }}red{{ fi }}"></i>{{ title }}{{ if blocked }} <span class="badge badge-red">@(blocked)</span>{{ fi }}' },
						{ name: 'roles', text: 'Roles', size: 1, sort: false, filter: false, template: '{{ | approles }}', align: 'center', class: 'hidden-xs' },
						{ name: 'datecreated', text: 'Created', size: 1, format: 'yyyy-MM-dd', align: 'center', class: 'visible-lg' },
						{ name: '@(Options)', filter: false, align: 'center', sort: false, size: '80px', template: '<button name="update" title="@(Edit)"><i class="fa fa-pencil"></i></button><button name="remove" title="@(Remove)"><i class="fa fa-times"></i></button>' }
					]
				</script>
			</div>
		</div>
	</div>

	<div data-jc="importer" data-jc-path="common.form" data-jc-config="if:value === 'app';url:/forms/app.html"></div>

	<div data-jc="inlineform" data-jc-config="width:300;title:@(Filter applications)" class="hidden" data-jc-id="appsfilter">
		<div class="padding">
			<div data-jc="checkbox" data-jc-path="apps.filter.offline">@(Offline applications)</div>
			<div data-jc="checkbox" data-jc-path="apps.filter.blocked">@(Blocked applications)</div>
		</div>
		<div class="ui-inlineform-buttons">
			<button name="cancel" class="w100p">@(Close)</button>
		</div>
	</div>
</div>

<script>
	var apps = {};
	apps.grid = {};
	apps.grid.items = [];
	apps.grid.count = 0;
	apps.grid.pages = 1;
	apps.grid.page = 1;

	CONTROLLER('Apps', function(self) {

		var toolbar = self.virtualize({ btnChecked: '.toolbar button[name="checked"]' });

		self.scope = 'apps';

		self.refresh = function() {
			AJAX('GET /api/apps/', function(response) {
				apps.response = response;
				self.set('grid.items', CLONE(response));
			});
		};

		self.create = function() {
			self.set('form', { allowreadprofile: 1, allowreadusers: 0, allowreadapps: 0, allownotifications: true, responsive: true, allowreadmeta: true, accesstoken: GUID(30) }, true);
			SET('common.form', 'app');
		};

		self.showFilter = function(el) {
			SETTER('#appsfilter', 'toggle', el);
		};

		self.watch('filter', function(path, value) {
			setTimeout2(self.name + '.filter', function() {
				var arr = [];
				var filter = self.get('filter');
				var items = self.get('response');
				for (var i = 0, length = items.length; i < length; i++) {
					var item = items[i];
					if (filter.offline && item.online)
						continue;
					if (filter.blocked && !item.blocked)
						continue;
					arr.push(item);
				}
				self.set('grid.items', arr);
			}, 500, 10);
		});

		self.operation = function(btn, row, grid) {
			var name = btn.prop('name');
			switch (name) {
				case 'remove':
					SETTER('confirm', 'confirm', '@(Are you sure you want to remove selected app?)', ['"trash-o"@(Yes)', '@(Cancel)'], function(index) {
						if (index)
							return;
						SETTER('loading', 'show');
						AJAX('DELETE /api/apps/{0}/'.format(row.id), function(response) {
							SETTER('loading', 'hide', 1000);
							if (response.success) {
								SETTER('snackbar', 'success', '@(Application has been removed successfully.)');
								self.refresh();
							}
						});
					});
					break;
				case 'update':
					self.set('form', CLONE(row), true);
					SET('common.form', 'app');
					SETTER('loading', 'hide', 1000);
					break;
			}
		};

		self.checkbox = function(el, grid) {
			el && !el.value && grid.checked(el.checked);
			var count = grid.checked().length;
			toolbar.btnChecked.disable(count === 0);
		};

		self.checked = function(el) {
			var items = [];
			items.push({ id: 'remove', name: '@(Remove apps)', icon: 'trash' });
			SETTER('contextmenu', 'show', 'center', el, items, function(item) {
				switch (item.id) {
					case 'remove':
						SETTER('confirm', 'show', '@(Are you sure you want to remove all selected apps?)', ['"trash"@(Remove)', '@(No)'], function(index) {
							if (index)
								return;
							var arr = FIND('.{0}.grid'.format(self.scope)).checked().toArray();
							SETTER('loading', 'show', 'trash-o');
							arr.waitFor(function(el, next, index) {
								SET('common.progress', (index / arr.length) * 100);
								AJAX('DELETE /api/apps/{0}/'.format(el.value), next);
							}, function() {
								self.refresh();
								SETTER('loading', 'hide', 1000);
								SETTER('snackbar', 'success', '@(Apps have been removed successfully.)');
							});
						});
						break;
				}
			}, 0, 5);
		};

		self.refresh();
	});

	Tangular.register('approles', function() {
		var builder = [];
		var t = this;
		builder.push('<i title="@(Allow to read user profile)" class="fa approle fa-user {0}"></i>'.format(t.allowreadprofile ? 'green' : 'silver'));
		builder.push('<i title="@(Allow to read users)" class="fa approle fa-users {0}"></i>'.format(t.allowreadusers ? 'green' : 'silver'));
		builder.push('<i title="@(Allow to read applications)" class="fa approle fa-th {0}"></i>'.format(t.allowreadapps ? 'green' : 'silver'));
		builder.push('<i title="@(Allow to use notifications)" class="fa approle fa-bell {0}"></i>'.format(t.allownotifications ? 'green' : 'silver'));
		builder.push('<i title="@(Is responsive?)" class="fa approle fa-tablet {0}"></i>'.format(t.responsive ? 'green' : 'silver'));
		builder.push('<i title="@(Server-side verification)" class="fa approle fa-lock {0}" style="font-size:16px"></i>'.format(t.serververify ? 'green' : 'silver'));
		return builder.join('');
	});

</script>