<div data-jc-controller="Users">
	<br />
	<div class="container">
		<h1>@(Users)</h1>
		<nav class="toolbar">
			<button class="right exec" data-exec="Users/create"><i class="fa fa-plus-circle"></i>@(Create new)</button>
			<button class="b exec" data-exec="Users/showFilter"><i class="fa fa-filter"></i>@(Filtering)</button>
			<span></span>
			<button class="exec" data-exec="Users/showOptions"><i class="fa fa-cogs"></i>@(Options)</button>
			<span></span>
			<button class="exec" data-exec="Users/checked" name="checked" disabled="disabled"><i class="fa fa-check-circle"></i>@(Checked)</button>
		</nav>
		<div class="fullheight">
			<div data-jc="grid" data-jc-path="users.grid" data-jc-config="pagination:false;padding:10;checked:Users/checkbox;button:Users/operation">
				<script type="text/plain">
					[
						{ name: 'id', text: '', template: '<input type="checkbox" value="{{ id }}" />', size: '42px', header: '<input type="checkbox" value="{{ id }}" />', filter: false, sort: false, title: '@(Options)', align: 'center' },
						{ name: 'name', text: '@(Name)', size: 2, template: '{{ if inactive }}<span class="badge badge-silver mr5">@(inactive)</span>{{ else }}<i class="fa fa-circle mr5 {{ if online }}green{{ else }}red{{ fi }}"></i>{{ fi }}{{ name }}{{ if blocked }} <span class="badge badge-red">@(blocked)</span>{{ fi }}{{ if sa }} <span class="badge badge-green">@(superadmin)</span>{{ fi }}' },
						{ name: 'company', text: '@(Company)', size: 1, template: '<i class="fa fa-building-o mr5"></i>{{ company }}', class: 'hidden-xs' },
						{ name: 'group', text: '@(Group)', size: 1, class: 'hidden-xs' },
						{ name: 'position', text: '@(Position)', size: 1, template: '<i class="fa fa-address-card mr5"></i>{{ position }}', class: 'hidden-xs' },
						{ name: 'place', text: '@(Place)', size: 1, class: 'hidden-xs' },
						{ name: 'datecreated', text: '@(Created)', size: 1, format: '@(yyyy-MM-dd)', align: 'center', class: 'visible-lg' },
						{ name: '@(Options)', filter: false, align: 'center', sort: false, size: '80px', template: '<button name="update" title="@(Edit)"><i class="fa fa-pencil"></i></button><button name="remove" title="@(Remove)"><i class="fa fa-times"></i></button>' }
					]
				</script>
			</div>
		</div>
	</div>

	<div data-jc="inlineform" data-jc-config="width:300;title:@(Filter users)" class="hidden" data-jc-id="usersfilter">
		<div class="padding">
			<div data-jc="dropdowncheckbox" data-jc-path="users.filter.apps" data-jc-config="datasource:apps.response;value:id;text:title" class="m">Applications</div>
			<div data-jc="checkbox" data-jc-path="users.filter.online">@(On-line users)</div>
			<div data-jc="checkbox" data-jc-path="users.filter.blocked">@(Blocked users)</div>
			<div data-jc="checkbox" data-jc-path="users.filter.inactive">@(Inactive users)</div>
			<div data-jc="checkbox" data-jc-path="users.filter.unlogged">@(Unlogged users)</div>
		</div>
		<div class="ui-inlineform-buttons">
			<button name="cancel" class="w100p">@(Close)</button>
		</div>
	</div>

	<div data-jc="inlineform" data-jc-config="width:260;title:@(Options)" class="hidden" data-jc-id="usersoptions">
		<div class="padding">
			<div class="buttons">
				<div><button class="exec" data-exec="Users/notify"><i class="fa fa-bell"></i>@(Notify)</button></div>
				<div><button class="exec" data-exec="Users/rename"><i class="fa fa-pencil"></i>@(Rename)</button></div>
				<div><button class="exec" data-exec="Users/apps"><i class="fa fa-th"></i>@(Apps)</button></div>
			</div>
		</div>
		<div class="ui-inlineform-buttons">
			<button name="cancel" class="w100p">@(Close)</button>
		</div>
	</div>

	<div data-jc="importer" data-jc-path="common.form" data-jc-config="if:value === 'user';url:/forms/user.html"></div>
	<div data-jc="importer" data-jc-path="common.form" data-jc-config="if:value === 'userrename';url:/forms/user-rename.html"></div>
	<div data-jc="importer" data-jc-path="common.form" data-jc-config="if:value === 'userapps';url:/forms/user-apps.html"></div>
	<div data-jc="importer" data-jc-path="common.form" data-jc-config="if:value === 'usernotify';url:/forms/user-notify.html"></div>
</div>

<script>
	var users = {};

	users.filter = {};
	users.filter.online = false;

	users.grid = {};
	users.grid.items = [];
	users.grid.count = 0;
	users.grid.pages = 1;
	users.grid.page = 1;

	CONTROLLER('Users', function(self) {

		var toolbar = self.virtualize({ btnChecked: '.toolbar button[name="checked"]' });

		self.scope = 'users';

		self.refresh = function() {

			AJAX('GET /api/users/', function(response) {
				users.response = response;
				self.set('grid.items', CLONE(response));
			});

			!GET('apps.response') && AJAX('GET /api/apps/', 'apps.response');
			AJAX('GET /api/meta/', 'common.meta');
		};

		self.create = function() {
			SET('users.form', { password: GUID(10), rebuildtoken: true, accesstoken: GUID(40), apps: {}, sounds: true, notifications: true, notificationsemail: true, notificationsphone: true, volume: 50, gender: 'male', welcome: true }, true);
			DEFAULT('users.form.*');
			SET('common.form', 'user');
		};

		self.showFilter = function(el) {
			SETTER('#usersfilter', 'toggle', el);
		};

		self.showOptions = function(el) {
			SETTER('#usersoptions', 'toggle', el);
		};

		self.operation = function(btn, row, grid) {
			var name = btn.prop('name');
			switch (name) {
				case 'remove':
					SETTER('confirm', 'confirm', '@(Are you sure you want to remove selected user?)', ['"trash-o"@(Yes)', '@(Cancel)'], function(index) {
						if (index)
							return;
						SETTER('loading', 'show');
						AJAX('DELETE /api/users/{0}/'.format(row.id), function(response) {
							SETTER('loading', 'hide', 1000);
							if (response.success) {
								SETTER('snackbar', 'success', '@(User has been removed successfully.)');
								self.refresh();
							}
						});
					});
					break;
				case 'update':
					row.password = '*************';
					SET('users.form', CLONE(row), true);
					SET('common.form', 'user');
					break;
			}
		};

		self.rename = function(el) {
			SET('users.userrename', { type: '' }, true);
			SET('common.form', 'userrename');
			SETTER('#usersoptions', 'hide');
		};

		self.apps = function(el) {
			SET('users.userapps', {}, true);
			SET('common.form', 'userapps');
			SETTER('#usersoptions', 'hide');
		};

		self.notify = function(el) {
			SET('users.usernotify', { type: 'notification', subtype: 0 }, true);
			SET('common.form', 'usernotify');
			SETTER('#usersoptions', 'hide');
		};

		self.watch('filter', function(path, value) {
			setTimeout2(self.name + '.filter', function() {
				var arr = [];
				var filter = self.get('filter');
				var items = self.get('response');
				for (var i = 0, length = items.length; i < length; i++) {
					var item = items[i];
					if (filter.online && !item.online)
						continue;
					if (filter.blocked && !item.blocked)
						continue;
					if (filter.inactive && !item.inactive)
						continue;
					if (filter.unlogged && item.datelogged)
						continue;
					if (filter.apps && filter.apps.length) {
						var cancel = false;
						for (var j = 0; j < filter.apps.length; j++) {
							if (!item.apps[filter.apps[j]]) {
								cancel = true;
								break;
							}
						}
						if (cancel)
							continue;
					}
					arr.push(item);
				}
				self.set('grid.items', arr);
			}, 500, 10);
		});

		self.checkbox = function(el, grid) {
			el && !el.value && grid.checked(el.checked);
			var count = grid.checked().length;
			toolbar.btnChecked.disable(count === 0);
		};

		self.checked = function(el) {
			var items = [];
			items.push({ id: 'remove', name: '@(Remove users)', icon: 'trash' });
			SETTER('contextmenu', 'show', 'center', el, items, function(item) {
				switch (item.id) {
					case 'remove':
						SETTER('confirm', 'show', '@(Are you sure you want to remove all selected users?)', ['"trash"@(Remove)', '@(No)'], function(index) {
							if (index)
								return;
							var arr = FIND('.{0}.grid'.format(self.scope)).checked().toArray();
							SETTER('loading', 'show', 'trash-o');
							arr.waitFor(function(el, next, index) {
								SET('common.progress', (index / arr.length) * 100);
								AJAX('DELETE /api/users/{0}/'.format(el.value), next);
							}, function() {
								self.refresh();
								SETTER('loading', 'hide', 1000);
								SETTER('snackbar', 'success', '@(Users have been removed successfully.)');
							});
						});
						break;
				}
			}, 0, 5);
		};

		self.refresh();
	});

</script>