<div data-scope="appsgrid">
	<div class="header">
		<label><i class="fa fa-rocket"></i>@(Apps)</label>
		<div>
			<button class="exec" data-exec="?/create"><i class="fa fa-plus-circle green"></i>@(New)</button>
			<!--<button data-bind="?.selected__enabled:value && value.typeid==='designer'" disabled class="exec" data-exec="?/design"><i class="fa fa-brush"></i>@(Design)</button>-->
			<button data-bind="?.selected__enabled" disabled class="exec" data-exec="?/edit"><i class="fa fa-pencil"></i>@(Edit)</button>
			<button data-bind="?__enabled:value&&((value.checked&&value.checked.length)||value.selected)__track:checked,selected" class="exec" data-exec="?/remove" disabled><i class="fa fa-trash-o red"></i>@(Remove)</button>
		</div>
	</div>

	<div data---="datagrid__main.apps__height:.ui-layout-section;highlight:true;click:?.selected;dblclick:?/edit2;checked:?.checked;noborder:1;margin:45">
		<script type="text/plain">
			[
				{ name: 'id', text: '@(ID)', width: 140, hide: true },
				{ name: 'online', text: '@(Online)', width: 70, template: '{{ if online }}<span class="badge badge-small badge-green">@(online)</span>{{ fi }}', align: 1, sort: false, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'typeid', text: '@(Type)', width: 100, template: '<span class="badge badge-{{ if typeid === \'designer\' }}orange{{ else }}blue{{ fi }}">{{ typeid | appstype }}</span>', align: 1, sort: false, options: [{ text: '@(3rd party)', value: 'external' }, { text: '@(Designer)', value: 'designer' }] },
				{ name: 'blocked', text: '@(Blocked)', width: 100, template: '{{ blocked | boolean(\'red\') }}', align: 1, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'title', text: '@(Title)', width: 200, template: '{{ if workshopid }}<span class="badge badge-blue mr5">@(workshop)</span>{{ fi }}{{ title }}{{ if blocked }}<span class="badge badge-red ml5">@(blocked)</span>{{ fi }}' },
				{ name: 'version', text: '@(Version)', width: 100, align: 1 },
				{ name: 'count', text: '@(Running)', width: 100, align: 1, template: '{{ if count }}<span class="badge badge-silver">{{ count }}</span>{{ else }}---{{ fi }}' },
				{ name: 'email', text: '@(Email)', width: 200 },
				{ name: 'author', text: '@(Author)', width: 200 },
				{ name: 'roles', text: '@(Roles)', width: 250, template: '{{ if roles && roles.length }}<i class="fa fa-key"></i> {{ fi }}{{ roles | joinbgcolor(\' \') }}', sort: false, search: '{{ roles | join }}' },
				{ name: 'allowreadusers', text: '@(Users)', width: 100, template: '{{ allowreadusers | boolean }}', align: 1, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'allowreadapps', text: '@(Apps)', width: 100, template: '{{ allowreadusers | boolean }}', align: 1, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'allowreadprofile', text: '@(Profile)', width: 100, template: '{{ allowreadprofile | boolean }}', align: 1, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'allowreadmeta', text: '@(Meta)', width: 100, template: '{{ allowreadmeta | boolean }}', align: 1, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'services', text: '@(Services)', width: 100, template: '{{ services | boolean }}', align: 1, filter: false, sort: false },
				{ name: 'responsive', text: '@(Mobile)', width: 100, template: '{{ responsive | boolean }}', align: 1, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'position', text: '@(Position)', width: 100, align: 1 },
				{ name: 'accesstoken', text: '@(Access token)', width: 250, template: '<span data-token="{{ accesstoken }}" class="exec link" data-exec="?/showaccesstoken"><i class="fa fa-eye mr5"></i>@(Show token) ************</span>', sort: false, filter: false },
				{ name: 'dtsync', text: '@(Refreshed)', width: 120, align: 1, format: '[.user.dateformat]', filter: false },
				{ name: 'dtupdated', text: '@(Updated)', width: 120, align: 1, format: '[.user.dateformat]', filter: false },
				{ name: 'dtcreated', text: '@(Created)', width: 120, align: 1, format: '[.user.dateformat]', filter: false }
			]
		</script>
	</div>
</div>

<script>

	var appstypes = [{ id: 'external', name: '@(3rd party)' }, { id: 'designer', name: '@(Designer)' }];

	Thelpers.appstype = function(val) {
		return appstypes.findValue('id', val, 'name', DEF.empty);
	};

	PLUGIN('appsgrid', function(exports) {

		exports.edit = function(row) {

			if (row instanceof jQuery)
				row = GET('?.selected');

			AJAX('GET /api/op/apps/{id}/'.arg(row), function(response) {

				if (response.icon && response.icon.indexOf(' ')) {
					var tmp = response.icon.split(' ');
					tmp.reverse();
					tmp[1] = 'fa-' + tmp[1];
					response.icon = tmp.join(' ');
				}

				SETR('appsprofilepanel', CLONE(response));
				SET('common.panel', 'appsprofile');
			});
		};

		exports.edit2 = function(row) {

			if (row instanceof jQuery)
				row = GET('?.selected');

			if (!row)
				return;

			if (row.typeid === 'designer')
				exports.design(row);
			else
				exports.edit(row);
		};

		exports.showaccesstoken = function(el) {
			el.replaceWith('<span class="monospace">{0}</span>'.format(el.attrd('token')));
			OP.play('success');
		};

		exports.create = function(url) {

			if (typeof(url) !== 'string')
				url = '';

			SET('appsprofilepanel @reset', { sn: '', title: '', url: url || '', position: (main.apps.length + 1), typeid: 'external',allowreadmeta: true, allowguest: false, allowreadprofile: 1, allownotifications: true, allowreadusers: 1 });
			SET('common.panel', 'appsprofile');
		};

		exports.design = function(row) {

			if (row instanceof jQuery)
				row = GET('?.selected');

			if (!row)
				return;

			OP.loading(true);
			SET('appsdesigner @reset', { appid: row.id, name: row.name });
			SET('common.panel', 'appsdesigner', 1000);
		};

		exports.refresh = exports.reload = function() {
			EXEC('main/refreshapps');
		};

		exports.remove = function(el) {

			var checked = GET('?.checked');
			var selected = GET('?.selected');
			var arr;

			if (checked && checked.length)
				arr = checked;
			else if (selected)
				arr = [selected];

			OP.confirm2('@(Are you sure you want to remove selected apps?)', '"trash-o" @(Remove)', function() {
				OP.loading(true);
				arr.wait(function(item, next, index) {
					OP.progress((index / arr.length) * 100);
					AJAX('DELETE /api/op/apps/' + item.id, next);
				}, function() {
					OP.progress(100);
					OP.loading(false, 500);
					exports.scope();
					exports.refresh();
					EXEC('usersroles/refresh');
				});
			});
		};

	});
</script>