<div data-scope="apps">
	<div class="header">
		<label><i class="fa fa-rocket"></i>@(Apps)</label>
		<div>
			<button class="exec" data-exec="?/create"><i class="fa fa-plus-circle green"></i>@(Add)</button>
		</div>
	</div>

	<div data---="viewbox__?.items__parent:auto;scrollbar:1;scrollbarshadow:1;margin:45">
		<div data---="empty__main.apps__parent:auto;margin:45">

			<script type="text/html">
				@(You don't have defined any 3rd party apps)
			</script>

			<div>
				<div data-bind="main.apps__template" class="listing listingapps">
					<script type="text/html">
						{{ foreach m in value }}
						<figure>
							<div class="item exec{{ if m.blocked }} disabled{{ fi }}{{ if !m.online }} offline{{ fi }}" data-exec="?/edit" data-id="{{ m.id }}">
								<div class="name"><span class="exec" data-exec="?/options" data-prevent="true"><i class="far fa-arrow-alt-circle-down"></i></span><b class="hellip"><i class="{{ m.icon | icon }}"></i>{{ m.title }}{{ if !online }}<em>@(offline)</em>{{ fi }}</b></div>
								<div class="padding npb">
									<div class="info">{{ m.url | appurl }}</div>
									<div class="info">{{ m.email | empty }}</div>
								</div>
								<hr />
								<div class="padding npt">
									<div class="value"><span>{{ m.version | empty }}</span>@(Version)</div>
									<div class="value"><span>{{ m.author | empty }}</span>@(Author)</div>
									<div class="value"><span>{{ m.dtcreated | format }}</span>@(Created)</div>
								</div>
							</div>
						</figure>
						{{ end }}
					</script>
				</div>
				<br />
			</div>
		</div>

	</div>
</div>

<div data---="miniform__common.form__if:appssecrets;reload:apps/secrets_load;icon:fas fa-key;width:400" data-scope="apps">
	<script type="text/html">
		<div class="padding">
			<div class="help nmt npt">@(Access token):</div>
			<div>
				<div class="accesstoken mt5">
					<input type="password" readonly data-bind="?.selected.accesstoken__value__exec:?/topassword" />
				</div>
				<div class="help"><i class="far fa-copy"></i><span class="link exec" data-exec="?/showaccesstoken">@(Show access token)</span></div>
			</div>
		</div>
		<nav>
			<button name="cancel" style="width:100%">@(Cancel)</button>
		</nav>
	</script>
</div>

<script>

	var appstypes = [{ id: 'external', name: '@(3rd party)' }, { id: 'designer', name: '@(Designer)' }];

	Thelpers.appstype = function(val) {
		return appstypes.findValue('id', val, 'name', DEF.empty);
	};

	PLUGIN('apps', function(exports) {

		exports.secrets_load = function(com) {
			var selected = GET('?.selected');
			com.reconfigure({ title: selected.name });
		};

		exports.options = function(el) {
			var id = el.closest('.item').attrd('id');
			var item = main.apps.findItem('id', id);
			var opt = {};
			opt.element = el;
			opt.align = 'right';
			opt.items = [];
			opt.items.push({ id: 'detail', name: '@(Show access token)', icon: 'fa fa-eye' });
			opt.items.push('-');
			opt.items.push({ id: 'edit', name: '@(Edit)', icon: 'fa fa-pencil' });
			opt.items.push({ id: 'remove', name: '@(Remove)', icon: 'fa fa-trash-alt red' });
			opt.callback = function(selected) {
				switch (selected.id) {
					case 'edit':
						exports.edit(item);
						break;
					case 'detail':
						exports.secrets(item);
						break;
					case 'remove':
						OP.approve('@(Are you sure you want to remove selected application?)', '"trash-o" @(Remove)', function() {
							DAPI('apps_remove/' + item.id, exports.refresh);
						});
						break;
				}
			};
			SETTER('menu/show', opt);
		};

		exports.edit = function(row) {

			if (row instanceof jQuery)
				row = main.apps.findItem('id', row.attrd('id'));

			DAPI('apps_read/{id}'.arg(row), function(response) {

				if (response.icon && response.icon.indexOf(' ')) {
					var tmp = response.icon.split(' ');
					tmp.reverse();
					tmp[1] = 'fa-' + tmp[1];
					response.icon = tmp.join(' ');
				}

				SET('appsform @reset', CLONE(response));
				SET('common.form', 'appsform');
			});
		};

		exports.topassword = function(value, path, el) {
			el.attr('type', 'password');
		};

		exports.secrets = function(item) {
			if (item instanceof jQuery)
				item = GET('?.items').findItem('id', item.attrd('id'));
			SET('?.selected', item);
			SET('common.form', 'appssecrets');
		};

		exports.showaccesstoken = function(el) {
			var input = el.parent().parent().find('input');
			var type = input.attr('type');
			input.attr('type', type === 'password' ? 'text' : 'password');
			if (type === 'password') {
				input[0].select();
				OP.play('success');
			}
		};

		exports.create = function(url) {
			if (typeof(url) !== 'string')
				url = '';
			SET('appsform @reset', { sn: '', title: '', url: url || '', position: (main.apps.length + 1), typeid: 'external',allowreadmeta: true, allowguest: false, allowreadprofile: 1, allownotifications: true, allowreadusers: 1 });
			SET('common.form', 'appsform');
		};

		exports.refresh = exports.reload = function() {
			EXEC('main/refreshapps');
		};

	});

	Thelpers.appurl = function(val) {
		var index = val.indexOf('/', 10);
		return val.substring(0, index);
	};
</script>