<div data---="layout__null__parent:.ui-layout-main" class="invisible">

	<script type="text/plain">
		{
			left: { size: 200 },
			right: { size: 340 },
			main: {}
		}
	</script>

	<section data-type="right">
		<div data---="part__database.panel__if:schema;url:/parts/database-schema.html" class="invisible"></div>
		<div data---="part__database.panel__if:field;url:/parts/database-field.html" class="invisible"></div>
	</section>

	<section data-type="left">
		<div data---="viewbox__null__parent:.ui-layout-section;height:100;scrollbar:0">
			<div class="menu" data---="selected__database.selectedid__selector:.item[data-id];attr:id">
				<div class="item exec" data-exec="database/addschema"><i class="fa fa-plus-circle green"></i><span>@(Create new)</span></div>
				<hr style="margin:10px 0 15px" />
				<div data-bind="database.schemas__template">
					<script type="text/html">
					{{ foreach m in value }}
						<div class="item exec" data-id="{{ m.id }}" data-exec="database/find"><i class="fa fa-database"></i><span>{{ m.label }}</span></div>
					{{ end }}
					</script>
				</div>
			</div>
		</div>
	</section>

	<section data-type="main">
		<div data---="viewbox__null__parent:.ui-layout-section;height:100;scrollbar:1">
			<div data---="schema__database.items__width:6000;height:6000;grid:26;onselect:database/select;drag:label;onmove:database/move">
				<script type="text/html">
					<div class="componentschema">
						<label><i class="fa fa-database"></i> {{ label }}</label>
						{{ if note }}
						<div class="componentschema-note">{{ note }}</div>
						{{ fi }}
						<div class="componentschema-fields">
							<div>
							{{ foreach m in fields }}
								<div class="item exec" data-exec="database/updfield" data-id="{{ m.id }}">
									<span class="remove"><i class="fa fa-times"></i></span>
									<div><i class="fa fa-{{ if m.islinked }}link{{ else }}square{{ fi }}"></i> {{ m.label }} <em>{{ m.typetext }}{{ if m.length }}({{ m.length }}){{ fi }}</em></div>
								</div>
							{{ end }}
							</div>
							<span class="link exec" data-exec="database/addfield"><i class="fa fa-plus green fr"></i>@(Add field)</span>
						</div>
						<div class="componentschema-states">
							<div>
								{{ foreach m in states }}
									<div class="item">
										<span class="remove"><i class="fa fa-times"></i></span>
										<div>{{ m.name }}</div>
									</div>
								{{ end }}
							</div>
							<span class="link"><i class="fa fa-plus green fr"></i>@(Add state)</span>
						</div>
					</div>
				</script>
			</div>
		</div>
	</section>
</div>

<script>

	var database = { items: {} };
	var databasetypes = [{ name: '@(Text)', id: 'text' }, { name: '@(Capitalized text)', id: 'capitalize' }, { name: '@(Email)', id: 'email' }, { name: '@(Phone)', id: 'phone' }, { name: '@(ZIP)', id: 'zip' }, { name: '@(URL address)', id: 'url' }, { name: '@(Number)', id: 'number' }, { name: '@(Decimal)', id: 'decimal' }, { name: '@(Yes/No)', id: 'boolean' }, { name: '@(File)', id: 'file' }, { name: '@(Image)', id: 'image' }, { name: '@(IP address)', id: 'ip' }, { name: '@(Date/Time)', id: 'date' }, { name: '@(Priority)', id: 'priority' }, { name: 'User', id: 'user' }];

	AJAX('GET /api/op/meta/', 'database.meta');

	PLUGIN('database', function(exports) {

		exports.refresh = function() {

			databasetypes = databasetypes.remove('schema', true);

			AJAX('GET /api/op/schemas/', function(response) {
				var items = {};
				for (var i = 0; i < response.length; i++) {
					var item = response[i];
					item.connections = [];
					items[item.id] = item;
					for (var j = 0; j < item.fields.length; j++) {
						var field = item.fields[j];
						if (field.islinked) {
							// schema
							field.typetext = response.findValue('id', field.type, 'label');
							item.connections.push({ id: field.type });
						} else {
							var tmp = databasetypes.findItem('id', field.type);
							field.typetext = tmp ? tmp.name : field.type;
						}
					}
					databasetypes.push({ schema: true, id: item.id, name: '@(Schema:) ' + item.label, label: item.label, classname: 'b' });
				}

				SET('database.items', items);
				SET('database.schemas', response);
				UPD('databasetypes');
			});
		};

		exports.users = function(search, next) {
			var output = [];
			var q = search.toSearch();
			var take = 20;

			for (var i = 0; i < database.meta.groups.length; i++) {
				var item = database.meta.groups[i];
				if (!q || item.name.toSearch().indexOf(q) !== -1) {
					if ((take--)< 1)
						break;
					item = CLONE(item);
					item.text = '<b>group:</b> ' + item.name;
					item.name = 'group: ' + item.name;
					item.type = 'group';
					item.classname = 'b';
					item.value = 'R';
					output.push(item);
				}
			}

			take = 20;

			for (var i = 0; i < database.meta.groups.length; i++) {
				var item = database.meta.roles[i];
				if (!q || item.name.toSearch().indexOf(q) !== -1) {
					if ((take--)< 1)
						break;
					item = CLONE(item);
					item.text = '<b>role:</b> ' + item.name;
					item.name = 'role: ' + item.name;
					item.type = 'role';
					item.classname = 'b';
					item.value = 'R';
					output.push(item);
				}
			}

			AJAX('GET /api/op/users/', { q: search, limit: 20, fields: 'id,name' }, function(response) {

				for (var i = 0; i < response.items.length; i++)
					response.items[i].value = 'R';

				if (response.items.length)
					output.push.apply(output, response.items);

				next(output);
			});
		};

		exports.select = function(com) {
			setTimeout2('database', function() {
				if (com == null) {
					SET('database.panel', '');
					NULL('database.selectedid');
				} else {
					SET('database.selectedid', com.instance.id);
					SET('databaseschema', CLONE(com.instance), true);
					SET('database.panel', 'schema');
				}
			}, 300);
		};

		exports.move = function(el, com) {
			AJAX('POST /api/op/schemas/{id}/position/'.arg(com), { x: com.x, y: com.y }, NOOP);
		};

		exports.addfield = function(el) {
			clearTimeout2('database');
			DEFAULT('databasefield__{}');
			databasefield.schemaid = el.closest('.component').attrd('id');
			SET('database.panel', 'field');
		};

		exports.updfield = function(el) {
			var id = el.closest('.component').attrd('id');
			var field = CLONE(database.items[id].fields.findItem('id', el.attrd('id')));
			field.schemaid = id;
			SET('databasefield', field, true);
			SET('database.panel', 'field');
			clearTimeout2('database');
		};

		exports.addschema = function() {
			DEFAULT('databaseschema__{}');
			SET('database.panel', 'schema');
			// var id = 'NEW_' + Date.now();
			// var obj = database.items[id] = {};
			// obj.id = id;
			// obj.fields = [];
			// obj.text = 'Customers';
			// obj.name = 'customers';
			// UPD('database.items');
		};

		exports.find = function(el) {
			var id = el.attrd('id');
			SET('database.selectedid', id);
			CMD('schema.components.find', id);
		};

		WATCH('?.text', function(path, value) {
			if (!database.name)
				SET('database.name', value.toLowerCase());
		});

		exports.reload = exports.refresh;
	});

</script>