<div data-scope="reportsgrid">

	<div class="header">
		<label><i class="fa fa-bug"></i>@(Reports)</label>
		<div>
			<button data-bind="?__enabled:value&&((value.checked&&value.checked.length)||value.selected)__track:checked,selected" class="exec" data-exec="?/remove" disabled><i class="fa fa-trash red"></i>@(Remove)</button>
		</div>
	</div>

	<div data---="datagrid__?.items__height:.ui-layout-section;exec:?/filter;highlight:true;click:?.selected;dblclick:?/edit;checked:?.checked;noborder:1;margin:45;button:?/button">
		<script type="text/plain">
			[
				{ name: 'id', text: '@(ID)', width: 140, hide: true },
				{ name: 'type', text: '@(Type)', template: '{{ if solved }}<i class="fa fa-check-circle green mr5"></i>{{ fi }}{{ if !solved && priority }}<span class="badge badge-small badge-red mr5">@(high)</span>{{ fi }}{{ type | reporttype }}', width: 150 },
				{ name: 'appname', text: '@(Application)', width: 200 },
				{ name: 'username', text: '@(User)', width: 220, template: '{{ username }}{{ if userposition }} <span class="gray">/ {{ userposition }}</span>{{ fi }}' },
				{ name: 'body', text: '@(Message)', width: 400 },
				{ name: 'priority', text: '@(High)', width: 120, type: 'bool', align: 1 },
				{ name: 'solved', text: '@(Solved)', width: 120, type: 'bool', align: 1 },
				{ name: 'dtcreated', text: '@(Created)', width: 120, align: 1, format: '[ts]' },
				{ name: 'dtsolved', text: '@(Solved)', width: 120, align: 1, format: '[ts]' },
				{ type: 'controls', template: '<button name="edit"><i class="fa fa-bullseye mr5"></i>@(Detail)</button><button name="remove"><i class="fa fa-trash-o red"></i></button>' }
			]
		</script>
	</div>
</div>

<div data---="importer__common.form__if:reportsdetailform;url:/forms/report-detail.html"></div>

<script>

	Thelpers.reporttype = function(val) {
		switch (val) {
			case 'Bug':
				return '@(Bug)';
			case 'Feature':
				return '@(Feature request)';
			case 'Improvement':
				return '@(Improvement)';
		}
		return DEF.empty;
	};

	PLUGIN('reportsgrid', function(exports) {

		exports.refresh = function() {
			NULL('?.items');
		};

		exports.reload = function() {
			exports.refresh();
		};

		exports.button = function(name, row) {
			if (name === 'edit') {
				exports.edit(row);
			} else if (name === 'remove') {
				OP.approve('@(Are you sure you want to selected report?)', '"trash-o" @(Remove)', function() {
					DAPI('reports_remove/' + row.id, exports.refresh);
				});
			}
		};

		exports.filter = function(type, filter, sort, page) {

			if (type === 'init')
				return;

			if (filter == null)
				filter = {};

			filter.page = page || 1;
			filter.sort = sort;
			DAPI(QUERIFY('reports', filter), '?.items');
		};

		exports.edit = function(row) {

			if (row instanceof jQuery)
				row = GET('?.selected');

			SETR('reportsdetailform', CLONE(row));
			SET('common.form', 'reportsdetailform');
		};

		exports.remove = function(el) {
			var checked = GET('?.checked');
			var selected = GET('?.selected');
			var arr;

			if (checked && checked.length)
				arr = checked;
			else if (selected)
				arr = [selected];

			OP.approve('@(Are you sure you want to remove selected reports?)', '"trash-o" @(Remove)', function() {
				OP.loading(true);
				arr.wait(function(item, next, index) {
					OP.progress((index / arr.length) * 100);
					DAPI('reports_remove/' + item.id, next);
				}, function() {
					OP.progress(100);
					OP.loading(false, 500);
					exports.refresh();
				});
			});
		};

	});
</script>