<div data-scope="settings">
	<div class="header">
		<label><i class="fa fa-cog"></i>@(Settings)</label>
	</div>
	<div data---="viewbox__null__height:100;scrollbar:1;parent:.ui-layout-section;margin:100;$class:invisible" class="invisible">
		<div class="maxwidthleft">
			<div class="padding">

				<div class="alert m">
					<div><i class="fa fa-warning mr5"></i><strong>@(WARNING)</strong></div>
					@(Changing the URL address, will result in the loss of data in third-party apps. URL address is a unique identificator of OpenPlatform. Each third-party app creates a unique identificator of OpenPlatform from URL address and verification token.)
				</div>

				<div class="row">
					<div class="col-sm-4 m">
						<div data---="input__?.url__required:1;maxlength:500;type:url">@(URL address)</div>
					</div>
					<div class="col-sm-4 m">
						<div data---="input__?.name__required:1;maxlength:50">@(OpenPlatform name)</div>
					</div>
					<div class="col-sm-4 m">
						<div data---="input__?.email__required:1;type:email">@(Support email)</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 m">
						<div data---="input__?.verifytoken__maxlength:20;camouflage:•">@(Verification token)</div>
						<div class="help">@(Verification token is a simple security tool against Hijacking data of third-party apps. If you change it, you may lose data in third-party apps.) <span class="link exec" data-exec="?/verifytoken"><i class="fa fa-retweet"></i>@(Generate token)</span></div>
					</div>
					<div class="col-sm-4 m">
						<div data---="input__?.cookie_expiration__required:1;maxlength:20">@(Cookie / Session expiration)</div>
						<div class="help">@(Type an expiration time in the form: <code>2 days</code> or <code>3 minutes</code>)</div>
					</div>
				</div>

				<div class="caption">@(Appearance)</div>
				<div class="row">
					<div class="col-sm-6 m">
						<div data---="colorselector__settings.colorscheme__null__'#4285f4'"></div>
					</div>
				</div>

				<div style="font-size:12px">
					<div style="float:left" class="mr5"><i class="fa fa-camera mr5"></i>@(Background image:)</div>
					<div data---="singleupload__settings.background__url:/api/upload/background/;title:{{}};accept:image/*" class="b ui-singleupload">@(Upload image)</div>
				</div>
				<div class="clearfix"></div>

				<hr />
				<div class="row">
					<div class="col-sm-4">
						<div data---="checkbox__?.test">@(This is <b>Test environment</b>)</div>
						<div data---="checkbox__?.guest">@(Allow <b>Guest user</b>)</div>
						<div data---="checkbox__?.rebuildaccesstoken">@(Re-build access token)</div>
						<div data---="checkbox__?.allowclock__checkicon:clock-o">@(Show clock)</div>
						<div data---="checkbox__?.allowstatus__checkicon:smile">@(Allow custom users statuses)</div>
					</div>
					<div class="col-sm-4">
						<div data---="checkbox__?.allowprofile">@(Users can change their profile)</div>
						<div data---="checkbox__?.allowdesktop">@(Allow to change desktop mode)</div>
						<div data---="checkbox__?.allowbackground">@(Allow to change backgrounds)</div>
						<div data---="checkbox__?.allowtheme">@(Allow to change color themes)</div>
						<div data---="checkbox__?.allowdesktopfluid">@(Enable fluid desktop mode)</div>
					</div>
				</div>
				<hr />

				<div class="row">
					<div class="col-sm-4 m">
						<div data---="input__?.defaultappid__dirsource:main.apps;dirkey:title;dirempty:@(No application)">@(Default application)</div>
					</div>
					<div class="col-sm-4 m">
						<div data---="input__?.marketplace__maxlength:500;type:url;placeholder:https://domain.com/marketplace.html">@(Link to Marketplace)</div>
					</div>
					<div class="col-sm-4 m">
						<div data---="input__?.welcome__maxlength:500;type:url;placeholder:https://domain.com/welcome.html">@(Link to Welcome page)</div>
					</div>
				</div>
				<br />
				<div class="caption"><i class="far fa-envelope-o"></i>@(SMTP settings)</div>
				<div class="row">
					<div class="col-sm-4 m">
						<div data---="input__?.smtp__maxlength:100;placeholder:localhost__'localhost'">@(SMTP server)</div>
					</div>
					<div class="col-sm-4 m">
						<div data---="input__?.sender__type:email;forcevalidation:0__'@'">@(Sender email address)</div>
					</div>
				</div>
				<div data---="input__?.smtpsettings__maxlength:200;dirplaceholder:@(Search application);placeholder:localhost">@(SMTP settings)</div>
				<div class="help">@(SMTP settings have to be in valid <b>JSON format</b>, according to the Total.js documentation.) <a href="https://docs.totaljs.com/latest/en.html#pages~Troubleshooting~(smtp-settings-for-gmail-office-and-zoho)" target="_blank">@(Documentation)</a></div>
				<hr />
				<div data-bind="%settingssmtpresponse__template">
					<script type="text/html">
						{{ if value }}
							{{ if value.success }}
								<div class="inline-message"><i class="fa fa-check-circle"></i> @(SMTP server is <b>configured correctly</b>.)</div>
							{{ else }}
								<div class="inline-message inline-message-error"><i class="fa fa-warning"></i> {{ value[0].error }}</div>
							{{ fi }}
						{{ fi }}
					</script>
				</div>
				<div class="fs12 m">
					<span class="link exec" data-exec="?/verifysmtp"><i class="fa fa-angle-right mr5"></i>@(Verify SMTP server)</span>
				</div>
			</div>
		</div>
	</div>
	<div class="buttons" data---="validation__?__track:verifytoken">
		<button name="submit" class="submit exec" data-exec="?/submit" disabled>@(SAVE)</button>
		<span class="link cancel exec cancelmodified" data-exec="?/refresh">@(Cancel)</span>
	</div>
</div>

<script>

	PLUGIN('settings', function(exports) {

		var backup;

		exports.refresh = function() {
			AJAX('GET /api/op/settings/', function(response) {
				backup = CLONE(response);
				SETR('?', response);
				exports.verifysmtp();
			});
		};

		exports.reload = function() {
			exports.refresh();
		};

		exports.verifytoken = function() {
			SET('?.verifytoken', GUID(10));
		};

		exports.verifysmtp = function() {
			var model = GET('?');
			var data = {};
			data.smtp = model.smtp;
			data.smtpsettings = model.smtpsettings;
			AJAX('POST /api/op/settings/smtp/', data, '%settingssmtpresponse');
		};

		exports.submit = function() {
			var model = GETR('?');
			AJAX('POST /api/op/settings/', model, OP.done('@(Settings have been saved successfully)', function() {
				SET('common.marketplace', model.marketplace);
			}));
		};

		WATCH('?.url', function(path, value) {
			if (!value)
				SET('?.url', location.protocol + '//' + location.hostname);
		}, true);

	});
</script>