<div data-scope="users">

	<div class="header">
		<label><i class="fa fa-users"></i>@(Users)</label>
		<div>
			<button class="exec" data-exec="?/create"><i class="fa fa-plus-circle green"></i>@(New)</button>
			<button class="exec" data-exec="?/options"><i class="fa fa-cog"></i>@(Options)</button>
			<button data-bind="?__enabled:value&&((value.checked&&value.checked.length)||value.selected)__track:checked,selected" class="exec" data-exec="?/remove" disabled><i class="fa fa-trash-o red"></i>@(Remove)</button>
		</div>
	</div>

	<div data---="datagrid__?.items__height:.ui-layout-section;exec:?/filter;highlight:true;click:?.selected;dblclick:?/edit;checked:?.checked;noborder:1;margin:45;button:?/button">
		<script type="text/plain">
			[
				{ name: 'id', text: '@(ID)', width: 140, hide: true },
				{ name: 'groupid', text: '@(Group ID)', width: 120, hide: true },
				{ name: 'online', text: '@(Online)', width: 70, template: '{{ if online }}<span class="badge badge-small badge-green">@(online)</span>{{ fi }}', align: 1, sort: false, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'photo', text: '@(Photo)', width: 70, template: '{{ if photo }}<i class="fa fa-camera"></i>{{ fi }}', align: 1, sort: false, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'sa', text: '@(Admin)', width: 70, template: '{{ sa | boolean }}', align: 1, sort: false, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'gender', text: '@(Gender)', width: 100, options: [{ text: '@(Male)', value: 'male' }, { text: '@(Female)', value: 'female' }], template: '{{ if gender === \'female\' }}@(Female){{ else if gender === \'male\' }}@(Male){{ fi }}', sort: false },
				{ name: 'name', text: '@(Nickname)', width: 200, template: '{{ name }}{{ if blocked }}<span class="badge badge-red ml5">@(blocked)</span>{{ fi }}' },
				{ name: 'lastname', text: '@(Name)', width: 200, template: '{{ firstname }} {{ lastname }}' },
				{ name: 'groups', text: '@(Groups)', width: 250, template: '{{ groups | groups }}', sort: false, options: 'main.meta.groups' },
				{ name: 'statusid', text: '@(Status)', width: 120, template: '{{ statusid | status }}', sort: false, options: 'statuses', otext: 'name', ovalue: 'id' },
				{ name: 'reference', text: '@(Reference)', width: 150 },
				{ name: 'dn', text: '@(DN)', width: 350, hide: true },
				{ name: 'ou', text: '@(OU)', width: 350, template: '{{ ou | ou }}', hide: true },
				{ name: 'contractid', text: '@(Contract)', width: 150, template: '{{ contractid | contract }}', sort: false, options: 'contracts', otext: 'name', ovalue: 'id' },
				{ name: 'position', text: '@(Position)', width: 150, hide: true },
				{ name: 'email', text: '@(Email)', width: 200 },
				{ name: 'phone', text: '@(Phone)', width: 150 },
				{ name: 'company', text: '@(Company)', width: 200 },
				{ name: 'locality', text: '@(Locality)', width: 200 },
				{ name: 'language', text: '@(Language)', width: 80, template: '{{ language | language }}', align: 1, sort: false, options: 'languages' },
				{ name: 'dtbirth', text: '@(Age)', width: 100, sort: false, filter: false, template: '{{ dtbirth | age }}', align: 1 },
				{ name: 'blocked', text: '@(Blocked)', width: 80, template: '{{ blocked | boolean(\'red\') }}', align: 1, sort: false, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'inactive', text: '@(Inactive)', width: 80, template: '{{ inactive | boolean(\'red\') }}', align: 1, sort: false, options: [{ text: '@(Yes)', value: true }, { text: '@(No)', value: false }] },
				{ name: 'deputy', text: '@(Deputy)', width: 200 },
				{ name: 'supervisor', text: '@(Supervisor)', width: 200 },
				{ name: 'running', text: '@(Running)', width: 200, template: '{{ running | runningapps }}', filter: false, sort: false },
				{ name: 'note', text: '@(Note)', width: 200 },
				{ name: 'dtlogged', text: '@(Logged)', width: 120, align: 1, format: '[ts]' },
				{ name: 'dtupdated', text: '@(Updated)', width: 120, align: 1, format: '[ts]' },
				{ name: 'dtcreated', text: '@(Created)', width: 120, align: 1, format: '[ts]' },
				{ type: 'controls', template: '<button name="edit"><i class="fa fa-pencil mr5"></i>@(Edit)</button><button name="remove"><i class="fa fa-trash-o red"></i></button>' }
			]
		</script>
	</div>
</div>

<div data---="importer__common.form__if:usersform;url:/forms/user.html"></div>
<div data---="importer__common.form__if:assignform;url:/forms/assign.html"></div>

<script>

	Thelpers.age = function(val) {
		return val ? '@({0} years old)'.format((NOW.getFullYear() - val.getFullYear())) : '';
	};

	Thelpers.ou = function(val) {
		return val ? val.join('/') : '';
	};

	PLUGIN('users', function(exports) {

		exports.refresh = function() {
			NULL('?.items');
		};

		exports.reload = function() {
			WAIT('%cl', exports.refresh);
		};

		exports.options = function(el) {
			var opt = {};
			opt.element = el;
			opt.items = [];
			opt.items.push({ id: 'ldap', name: '@(Synchronize LDAP users)', icon: 'fas fa-sync' });
			opt.items.push({ id: 'assign', name: '@(Assign groups)', icon: 'fa fa-folder' });
			opt.align = 'right';
			opt.callback = function(item) {
				exports.scope();
				exports[item.id]();
			};
			SETTER('menu/show', opt);
		};

		exports.filter = function(type, filter, sort, page) {

			if (type === 'init')
				return;

			if (filter == null)
				filter = {};

			filter.page = page || 1;
			filter.sort = sort;
			DAPI(QUERIFY('users', filter) + ' @showloading', '?.items @hideloading');
		};

		exports.button = function(name, row) {
			if (name === 'edit') {
				exports.edit(row);
			} else if (name === 'remove') {
				OP.approve('@(Are you sure you want to remove "{0}"?)'.format(row.name), '"trash-o" @(Remove)', function() {
					DAPI('users_remove/' + row.id, exports.refresh);
				});
			}
		};

		exports.ldap = function() {
			OP.approve('@(Are you sure you want to synchronize users from LDAP?)', '"check-circle" @(Synchronize)', function() {
				DAPI('ldap_import @showloading', OP.done(exports.refresh));
			});
		};

		exports.edit = function(row) {

			if (row instanceof jQuery)
				row = GET('?.selected');

			DAPI('users_read/' + (typeof(row) === 'string' ? row : row.id) + ' @showloading', function(response) {
				if (response && response.id) {
					response.darkmode = response.darkmode ? 'true' : 'false';
					response.welcome = false;
					response.appsroles = {};
					response.password = '';

					if (response.running)
						response.running = response.running.trim();

					if (response.repo)
						response.repo = JSON.stringify(response.repo, null, '  ');
					else
						response.repo = '';

					for (var i = 0; i < response.apps.length; i++) {
						var app = response.apps[i];
						response.appsroles[app.id] = app.roles;
					}

					SET('usersform @reset @hideloading', response);
					SET('common.form', 'usersform');
				}
			});
		};

		exports.create = function() {
			SET('usersform @default', { password: GUID(20) });
			SET('common.form', 'usersform');
		};

		exports.assign = function() {
			SET('assignform @default', {});
			SET('common.form', 'assignform');
		};

		exports.remove = function(el) {
			var checked = GET('?.checked');
			var selected = GET('?.selected');
			var arr;

			if (checked && checked.length)
				arr = checked;
			else if (selected)
				arr = [selected];

			OP.approve('@(Are you sure you want to remove selected users?)', '"trash-o" @(Remove)', function() {
				OP.loading(true);
				arr.wait(function(item, next, index) {
					OP.progress((index / arr.length) * 100);
					DAPI('users_remove/' + item.id, next);
				}, function() {
					OP.progress(100);
					OP.loading(false, 500);
					exports.refresh();
				});
			});
		};

	});
</script>