@{layout('~mails/layout')}

<div style="text-align:center;padding:10px 0">
	<div style="color:#606060;border-bottom:1px solid #E0E0E0;padding-bottom:15px;margin-bottom:15px">@(You have <b>unread notifications</b> in @{'%name'}. You need to sign-in to @{'%name'} and read all notifications.)</div>
	@{if model.messages && model.messages.length}
	<div style="color:#606060;border-bottom:1px solid #E0E0E0;padding-bottom:15px;margin-bottom:15px;text-align:left">
		<div style="margin-bottom:10px"><strong>@(Latest notifications:)</strong></div>
		@{foreach m in model.messages}
		<div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;height:16px;line-height:16px;max-width:500px">&bull; <a href="@{'%url'}?notifications=1">@{m}</a></div>
		@{end}
	</div>
	@{fi}
	<div style="margin:10px 0 3px">@{'%name'}</div>
	<div style="overflow:hidden;font-size:18px"><a href="@{'%url'}?notifications=1">@{'%url'}</a></div>
</div>