@{layout('~mails/layout')}

<div style="font-size:20px;color:black">@(Reset Password)</div>
<br />
<div style="color:#606060">@(You used password recovery. Please click on the button below to reset your password. If you received this email by mistake, you might disregard it.)</div>
<br />
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Login name)</div>
	<div style="color:black">@{model.login}</div>
</div>
<div style="color:#DA4453;margin-top:10px"><b>@(Click on the link below:)</b></div>
<div style="overflow:hidden"><a href="@{'%url'}/?token=@{model.token}">@{'%url'}/?token=@{model.token}</a></div>