@{layout('~mails/layout')}

<div style="font-size:20px;color:black">@(Welcome)</div>
<br />
<div style="color:#606060">@(Dear user, welcome to <b>@{'%name'}</b>. We're excited that you've joined the platform. Please sign-in to your account via the link below.)</div>
<br />
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Platform)</div>
	<div style="color:black"><a href="@{'%url'}" style="color:black;text-decoration:none">@{'%url'}</a></div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Login name)</div>
	<div style="color:black">@{model.login}</div>
</div>
@{if model.token}
<div style="color:#DA4453;margin-top:10px"><b>@(Click on the link below:)</b></div>
<div style="overflow:hidden"><a href="@{'%url'}/?token=@{model.token}">@{'%url'}/?token=@{model.token}</a></div>
@{else}
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Password)</div>
	<div style="color:black">**********</div>
</div>
@{fi}